.header{width:100%;height:88px; }
.header1{position:relative; z-index:1; }
.header.header2{position:absolute;z-index: 99;background:transparent;}
.header.header1,.header.fix{background:#ff923a;}
.header.fix{position:fixed;z-index:99;top:0;left:0;height:100px;}
.head_wrap{width:1000px;position:relative;margin:0 auto;padding-top:20px;}.container{ min-width:1100px;}
.w_logo{position:absolute;left:0;height:40px;}
.head_nav{display:block;width:100%;height:16px;line-height:16px;margin-top:12px;text-align: right;}
.head_nav .nav_item{padding:0 16px;height:30px;color:#fff;font-size:16px; display:inline-block; position:relative; cursor:pointer;}
.head_nav .nav_item:after{content: "";width:1px;height:16px;background:#fff;position:absolute;right:0;top:0;}
.head_nav .nav_item:last-child:after{display:none;}
.head_nav .nav_item.active{color:#884f26;}
.head_nav  i.icon_arrow_down{display:inline-block;vertical-align:middle;width:6px;height:6px;border-bottom:1px solid #fff;border-right:1px solid #fff;transform:rotate(45deg);}
.lsmall{display:inline-block;color:#fff;font-size:12px;line-height:40px;margin-bottom:20px;}
.setting_list{ display:none; position:absolute; width:138px; left:0; top:28px; margin-left:0; background:#fff;}
.nav_item:hover .setting_list{display:block;}
.setting_list a{ display:block; height:40px; line-height:40px; text-align:center; color:#333;}
.setting_list a:hover{ background:#ef8b43; color:#fff;}