/*** 底部 ***/
.footer1{ width:100%; height:160px; display:block; box-sizing:border-box; padding:30px 0; background:#ff923a;}
.footer1 .ft_box{width:1000px;margin:0 auto;}
.footer1 .ft_box .ft_left{ float:left; position:relative; overflow: hidden; width:672px; height:100px; color:#fff; font-size:18px; border-right:1px solid #fff;  vertical-align:bottom;}
.footer1 .ft_box .ft_left .ft_left_bot{ width:100%; position:absolute; left:0; bottom: 0;}
.footer1 .ft_box .ft_left .ft_item>a{ color:#fff; text-decoration: none; margin-right:28px;}
.footer1 .ft_box .ft_left .cp_right{ margin-top:16px; font-size:12px; color:#ffc9a9;}
.footer1 .ft_box .ft_right{ box-sizing:border-box; float:left; width:320px; height:100px; padding-left:64px; color:#fff;}
.footer1 .ft_box .ft_right .scan_img{ float:left; margin-right:24px;}
.footer1 .ft_box .ft_right .tip{ margin:38px 0;}