

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>帮助中心 - 兼职猫</title>
<meta name="description" content="兼职猫是专业的求职、招聘平台，为求职者提供海量兼职信息，为企业储备人才。">

	<link rel="stylesheet" href="static/special/css/reset.css">
	<link rel="stylesheet" href="static/special/css/common.css">
	<link rel="stylesheet" href="static/special/css/help.css">
	<link rel="stylesheet" href="static/special/css/header.css">

	<link rel="stylesheet" href="static/special/css/footer.css">

<script>
//使低于IE9的浏览器兼容html5标签
(function() {
    if (!
    /*@cc_on!@*/
    0) return;
    var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, figcaption, footer, header, hgroup, main, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
    var i= e.length;
    while (i--){
        document.createElement(e[i])
    }
})()
</script>
<link rel="stylesheet"
	href="static/special/css/zip.css">
</head>

<body id="top" class="gray_bg">

	


<header class="header header1">
	<div class="head_wrap">
		<div class="w_logo">
			<a href="/">
			<img src="static/special/picture/logo.png" height="100%"/>
			</a>
		</div>
		
		<nav>
			<div class="w_nav">
				<a href="/"> <div  id="index_nav" class="nav_item">首页</div></a>
				<a href="http://guangzhou.jianzhimao.com"> <div class="nav_item">兼职网页版</div></a>
				<a href="/ctrlindex/enterprise.html"> <div id="enterprise_nav" class="nav_item">企业服务</div></a>
				<a href="/task/"><div id="mew_nav" class="nav_item"> 喵任务</div></a>
				

				<a href="/news/"><div id="news_nav" class="nav_item"> 行业资讯</div></a>
				<a href="/ctrlCooperate/help.html"><div id="help_nav" class="nav_item"> 帮助中心</div></a>
			</div>
		</nav>
	</div>
</header>
<script>
var cur_url=location.href;
	var index = new RegExp("/\.com/?"),
		mew = new RegExp("/ctrlmewtask/index"),
		enterprise = new RegExp("enterprise.html"),
		news = new RegExp("news.html"),
		help = new RegExp("help.html");
	
	if(index.test(cur_url)){
		var obj = document.getElementById("index_nav");
		obj.className=obj.className +" " +"active";
	}else if(mew.test(cur_url)){
		var obj = document.getElementById("mew_nav");
		//obj.className=obj.className +" " +"active";
	}else if(enterprise.test(cur_url)){
		var obj = document.getElementById("enterprise_nav");
		obj.className=obj.className +" " +"active";
	}else if(help.test(cur_url)){
		var obj = document.getElementById("help_nav");
		obj.className=obj.className +" " +"active";
	}else if(news.test(cur_url)){
		var obj = document.getElementById("news_nav");
		obj.className=obj.className +" " +"active";
	}

</script>
	<article class="help_container">
		<section class="help_box">
			<div class="w_main list_box">
				<div class="hd">
					常见问题
				</div>
				<ul class="help_list">
					<li>
						<h3 class="ttl"><span class="num">1</span> 在兼职猫找兼职是否收费？</h3>
						<div class="cnt">通过兼职猫找信息是完全免费的，不收取任何费用。建议您充分填写您的“个人简历”以便我们为您提供个性化的服务，提高应聘成功率。</div>
					</li>
					<li>
						<h3 class="ttl"><span class="num">2</span> 兼职猫发布兼职信息是否收费？</h3>
						<div class="cnt">兼职猫发信息是完全免费的，不收取任何费用。只需在网站的右上角，点注册，注册后就可以发布兼职信息了。如果是企业招聘需先完善真实有效的企业资料(企业认证)才能发布信息。</div>
					</li>
					<li>
						<h3 class="ttl"><span class="num">3</span> 用手机如何发布兼职信息？</h3>
						<div class="cnt">目前各大应用市场有兼职猫企业端APP下载，可支持企业发布兼职信息，同时也可以到www.jianzhimao.com发布兼职信息.
						</div>
					</li>
					<li>
						<h3 class="ttl"><span class="num">4</span> 个人用户如何发布兼职信息？</h3>
						<div class="cnt">目前兼职猫并不支持个人用户直接发布兼职信息，您可以重新注册企业账户进行认证后发布。</div>
					</li>
					<li>
						<h3 class="ttl"><span class="num">5</span> 哪些信息不建议在兼职猫上发布？</h3>
						<div class="cnt">与兼职无关的信息、无底薪的工作、网络兼职、校园代理等。</div>
					</li>
					<li>
						<h3 class="ttl"><span class="num">6</span> 如何举报不良兼职信息？</h3>
						<div class="cnt">
							兼职猫每个用户都有举报不良信息的权利，如果您在使用兼职猫过程中发现信息不符合兼职猫网站要求，您可以针对该信息进行举报；<br>
							具体操作步骤如下：<br>
							请先登录自己的兼职猫帐号，点击信息详情页的“举报”按钮，您可以描述举报内容或直接点击”提交“就可以举报成功。
						</div>
					</li>
					<li>
						<h3 class="ttl"><span class="num">7</span> 提高信息效果的小技巧</h3>
						<div class="cnt">信息发布成功后，就会有转发到其他平台的功能了，大家可以将自己发布的信息转载到新浪微博，QQ微博，QQ空间和人人网等不同的平台当中，让信息的效果更突出，看到的人更多，交易更迅速！</div>
					</li>
					<li>
						<h3 class="ttl"><span class="num">8</span> 如何关注兼职猫微信公众号？</h3>
						<div class="cnt">您可以搜索公众号“兼职猫订阅号”或“jianzhimao2014”。</div>
					</li>
				</ul>
			</div>
		</section>
		<section class="help_box sbm_box">
				<form>
					<div class="sbm_title">咨询留言<small>Leave a message</small></div>
					<div class="sbm_flex_box">
						<div class="sbm_item"><label>姓名</label><input id="name" ></div>
						<div class="sbm_item"><label>QQ</label><input id="qq" ></div>
						<div class="sbm_item"><label>邮箱</label><input id="email" ></div>
					</div>

					<textarea id="txt" class="sbm_textarea"  placeholder="请输入您想问我们的问题..."></textarea>
					<div class="btn_theme" style="cursor:pointer;" id="sbm">提交</div>
					<!--<h2>
						咨询留言<span>Leave a message</span><input id="sbm" type="button"
							value="提 交" />
					</h2>
					<div class="box">
						<p>
							<label>称呼：<input id="name"></label> <label>QQ： <input
								id="qq"></label> <label>邮箱：<input id="email"></label><br>
							<label style="position: relative;"> 校验码：<input name="jym"
								id="jym" placeholder="点击获取"
								style="width: 100px; padding: 0 5px; font-size: 16px;" /><img
								style="height: 28px; width: 100px; position: absolute; top: 0; left: 200px; display: none;"
								src="static/special/picture/05b58f8872c5442eb2cadae8e3b08a4a.gif" id="imgId"></label>
						</p>

						<p>
							<textarea id="txt" placeholder="请输入您想问我们的问题..."></textarea>
						</p>
					</div>-->
				</form>
		</section>
	</article>



    <footer class="footer">
        <div class="footer1">
            <div class="ft_box">
                <div class="ft_left">
                    <div class="ft_left_bot">
                        <div class="ft_item">
                            <a target="_blank" rel="nofollow" href="//www.jianzhimao.com/ctrlindex/contact.html" style="padding-left: 0;">关于我们</a>
                            <a target="_blank" rel="nofollow" href="//www.jianzhimao.com/ctrlindex/join.html">加入我们</a>
                            <a target="_blank" rel="nofollow" href="//www.jianzhimao.com/ctrlindex/enterprise.html">企业推广</a>
                            <a target="_blank" rel="nofollow" href="//www.jianzhimao.com/ctrlCooperate/help.html">帮助中心</a>
                        </div>
                        <p class="cp_right"> Copyright©2018 兼职猫 jianzhimao.com 广州九尾信息科技有限公司 版权所有   <a style="color:#ffc9a9;" href="http://www.miibeian.gov.cn" target="_blank">粤ICP备13061591号 </a></p>
                    </div>
                </div>
                <div class="ft_right">
                    <img src="static/special/picture/code_dingyuehao.jpg" class="scan_img" />
                    <div class="tip">
                        <p>扫描关注微信号</p><p>[兼职猫]</p>
                    </div>

                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript">

    //CNZZ统计
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1000413010'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1000413010' async type='text/javascript'%3E%3C/script%3E"));

    //baidu统计
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript async src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F447f87add4dbd73deca17a45d8536dbd' type='text/javascript'%3E%3C/script%3E"));

    </script>

<script>
//延迟CNZZ统计, 以免影响页面载入

</script>
<script type='text/javascript'>
		var user_id="";
		var company_name="";
		var user_name="";
		var company_id="";
		var _vds = _vds || [];
        window._vds = _vds;
        (function(){
        	
          _vds.push(['setAccountId', 'b0d18e1f996f733e']);
          _vds.push(['setCS1', 'user_id', user_id]);
          _vds.push(['setCS2', 'company_id', company_id]);
          _vds.push(['setCS3', 'user_name', company_name]);
          _vds.push(['setCS3', 'company_name', company_name]);
         

          (function() {
            var vds = document.createElement('script');
            vds.type='text/javascript';
            vds.async = true;
            vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(vds, s);
          })();
        })();
</script>
<script>
//判断当前浏览类型  
function checkBrowserType()  
{  
	var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串  
	var isOpera = userAgent.indexOf("Opera") > -1; //判断是否Opera浏览器  
	var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 && !isOpera; //判断是否IE浏览器  
	var isEdge = userAgent.indexOf("Windows NT 6.1; Trident/7.0;") > -1 && !isIE; //判断是否IE的Edge浏览器  
	var isFF = userAgent.indexOf("Firefox") > -1; //判断是否Firefox浏览器  
	var isSafari = userAgent.indexOf("Safari") > -1 && userAgent.indexOf("Chrome") == -1; //判断是否Safari浏览器  
	var isChrome = userAgent.indexOf("Chrome") > -1 && userAgent.indexOf("Safari") > -1; //判断Chrome浏览器  

	if (isIE)   
	{  
		 var reIE = new RegExp("MSIE (\\d+\\.\\d+);");  
		 reIE.test(userAgent);  
		 var fIEVersion = parseFloat(RegExp["$1"]);  
		 if(fIEVersion == 7)  
		 { return "IE7";}  
		 else if(fIEVersion == 8)  
		 { return "IE8";}  
		 else if(fIEVersion == 9)  
		 { return "IE9";}  
		 else if(fIEVersion == 10)  
		 { return "IE10";}  
		 else if(fIEVersion == 11)  
		 { return "IE11";}  
		 else  
		 { return "0"}//IE版本过低  
	 }//isIE end  
	   
	 if (isFF) {  return "FF";}  
	 if (isOpera) {  return "Opera";}  
	 if (isSafari) {  return "Safari";}  
	 if (isChrome) { return "Chrome";}  
	 if (isEdge) { return "Edge";}  
 }//myBrowser() end  
 var _t = checkBrowserType();
 if(_t=="IE7" || _t=="IE8" ||_t=="0"){
	if(document.getElementById("borwserTips")==undefined){
		var div = document.createElement("div");
		div.setAttribute("id","borwserTips");
		var txt = document.createTextNode("抱歉，你所用的浏览器版本过低，导致部分内容无法正常使用，可考虑升级IE9及以上版本或更换谷歌，火狐等浏览器进行使用，体验更佳哟。");
		div.appendChild(txt);
		div.style.background = "#fef9e5";
		div.style.color = "#ff5202";
		div.style.fontSize = "14px";
		div.style.textAlign = "center";
		div.style.height = "30px";
		div.style.lineHeight = "30px";
		var firstChild = document.body;
		firstChild.insertBefore(div,firstChild.childNodes[0])
	}
 }


 function isweixindo(){
			if(is_weixin()){
				$("#tipweixin").show();
			}else{
			}
 }
function is_weixin(){
	var ua = navigator.userAgent.toLowerCase();
	if(ua.match(/MicroMessenger/i)=="micromessenger") {
		return true;
	} else {
		return false;
	}
}

// 函数
 function browser_pc() {
      var userAgentInfo = navigator.userAgent;
      var Agents = ["Android", "iPhone",
                  "SymbianOS", "Windows Phone",
                  "iPad", "iPod"];
      var flag = true;
      for (var v = 0; v < Agents.length; v++) {
          if (userAgentInfo.indexOf(Agents[v]) > 0) {
              flag = false;
              break;
          }
      }
      return flag;
}

//判断是否是苹果端
function is_ios() {
    var u = navigator.userAgent;
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    return isiOS;
}
</script>


<input type="hidden" id="token" value="4c757a92-f7e7-4bcf-9199-3e93dbcc8f77">
</body>
</html>
<script src="static/special/js/sea.js"></script>
<script>
var host="jianzhimao.com";
	
	seajs.use('help');
</script>