






<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>山西忻州神秘顾客/酒店评估师_山西大同南郊_70元/次- 兼职猫</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="keywords" type="keywords" content="山西忻州神秘顾客/酒店评估师兼职招聘">
<meta name="description" type="description"
	content="最新山西忻州神秘顾客/酒店评估师招聘兼职信息" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<!--  使低于IE9版本的浏览器支持html5标签  -->
<!--[if lt IE 9]>
        <script src="static/js/html5_2.js"></script>
        <![endif]-->
<link rel="icon"
	href="http://oss.aliyuncs.com/jianzhimao/web-res/icon/jianzhimao-logo-min.png?version=2.28.23"
	type="image/x-icon" />
<link resl="shortcut icon"
	href="http://oss.aliyuncs.com/jianzhimao/web-res/icon/jianzhimao-logo-min.png?version=2.28.23"
	type="image/x-icon" />
<link rel="stylesheet"
	href="static/css/reset_2.css">
<link rel="stylesheet"
	href="static/css/header2_1.css">
<link rel="stylesheet" href="static/css/index_2.css">
<link rel="stylesheet"
	href="static/css/article_1.css">

<link rel="stylesheet"
	href="static/css/content_ad_box_2.css">
<link rel="stylesheet" href="static/css/container_footer_2.css">
<link rel="stylesheet" href="static/css/footer_2.css">
<!--  font-awesome图标集  -->
<link rel="stylesheet"
	href="static/css/font-awesome.min_2.css">
<!--[if IE 7]>
        <link rel="stylesheet" href="static/css/font-awesome-ie7.min_2.css">

        <![endif]-->
<link rel="stylesheet"
	href="static/css/alt_2.css">
</head>
<body style="background:#f3f5f6;">
	
	




<header class="header">
	<nav class="w_main navigation_box">
		<div class="logo_wrap" style="float: left; margin-top:5px;">
			<a  href="/" class="logo"><img
				src="static/picture/logo2 (1)_1.png"
				alt="兼职猫logo"></a>
		</div>
		<div class="channel_box">
			<a rel="nofollow" href="http://www.jianzhimao.com">首页</a> 
			<a rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/qghz.html">申请社团赞助</a>
			
			<a rel="nofollow" href="http://www.jianzhimao.com/ctrlindex/enterprise.html">企业推广</a>

			

			| 
			
			
				<a rel="nofollow" href="http://www.jianzhimao.com/ctrlcity/login"
					class="selected">登录</a>
				
			
		    
		    
		    
			
			
		</div>
	</nav>
	<div id="cooperation_box_alt" class="cooperation_box_alt">
        <div class="cooperation_box_overlay"></div>
        <div class="cooperation_box">
            <div class="title">申请合作<a class="close_btn" href="javascript:;" onclick="this.parentNode.parentNode.parentNode.style.display='none'">×</a></div>
            <div class="cont">
                <div class="p_left"><img src="static/picture/cooperation_2.png" alt="申请合作"></div>
                <div class="p_right">
                    <a rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/qydl.html" target="_blank" class="btn company">申请区域代理</a>
                    <a rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/wzhz.html" target="_blank" class="btn websize">申请网站合作</a>
                    <a rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/qghz.html" target="_blank" class="btn school">申请勤工合作</a>
                </div>
            </div>
        </div>
    </div>
</header>
	<input type="hidden" id="m_link" name="m_link" value="">
	<section class="container">
		<article class="w_main">

			<div class="content_box clearfix">
				<div class="p_left">
					<div class="m-crumb">
						<a href="/">大同兼职猫</a> <i class="icon-angle-right"></i>
						<a href="/dbx_diaoyan_0/">大同调研</a> <i class="icon-angle-right"></i>
						<span>兼职"山西忻州神秘顾客/酒店评估师"</span>
					</div>
					

					
					
						<div class="content_wrap">
							<div class="job_header">
								<h1 class="job_title">山西忻州神秘顾客/酒店评估师</h1>
								<p class="info">柏迩投资咨询（上海）有限公司</p>
								<div class="job_base"><span class="job_price">
									
										70元/次
										
										
									
								</span> | <a class="job_type"  href="/dbx_diaoyan_0/"  target="blank">调研</a> | <span class="job_publish">发布时间： 2018-08-22</span></div>
								<div class="apply_wrap" >
								
									
										
										
											
											
												<div class="btn_theme" id="go_to_apply" >报名兼职</div>
											
										
									
								

						<div class="apply_box"><p>微信扫码快速报名<br>及时反馈录用情况</p><div class="qrcode" id="qrcode"></div></div>
						</div>
						<div class="apply_mask" id="applyMask">
						</div>


						</div>
						 <!-- 2016-9-8 新增区别兼职只能在app报名 -->
						 

						
                            <!-- 2016-9-8 新增区别兼职只能在app报名 end -->
						
						<div class="job_content">
							
								
								
									<ul class="job_list">
										<li><span class="tit">招聘人数: </span><span class="con">100</span></li>
										<li><span class="tit">上班地点: </span><span class="con">山西大同南郊</span></li>
									</ul>
									<ul class="job_list">
										
										<li><span class="tit">时间要求: </span><span class="con">能工作三个月以上</span></li>
										
										
											<li><span class="tit">工作种类: </span><span class="con">
											
												长招
												
												
											
											</span></li>
										
										
											<li><span class="tit">每周至少: </span><span class="con">1天</span></li>
										
										
										
											<li><span class="tit">上班时段: </span><span class="con">报名后通知</span></li>
										
									</ul>

										<ul class="job_list" >
											<li><span class="tit">结算方式: </span><span class="con">
												
													纯工资结算
													
													
												

											</span></li>
											
											<li><span class="tit">基本工资: </span><span class="con">70元/次</span></li>
											
											
										</ul>
									

								


								<div class="box">
									<div class="detail_title">工作详情</div>
									<div class="detail" id="job_detail">有意者请发送简历至service-cn@bareinternational.com 并注明申请酒店评估师。<br/>柏迩中国正在招募兼职神秘访客（市场调研员），我们需要拥有专业素养的你，帮助我们了解客户公司服务客户提高客户体验。我们在全国各地都有许多国际零售、餐饮、酒店等行业的品牌神秘顾客兼职，注册成为柏迩的神秘访客后将可长期兼职。因项目不同，走访报酬也不同。<br/>工作职责：<br/>神秘访客需要经过预先筛选及培训，以普通客户的身份去指定酒店/门店进行走访，在不暴露身份的情况下：<br/>1. 观察酒店/门店设施、服务人员态度及专业程度等<br/>2. 不同项目，走访要求不同<br/>3. 走访完成后需及时在线完成问卷并提交相关材料（根据不同项目的要求）<br/>任职要求：<br/>1. 18周岁以上<br/>2. 如项目需要，请自备录音设备<br/>3. 具有责任感及使命感，能够客观公正的完成走访及填写问卷<br/>4. 积极回复我们的沟通并反馈意见<br/>有意者请发送简历至service-cn@bareinternational.com 并注明申请酒店评估师。</div>
								</div>
								<div class="map_box" id="map_box"></div>
								<div class="box">
									<ul>
										
											<li class="orange">提示: 凡收取费用，需缴纳押金的企业均有欺诈嫌疑，请您警惕！</li>
										

										
									</ul>
								</div>
							</div>
						</div>
					
						 <!--  20151120 新增公司介绍 其他兼职列表 -->
							<!--publisherType==4显示短信报名-->
						
							<!--  20151120 新增公司介绍 其他兼职列表 -->
							<div class="m-tab_about tab_wrap"  >
								<div class="tab_tit">
									<ul class="clearfix">
										<li  class="cur"><span>公司介绍</span></li>
										<li><span>在招岗位</span></li>
										<li id="relate_comment"><span>该兼职相关评论</span></li>
									</ul>
								</div>
								<div class="tab_con">
									<div  class="gsjs_con company_wrap" style="word-wrap:break-word;">
										<div class="company_img">
											
												
													<img src="static/picture/1495441753822_1.jpg"/>
												
												
											
										</div>
										<div class="company_info">
											<a href="//datong.jianzhimao.com/qy/N0U4ZG1OWGJ0bzg9.html" target="_blank" class="com_name">柏迩投资咨询（上海）有限公司</a>
											<p><span class="label">公司介绍：</span>柏迩投资咨询（BARE International）由Dale Bare和Michael Bare夫妇于1987年在美国创立。30年来，BARE从成立之初的仅仅为了满足单一地区和单一行业神秘顾客的调研需求，到现在逐渐建立起行业统一标准，成为全球领先的客户体验调研及数据分析的独立服务提供商，在创新性、行业操守及客户服务等方面取得了业界好评。BARE的业务立足总部华盛顿，拓展至全球，通过美国、比利时、匈牙利、智利、巴西、墨西哥、新加坡、印度和中国的分公司，日均为超过150个国家的客户提供客户体验调研服务，月均完成调研超过50,000余次。

柏迩投资咨询（上海）有限公司（BARE中国）于2006年成立，11年来保持着在客户体验调研领域的领先地位。BARE中国始终坚持为客户提供定制化的服务，认真对待每一家客户，站在客户的角度，提供最合适的可执行解决方案。此外，BARE独有的APOLLO在线系统和商业智能团队，保证了为客户提供准时、高质、高效的数据和分析报告，切实的帮助客户提供卓越客户体验。</p>
											<p><span class="label">公司地址：</span>上海市省上海市卢湾鲁班路600号803室</p>
										</div>
									</div>
									<div  class="list_con" style="display:none;">
										<div class="content_list_box">
											<ul class="job_item" id="content_list_wrap" style="">

											</ul>
											<div class="content_page_box">
												<ul class="page_navigator" id="company_joblist_navigator">

												</ul>
											</div>
										</div>

									</div>
									<div class="comment_wrap" style="display:none;">
										<ul class="comment_list" id="comment_list">
											<!--<li class="comment_item">
												<div class="user_name1">大卫</div>
												<div class="comment_text">有电话号码吗？</div>
												<div class="re_comment">企业回复：13800138000</div>
											</li>
											-->
										</ul>
										<ul class="page_navigator" id="comment_navigator" current_page="1">

										</ul>
										<div class="empty_box" id="comment_empty_box"><img src="static/picture/no_data_1.png"/> <span>暂无相关信息</span></div>
									</div>
								</div>
							</div>

						

                 		<!--  20151120 新增公司介绍 其他兼职列表 end -->
                 		 
		 			<!-- 20170207 你可能感兴趣的兼职start -->
					
						<div class="m-tab_about">
							<div class="tab_tit">
								<ul class="clearfix">
								<li class="cur"><span>你可能感兴趣的兼职</span></li>
								<a href="//datong.jianzhimao.com" class="read_more">查看更多</a>
								</ul>
							</div>
							<div class="tab_con">
								<ul class="like_job">
								
								<li class="">
									<a href="/job/dkhpNDdSSXZoMW89.html" target="blank"><h2>诚招海克斯班服校园学生代理</h2></a>
										<p><span class="theme_color">800元/单</span> | <span class="link_text">校内</span> | 发布时间：2018-07-15</p>
								</li>
								
								<li class="">
									<a href="/job/Ry9WcG1LMEVtSGs9.html" target="blank"><h2>诚招校园兼职项目合作负责人</h2></a>
										<p><span class="theme_color">800元/单</span> | <span class="link_text">校内</span> | 发布时间：2018-08-10</p>
								</li>
								
								<li class="">
									<a href="/job/Z0tLTWR1b3BJTTg9.html" target="blank"><h2>兼职一手机日结一在家可做</h2></a>
										<p><span class="theme_color">300元/天</span> | <span class="link_text">临时工</span> | 发布时间：2018-08-21</p>
								</li>
								
								<li class="">
									<a href="/job/TEkrUkpQd0R6Z009.html" target="blank"><h2>创意班服厂家直招代理兼职</h2></a>
										<p><span class="theme_color">600元/单</span> | <span class="link_text">校内</span> | 发布时间：2018-08-15</p>
								</li>
								
								<li class="">
									<a href="/job/QU9NNzlTSThTVGc9.html" target="blank"><h2>每小时至少60元山西大同高价家教工作</h2></a>
										<p><span class="theme_color">60元/小时</span> | <span class="link_text">家教</span> | 发布时间：2018-08-08</p>
								</li>
								
								<li class="">
									<a href="/job/dEQ5TS8wMjdOcjQ9.html" target="blank"><h2>高薪直招班服球服代理</h2></a>
										<p><span class="theme_color">600元/单</span> | <span class="link_text">校内</span> | 发布时间：2018-07-26</p>
								</li>
								
								</ul>
							</div>
						</div>
					
					<!-- 20170207 你可能感兴趣的兼职end -->
				</div>
				<div class="p_right">
					<div class="app_wrap" id="upload_app_box">
						<a href="javascript:;"><div class="btn_theme" id="upload_app_modal">下载APP</div></a>
					</div>
					<div class="ad_box" id="ad_box" style="display:none;">
						<div class="ad_box_imgs" id="ad_box_imgs">
							<a rel="nofollow" target="_blank" class="selected"><img
								alt="ad loading"></a>
						</div>
						<div class="ad_box_btns" id="ad_box_btns">
							<a class="selected"></a>
						</div>
					</div>
					



<div class="content_ad_box">
	
		<div class="p1">兼职推荐</div>
		
			
			<div class="p2"  style="display:none;">
				想提高招聘效果，发兼职？<a rel="nofollow" href="/ctrlenpublish/publishCommonJob">马上发布</a>
			</div>
		

		
		
		
		<ul class="rcm_text">
			<li>
				<h2>一个真实可靠的兼职招聘平台</h2>
				<p>兼职信息经过多重核查，更加真实可靠。</p>
			</li>
			<li>
				<h2>一起来颠覆兼职招聘行业</h2>
				<p>我们希望未来能够为每一位用兼职猫的
			同学都买一份保险。</p>
			</li>
			<li>
				<h2>共同打造绿色的兼职平台</h2>
				<p>兼职猫已成为中国绿色兼职平台的领头
			羊。</p>
			</li>
			<li>
				<h2>给学生提供靠谱的兼职，给企业提
			供靠谱的好员工</h2>
				<p>来兼职猫发布优质的兼职，让高质的学生
			投身于你们的工作之中。</p>
			</li>

		</ul>
		


	
	
</div>
				</div>
			</div>


		</article>
	<!--20150817 新增 详情页 底部链接和版权  -->
	<div class="container_footer">
	<div class="link_block">
	<div>
	<h5 >更多类型：</h5>
	<p>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_songcanyuan_0">大同送餐员兼职</a>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_xiaoshou_0">大同销售兼职</a>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_anbao_0">大同安保兼职</a>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_liyi_0">大同礼仪兼职</a>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_cuxiao_0">大同促销兼职</a>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_fanyi_0">大同翻译兼职</a>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_kefu_0">大同客服兼职</a>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_yanchu_0">大同演出兼职</a>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_jiajiao_0">大同家教兼职</a>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_mote_0">大同模特兼职</a>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_paidan_0">大同派单兼职</a>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_wenyuan_0">大同文员兼职</a>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_sheji_0">大同设计兼职</a>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_xiaonei_0">大同校内兼职</a>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_linshigong_0">大同临时工兼职</a>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_fuwuyuan_0">大同服务员兼职</a>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_shixi_0">大同实习兼职</a>
	
		<a target="blank" href="http://datong.jianzhimao.com/dbx_qita_0">大同其他兼职</a>
	

	</p>
	</div>
	</div>
	<div class="link_block">
	<div>
	<h5 >其他地区：</h5>
	<p>
	
		<a href="http://datong.jianzhimao.com/datongxian_zbx_0/"  target="blank">大同县兼职</a>
	
		<a href="http://datong.jianzhimao.com/guanglingxian_zbx_0/"  target="blank">广灵县兼职</a>
	
		<a href="http://datong.jianzhimao.com/hunyuanxian_zbx_0/"  target="blank">浑源县兼职</a>
	
		<a href="http://datong.jianzhimao.com/lingqiuxian_zbx_0/"  target="blank">灵丘县兼职</a>
	
		<a href="http://datong.jianzhimao.com/tianzhenxian_zbx_0/"  target="blank">天镇县兼职</a>
	
		<a href="http://datong.jianzhimao.com/xinrong_zbx_0/"  target="blank">新荣兼职</a>
	
		<a href="http://datong.jianzhimao.com/yanggaoxian_zbx_0/"  target="blank">阳高县兼职</a>
	
		<a href="http://datong.jianzhimao.com/zuoyunxian_zbx_0/"  target="blank">左云县兼职</a>
	

	</p>
	</div>
	</div>
	<div class="link_block">
	<div>
	<h5 >热门城市：</h5>
	<p>
	<a target="blank" href="http://beijing.jianzhimao.com/dbx_zbx_0/">北京兼职</a>
	<a target="blank" href="http://shanghai.jianzhimao.com/dbx_zbx_0/">上海兼职</a>
	<a target="blank" href="http://guangzhou.jianzhimao.com/dbx_zbx_0/">广州兼职</a>
	<a target="blank" href="http://shenzhen.jianzhimao.com/dbx_zbx_0/">深圳兼职</a>
	<a target="blank" href="http://wuhan.jianzhimao.com/dbx_zbx_0/">武汉兼职</a>
	<a target="blank" href="http://chengdu.jianzhimao.com/dbx_zbx_0/">成都兼职</a>
	<a target="blank" href="http://hangzhou.jianzhimao.com/dbx_zbx_0/">杭州兼职</a>
	<a target="blank" href="http://nanchang.jianzhimao.com/dbx_zbx_0/">南昌兼职</a>
	<a target="blank" href="http://tianjin.jianzhimao.com/dbx_zbx_0/">天津兼职</a>
	<a target="blank" href="http://zhengzhou.jianzhimao.com/dbx_zbx_0/">郑州兼职</a>
	</p>
	</div>
	</div>

	</div>
	
	<footer class="footer">
	<div class="footer1">
	<div class="ft_box">
	<div class="ft_left">
	<div class="ft_left_bot">
	<div class="ft_item">
	<a target="_blank" rel="nofollow" href="https://www.jianzhimao.com/ctrlindex/contact.html" style="padding-left: 0;">关于我们</a>
	<a target="_blank" rel="nofollow" href="https://www.jianzhimao.com/ctrlindex/join.html">加入我们</a>
	<a target="_blank" rel="nofollow" href="https://www.jianzhimao.com/ctrlindex/enterprise.html">企业推广</a>
	<a target="_blank" rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/help.html">帮助中心</a>
	</div>
	<p class="cp_right"> Copyright©2018 兼职猫 jianzhimao.com 广州九尾信息科技有限公司 版权所有   <a style="color:#ffc9a9;" href="http://www.miibeian.gov.cn" target="_blank">粤ICP备13061591号</a> </p>
	</div>
	</div>
	<div class="ft_right">
	<img src="static/picture/code_dingyuehao_1.jpg" class="scan_img" />
	<div class="tip">
	<p>扫描关注微信号</p><p>[兼职猫]</p>
	</div>

	</div>
	</div>
	</div>
	</footer>

	</section>


	<div class="data_hidden" id="location_info_obj">
	{ "x":113.226457, "y": 40.051891, "infoWindow":	"山西大同南郊" }
	</div>

	<div class="data_hidden" id="share_obj">
		{ "sharePic": "http://datong.jianzhimao.com/web/assets/img/share_pic.jpg?version=2.28.23"}
	</div>
	<div class="data_hidden" id="host_obj">
		{ "host": "http://www.jianzhimao.com"}
	</div>
	<input type="hidden" value="datong" id="city">
	<input type="hidden" value="0" id="is_open_link">
	<input type="hidden" value="RFBHaWN2blFTZ009" id="jobid">
	<input type="hidden" value="1" id="publisherType">

	<input type="hidden" id="applyStatus" isApply="" isLogin="false" >
	<input type="hidden" value="jianzhimao.com" id="host">
</body>
</html>


    <script type="text/javascript">

    //CNZZ统计
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1000413010'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1000413010' async type='text/javascript'%3E%3C/script%3E"));

    //baidu统计
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript async src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F447f87add4dbd73deca17a45d8536dbd' type='text/javascript'%3E%3C/script%3E"));

    </script>

<script>
//延迟CNZZ统计, 以免影响页面载入

</script>
<script type='text/javascript'>
		var user_id="";
		var company_name="";
		var user_name="";
		var company_id="";
		var _vds = _vds || [];
        window._vds = _vds;
        (function(){
        	
          _vds.push(['setAccountId', 'b0d18e1f996f733e']);
          _vds.push(['setCS1', 'user_id', user_id]);
          _vds.push(['setCS2', 'company_id', company_id]);
          _vds.push(['setCS3', 'user_name', company_name]);
          _vds.push(['setCS3', 'company_name', company_name]);
         

          (function() {
            var vds = document.createElement('script');
            vds.type='text/javascript';
            vds.async = true;
            vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(vds, s);
          })();
        })();
</script>
<script>
//判断当前浏览类型  
function checkBrowserType()  
{  
	var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串  
	var isOpera = userAgent.indexOf("Opera") > -1; //判断是否Opera浏览器  
	var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 && !isOpera; //判断是否IE浏览器  
	var isEdge = userAgent.indexOf("Windows NT 6.1; Trident/7.0;") > -1 && !isIE; //判断是否IE的Edge浏览器  
	var isFF = userAgent.indexOf("Firefox") > -1; //判断是否Firefox浏览器  
	var isSafari = userAgent.indexOf("Safari") > -1 && userAgent.indexOf("Chrome") == -1; //判断是否Safari浏览器  
	var isChrome = userAgent.indexOf("Chrome") > -1 && userAgent.indexOf("Safari") > -1; //判断Chrome浏览器  

	if (isIE)   
	{  
		 var reIE = new RegExp("MSIE (\\d+\\.\\d+);");  
		 reIE.test(userAgent);  
		 var fIEVersion = parseFloat(RegExp["$1"]);  
		 if(fIEVersion == 7)  
		 { return "IE7";}  
		 else if(fIEVersion == 8)  
		 { return "IE8";}  
		 else if(fIEVersion == 9)  
		 { return "IE9";}  
		 else if(fIEVersion == 10)  
		 { return "IE10";}  
		 else if(fIEVersion == 11)  
		 { return "IE11";}  
		 else  
		 { return "0"}//IE版本过低  
	 }//isIE end  
	   
	 if (isFF) {  return "FF";}  
	 if (isOpera) {  return "Opera";}  
	 if (isSafari) {  return "Safari";}  
	 if (isChrome) { return "Chrome";}  
	 if (isEdge) { return "Edge";}  
 }//myBrowser() end  
 var _t = checkBrowserType();
 if(_t=="IE7" || _t=="IE8" ||_t=="0"){
	if(document.getElementById("borwserTips")==undefined){
		var div = document.createElement("div");
		div.setAttribute("id","borwserTips");
		var txt = document.createTextNode("抱歉，你所用的浏览器版本过低，导致部分内容无法正常使用，可考虑升级IE9及以上版本或更换谷歌，火狐等浏览器进行使用，体验更佳哟。");
		div.appendChild(txt);
		div.style.background = "#fef9e5";
		div.style.color = "#ff5202";
		div.style.fontSize = "14px";
		div.style.textAlign = "center";
		div.style.height = "30px";
		div.style.lineHeight = "30px";
		var firstChild = document.body;
		firstChild.insertBefore(div,firstChild.childNodes[0])
	}
 }


 function isweixindo(){
			if(is_weixin()){
				$("#tipweixin").show();
			}else{
			}
 }
function is_weixin(){
	var ua = navigator.userAgent.toLowerCase();
	if(ua.match(/MicroMessenger/i)=="micromessenger") {
		return true;
	} else {
		return false;
	}
}

// 函数
 function browser_pc() {
      var userAgentInfo = navigator.userAgent;
      var Agents = ["Android", "iPhone",
                  "SymbianOS", "Windows Phone",
                  "iPad", "iPod"];
      var flag = true;
      for (var v = 0; v < Agents.length; v++) {
          if (userAgentInfo.indexOf(Agents[v]) > 0) {
              flag = false;
              break;
          }
      }
      return flag;
}

//判断是否是苹果端
function is_ios() {
    var u = navigator.userAgent;
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    return isiOS;
}
</script>

<script src="static/js/sea_2.js"></script>
<script src="static/js/jquery-1.9.1.min_2.js"></script>
<script src="static/js/qrcode.min_2.js"></script>
<script>
seajs.use("article.js?v=20170929");
var jid='RFBHaWN2blFTZ009';
var person_Qr_url="https://www.jianzhimao.com/web/assets/img/yh_download.png";
var person_apk_url="http://app.mi.com/download/49566?ref=search";
//初始化数据
var datas=[

	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"中山神秘顾客/市场调研员","hot":"","area":"石岐","visited":"1276","py_city":"zhongshan","date":"2018-08-22","url":"/job/dVdTNCsycDRValk9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"河源神秘顾客/市场调研员","hot":"","area":"源城区","visited":"839","py_city":"heyuan","date":"2018-08-22","url":"/job/OEUwSlBhME50WGs9.html"},
	
		{"kj":"","salary":"70元/天","type_value":"dy","type_pinyin":"","type":"调研","title":"清远神秘顾客/酒店评估师","hot":"","area":"清城","visited":"1101","py_city":"qingyuan","date":"2018-08-22","url":"/job/R3pWKzlqelRPa2M9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"湖南怀化神秘顾客/市场调研员","hot":"","area":"鹤城","visited":"1736","py_city":"huaihua","date":"2018-08-22","url":"/job/UWIrVTFwVitYK1k9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"四川峨眉山神秘顾客市场调研员","hot":"","area":"峨眉山市","visited":"871","py_city":"leshan","date":"2018-08-22","url":"/job/VXdrVG0xcnNJRlE9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"河南漯河神秘顾客/酒店评估师","hot":"","area":"周口市","visited":"1690","py_city":"zhoukou","date":"2018-08-22","url":"/job/OXlzZzVIQUhlZEE9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"贵州毕节神秘顾客市场调研员","hot":"","area":"七星关","visited":"610","py_city":"bijie","date":"2018-08-22","url":"/job/SzlGb1hxNGoxeXM9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"四川资阳神秘顾客市场调研员","hot":"","area":"雁江区","visited":"567","py_city":"ziyang","date":"2018-08-22","url":"/job/QUtoUG9lRnhmUE09.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"山东乳山神秘顾客市场调研员","hot":"","area":"乳山市","visited":"673","py_city":"weihai","date":"2018-08-22","url":"/job/WXhkSHZmZGlJUE09.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江苏昆山神秘顾客市场调研员","hot":"","area":"昆山市","visited":"1181","py_city":"suzhou","date":"2018-08-22","url":"/job/S0ZwdEcyTkdIaUk9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江苏镇江神秘顾客市场调研员","hot":"","area":"京口","visited":"505","py_city":"zhenjiang","date":"2018-08-22","url":"/job/bWJNa25IUi9iOU09.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"吉林白山神秘顾客市场调研员","hot":"","area":"八道江","visited":"243","py_city":"baishan","date":"2018-08-22","url":"/job/ZGtIME1zWHVuRE09.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"广东潮州神秘顾客市场调研员","hot":"","area":"湘桥","visited":"1011","py_city":"chaozhou","date":"2018-08-22","url":"/job/TTNLNEpKWTRkTFE9.html"},
	
		{"kj":"","salary":"70元/天","type_value":"dy","type_pinyin":"","type":"调研","title":"安徽肥西神秘顾客/市场调研","hot":"","area":"肥西","visited":"4755","py_city":"hefei","date":"2018-08-22","url":"/job/ZE5Za1RvczJFS3c9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"贵州都匀神秘顾客/市场调研员","hot":"","area":"南明","visited":"3379","py_city":"guiyang","date":"2018-08-22","url":"/job/WC9XWUpqU2ZMaGc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"广西桂林神秘顾客市场调研员","hot":"","area":"秀峰","visited":"746","py_city":"guilin","date":"2018-08-22","url":"/job/NGVaT09TbTZTM1E9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"浙江瑞安神秘顾客市场调研员","hot":"","area":"瑞安市","visited":"620","py_city":"wenzhou","date":"2018-08-22","url":"/job/ckFRMkdacDlNaUk9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"浙江义乌神秘顾客酒店评估员","hot":"","area":"北苑","visited":"91","py_city":"yiwu","date":"2018-08-22","url":"/job/cXNIdGNGR3RFaXc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"浙江新昌神秘顾客酒店评估员","hot":"","area":"新昌县","visited":"226","py_city":"shaoxing","date":"2018-08-22","url":"/job/OTZVM1FxeHZ3Mmc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江苏太仓神秘顾客市场调研员","hot":"","area":"太仓市","visited":"940","py_city":"suzhou","date":"2018-08-22","url":"/job/QW1ROTZYWXZOVzQ9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江苏宜兴神秘顾客市场调研员","hot":"","area":"宜兴市","visited":"1556","py_city":"wuxi","date":"2018-08-22","url":"/job/dWtuTEJOT3B4N2c9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"湖南郴州神秘顾客/市场调研员","hot":"","area":"北湖","visited":"1845","py_city":"chenzhou","date":"2018-08-22","url":"/job/U2JhTU9PNHlETWc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"滁州神秘顾客/酒店评估师","hot":"","area":"南谯","visited":"1587","py_city":"chuzhou","date":"2018-08-22","url":"/job/b1FvVDUzME84cVk9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"万宁神秘顾客/市场调研员","hot":"","area":"万城镇","visited":"621","py_city":"wanning","date":"2018-08-22","url":"/job/ODJTbVhzMFYvZjg9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"河北秦皇岛神秘顾客市场调研员","hot":"","area":"海港","visited":"931","py_city":"qinhuangdao","date":"2018-08-22","url":"/job/NCtnUldOWVJvUWc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"湖南永州神秘顾客/市场调研员","hot":"","area":"芝山","visited":"1594","py_city":"yongzhou","date":"2018-08-22","url":"/job/NWtVUWxUL3VQZHM9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"广西梧州神秘顾客市场调研员","hot":"","area":"万秀","visited":"414","py_city":"wuzhou","date":"2018-08-22","url":"/job/TTdFZm1xZThISmc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"仙桃神秘顾客/市场调研员","hot":"","area":"仙桃","visited":"1938","py_city":"xiantao","date":"2018-08-22","url":"/job/OG0xcHdmcitCVE09.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"景洪神秘顾客/酒店评估师","hot":"","area":"景洪市","visited":"672","py_city":"xishuangbanna","date":"2018-08-22","url":"/job/Ung2N00yQTcvQmc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"海南儋州神秘顾客/市场调研员","hot":"","area":"那大镇","visited":"667","py_city":"danzhou","date":"2018-08-13","url":"/job/aHNSM3lHN05IMVE9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"四川西昌神秘顾客/市场调研员","hot":"","area":"峨边彝族自治县","visited":"1340","py_city":"leshan","date":"2018-08-13","url":"/job/ZzFoLy9GS2UrRU09.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"辽宁锦州神秘顾客市场调研员","hot":"","area":"古塔","visited":"195","py_city":"jinzhou","date":"2018-08-13","url":"/job/STh3a0cyRGNpbm89.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"河北深州神秘顾客市场调研员","hot":"","area":"深州市","visited":"557","py_city":"hengshui","date":"2018-08-13","url":"/job/bUNnQTRDMFFlTGs9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"广东汕头神秘顾客酒店评估员","hot":"","area":"濠江","visited":"1013","py_city":"shantou","date":"2018-08-02","url":"/job/RjN5OHR3Vk8zUTQ9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"河北张家口神秘顾客酒店评估员","hot":"","area":"桥东","visited":"620","py_city":"zhangjiakou","date":"2018-08-02","url":"/job/QWZKUHBTY1FBalk9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"湖南株洲神秘顾客市场调研员","hot":"","area":"荷塘","visited":"572","py_city":"zhuzhou","date":"2018-08-02","url":"/job/NXdJa1YxQ3pOR0k9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"广西玉林神秘顾客市场调研员","hot":"","area":"玉州","visited":"527","py_city":"yulin","date":"2018-08-02","url":"/job/dThkUjJaQ2ovOW89.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"浙江乐清神秘顾客市场调研员","hot":"","area":"乐清市","visited":"469","py_city":"wenzhou","date":"2018-08-02","url":"/job/eTVBcUpVODJiSm89.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"浙江永康神秘顾客市场调研员","hot":"","area":"永康市","visited":"335","py_city":"jinhua","date":"2018-08-02","url":"/job/d09MdkpYVk80Zkk9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"浙江富阳神秘顾客市场调研员","hot":"","area":"富阳","visited":"392","py_city":"hangzhou","date":"2018-08-02","url":"/job/VDJjN01KT1dhS0k9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"浙江湖州神秘顾客市场调研员","hot":"","area":"吴兴","visited":"296","py_city":"huzhou","date":"2018-08-02","url":"/job/RnYxS1NVeWYvZWc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"山东东营神秘顾客市场调研员","hot":"","area":"东营","visited":"271","py_city":"dongying","date":"2018-08-02","url":"/job/Q1BtdU9jdG5RY0E9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江苏如皋神秘顾客市场调研员","hot":"","area":"如皋市","visited":"396","py_city":"nantong","date":"2018-08-02","url":"/job/N1dKWTNaZXlSakk9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"黑龙江齐齐哈尔神秘顾客市场调研员","hot":"","area":"龙沙","visited":"241","py_city":"qiqihaer","date":"2018-08-02","url":"/job/Uk5DYmYxaXM5STA9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"河北保定神秘顾客市场调研员","hot":"","area":"新市","visited":"725","py_city":"baoding","date":"2018-08-02","url":"/job/eFVSVXdZRXBQTkE9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"河南安阳神秘顾客市场调研员","hot":"","area":"文峰","visited":"475","py_city":"anyang","date":"2018-08-02","url":"/job/NE9kR25SRXNVODQ9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"广东番禺神秘顾客市场调研员","hot":"","area":"番禺","visited":"828","py_city":"guangzhou","date":"2018-08-02","url":"/job/TCtnWi84NlRLR009.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"黑龙江大庆神秘顾客市场调研员","hot":"","area":"萨尔图","visited":"283","py_city":"daqing","date":"2018-08-02","url":"/job/UVRCT1lpSE9aaXc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"山东兖州神秘顾客市场调研员","hot":"","area":"兖州市","visited":"398","py_city":"jining","date":"2018-08-02","url":"/job/TkQzRHJ3Vml1RTQ9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"四川崇州神秘顾客市场调研员","hot":"","area":"崇州","visited":"415","py_city":"chengdu","date":"2018-08-02","url":"/job/dWZ1MlY1Qi9QTDA9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"新疆乌鲁木齐神秘顾客市场调研员","hot":"","area":"天山","visited":"475","py_city":"wulumuqi","date":"2018-08-02","url":"/job/cSswK0Jyd2lsR2M9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"陵水神秘顾客/酒店评估师","hot":"","area":"万城镇","visited":"481","py_city":"wanning","date":"2018-08-02","url":"/job/cjhjeklUV2huRWM9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"吉林通化神秘顾客市场调研员","hot":"","area":"东昌","visited":"252","py_city":"tonghua","date":"2018-08-02","url":"/job/R2puQzN4VDJwMUk9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江苏江阴神秘顾客市场调研员","hot":"","area":"璜土镇","visited":"421","py_city":"jiangyin","date":"2018-08-02","url":"/job/eU1xQTc3cGN5bnM9.html"},
	
		{"kj":"","salary":"70元/天","type_value":"dy","type_pinyin":"","type":"调研","title":"重庆合川神秘顾客/市场调研","hot":"","area":"合川","visited":"2728","py_city":"chongqing","date":"2018-07-25","url":"/job/V3RMVUMvZVkyT0E9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"天津宁河神秘顾客/市场调研员","hot":"","area":"宁河","visited":"924","py_city":"tianjin","date":"2018-07-25","url":"/job/NDR5SGovWTVwZlk9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"湖北黄石神秘顾客/市场调研","hot":"","area":"黄石市","visited":"2847","py_city":"huangshi","date":"2018-07-25","url":"/job/c3NTWGNXb1lvbWM9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"山东莱西神秘顾客市场调研员","hot":"","area":"莱西市","visited":"1466","py_city":"qingdao","date":"2018-07-25","url":"/job/U0tHSi9UVFlzTVk9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"吉林白城神秘顾客市场调研员","hot":"","area":"洮北","visited":"388","py_city":"baicheng","date":"2018-07-19","url":"/job/Rzd4MVJiNEZwYmM9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"湖北十堰神秘顾客市场调研员","hot":"","area":"茅箭","visited":"686","py_city":"shiyan","date":"2018-07-19","url":"/job/bG1zRlM3QWpFTDA9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"湖北黄石神秘顾客市场调研员","hot":"","area":"黄石市","visited":"462","py_city":"huangshi","date":"2018-07-19","url":"/job/Q1REU01jdVRveW89.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"福建三明神秘顾客市场调研员","hot":"","area":"梅列","visited":"394","py_city":"sanming","date":"2018-07-19","url":"/job/OG91UXVnb3RsSG89.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"湖北襄阳神秘顾客市场调研员","hot":"","area":"襄州","visited":"855","py_city":"xiangyang","date":"2018-07-19","url":"/job/MFdzN2JxbjJkTEU9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"贵州遵义神秘顾客市场调研员","hot":"","area":"红花岗","visited":"748","py_city":"zunyi","date":"2018-07-19","url":"/job/Sk12WWZSNUVUanM9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"辽宁抚顺神秘顾客市场调研员","hot":"","area":"新抚","visited":"336","py_city":"fushun","date":"2018-07-19","url":"/job/Y1VXTjM1aEpnY0k9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"山东文登神秘顾客市场调研员","hot":"","area":"文登市","visited":"663","py_city":"weihai","date":"2018-07-19","url":"/job/TitTUUlaRndsMmM9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"山西大同神秘顾客市场调研员","hot":"","area":"南郊","visited":"601","py_city":"datong","date":"2018-07-19","url":"/job/amlYZUY0KzcxUEE9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"北京延庆神秘顾客市场调研员","hot":"","area":"延庆","visited":"488","py_city":"beijing","date":"2018-07-19","url":"/job/RW45RHBpL2Uzalk9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"福建龙岩神秘顾客市场调研员","hot":"","area":"新罗","visited":"449","py_city":"longyan","date":"2018-07-19","url":"/job/Y0xDUS91YUVSYm89.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"广东茂名神秘顾客市场调研员","hot":"","area":"茂南","visited":"1061","py_city":"maoming","date":"2018-07-19","url":"/job/OUsrb1FmdDlZZ3M9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"黑龙江牡丹江神秘顾客市场调研员","hot":"","area":"东安","visited":"365","py_city":"mudanjiang","date":"2018-07-19","url":"/job/Z2pnaEx5TGxWY3M9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"湖北鄂州神秘顾客市场调研员","hot":"","area":"梁子湖","visited":"224","py_city":"ezhou","date":"2018-07-19","url":"/job/a3lrdk5IQlJCazg9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"辽宁本溪神秘顾客市场调研员","hot":"","area":"平山","visited":"224","py_city":"benxi","date":"2018-07-19","url":"/job/bEJFTk9XUCs5cUE9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江苏徐州神秘顾客市场调研员","hot":"","area":"鼓楼","visited":"1244","py_city":"xuzhou","date":"2018-07-19","url":"/job/THk1aGZvdmNQSzA9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"海南三亚神秘顾客市场调研员","hot":"","area":"育才镇","visited":"440","py_city":"sanya","date":"2018-07-19","url":"/job/Q1U3RXZ5c05yKzA9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"河北廊坊神秘顾客市场调研员","hot":"","area":"安次","visited":"920","py_city":"langfang","date":"2018-07-19","url":"/job/MFZpcjFNbHF2dXc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"福建泉州神秘顾客市场调研员","hot":"","area":"鲤城","visited":"1566","py_city":"quanzhou","date":"2018-07-19","url":"/job/Rm5tNERjc2NyaDA9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"广西柳州神秘顾客市场调研员","hot":"","area":"城中","visited":"987","py_city":"liuzhou","date":"2018-07-19","url":"/job/ZTBIb1NqR3BEOWc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"浙江苍南神秘顾客市场调研员","hot":"","area":"苍南县","visited":"1216","py_city":"wenzhou","date":"2018-07-19","url":"/job/RWFLMHB0dFpuRWs9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"天津蓟县神秘顾客市场调研员","hot":"","area":"蓟县","visited":"788","py_city":"tianjin","date":"2018-07-19","url":"/job/a0hNRE1UVVJaTW89.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"山东胶州神秘顾客市场调研员","hot":"","area":"胶州市","visited":"773","py_city":"qingdao","date":"2018-06-27","url":"/job/R3JDbUdJQWgwTGs9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"山东日照神秘顾客市场调研员","hot":"","area":"东港","visited":"933","py_city":"rizhao","date":"2018-06-27","url":"/job/cHpiRjRXc3drQkE9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"陕西宝鸡神秘顾客市场调研员","hot":"","area":"渭滨","visited":"780","py_city":"baoji","date":"2018-06-27","url":"/job/QjhzeFYvWEt3ME09.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"四川郫县神秘顾客市场调研员","hot":"","area":"郫县","visited":"1196","py_city":"chengdu","date":"2018-06-27","url":"/job/K1dyRkZsY0g0bWs9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"河南新密神秘顾客市场调研员","hot":"","area":"新密市","visited":"530","py_city":"zhengzhou","date":"2018-06-27","url":"/job/c2VndERESTJhSnc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"安徽铜陵神秘顾客市场调研员","hot":"","area":"铜官山","visited":"532","py_city":"tongling","date":"2018-06-27","url":"/job/cGJZOFgwWjRqR0k9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"四川内江神秘顾客市场调研员","hot":"","area":"市中","visited":"788","py_city":"neijiang","date":"2018-06-27","url":"/job/UWc1aVlYTm5Va0E9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"湖南湘潭神秘顾客市场调研员","hot":"","area":"雨湖","visited":"1061","py_city":"xiangtan","date":"2018-06-27","url":"/job/cUF1alVTU2FDaDQ9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江苏丹阳神秘顾客市场调研员","hot":"","area":"丹阳","visited":"677","py_city":"zhenjiang","date":"2018-06-27","url":"/job/emVwMmc2c3JuRWM9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江苏淮安神秘顾客市场调研员","hot":"","area":"清河","visited":"1001","py_city":"huaian","date":"2018-06-27","url":"/job/Rkd4WGdvYlV3cVU9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"云南曲靖神秘顾客市场调研员","hot":"","area":"麒麟","visited":"910","py_city":"qujing","date":"2018-06-27","url":"/job/U0Y2SHJyTmp1dmc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"河北张家口神秘顾客市场调研员","hot":"","area":"桥东","visited":"912","py_city":"zhangjiakou","date":"2018-06-27","url":"/job/aGpsMkE3ZkJlN2c9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"广东湛江神秘顾客市场调研员","hot":"","area":"赤坎","visited":"1625","py_city":"zhanjiang","date":"2018-06-27","url":"/job/WDZIaDc0S2RjV0E9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江苏扬州神秘顾客市场调研员","hot":"","area":"广陵","visited":"987","py_city":"yangzhou","date":"2018-06-27","url":"/job/Q2tnOEU2RWdGOU09.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"广西南宁神秘顾客市场调研员","hot":"","area":"兴宁","visited":"1983","py_city":"nanning","date":"2018-06-27","url":"/job/c2Fab3Q5ZHcyU0k9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"浙江台州神秘顾客市场调研员","hot":"","area":"椒江","visited":"966","py_city":"taizhou","date":"2018-06-27","url":"/job/a3FLRWoveDdrSVk9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"浙江舟山神秘顾客市场调研员","hot":"","area":"定海","visited":"335","py_city":"zhoushan","date":"2018-06-27","url":"/job/NmZZZTJJTU9TQUk9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"吉林长春神秘顾客市场调研员","hot":"","area":"南关","visited":"1247","py_city":"changchun","date":"2018-06-27","url":"/job/cjViS0xaYWJxZkU9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"重庆神秘顾客市场调研员","hot":"","area":"璧山","visited":"809","py_city":"chongqing","date":"2018-06-27","url":"/job/VWZzZWxPcUdVOEU9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"河北石家庄神秘顾客市场调研员","hot":"","area":"长安","visited":"1461","py_city":"shijiazhuang","date":"2018-06-27","url":"/job/SVpSb0l2RHZnN3M9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"云南昆明神秘顾客市场调研员","hot":"","area":"五华","visited":"1665","py_city":"kunming","date":"2018-06-27","url":"/job/M2dHcGlqajEzVm89.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"浙江宁波神秘顾客市场调研员","hot":"","area":"海曙","visited":"1451","py_city":"ningbo","date":"2018-06-27","url":"/job/UHF5SnJucmIwU009.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"浙江杭州神秘顾客市场调研员","hot":"","area":"上城","visited":"1074","py_city":"hangzhou","date":"2018-06-27","url":"/job/WXh0U2poMHRnVWc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"海南海口神秘顾客市场调研员","hot":"","area":"龙华","visited":"1194","py_city":"haikou","date":"2018-06-27","url":"/job/aDFsbDByeGdtTnM9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"辽宁大连神秘顾客市场调研员","hot":"","area":"中山","visited":"1286","py_city":"dalian","date":"2018-06-27","url":"/job/MjJHWm9PbTR0ZHM9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"辽宁沈阳神秘顾客市场调研员","hot":"","area":"和平","visited":"1154","py_city":"shenyang","date":"2018-06-27","url":"/job/Mi9wNTJGRE54SFU9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江苏常熟神秘顾客市场调研员","hot":"","area":"常熟市","visited":"1052","py_city":"suzhou","date":"2018-06-27","url":"/job/R2NlaXFlaGMvZlE9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"北京神秘顾客市场调研员","hot":"","area":"东城","visited":"490","py_city":"beijing","date":"2018-06-27","url":"/job/Ukc5emdiVFpSM1k9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"四川成都神秘顾客市场调研员","hot":"","area":"锦江","visited":"1019","py_city":"chengdu","date":"2018-06-27","url":"/job/SDhwTUNLblNrdTQ9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"天津神秘顾客市场调研员","hot":"","area":"滨海新区","visited":"1002","py_city":"tianjin","date":"2018-06-27","url":"/job/UXVBT0xSTi9rdkk9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"上海神秘顾客市场调研员","hot":"","area":"徐汇","visited":"915","py_city":"shanghai","date":"2018-06-27","url":"/job/eVBYSGpIY3FlK009.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"山东青岛神秘顾客市场调研员","hot":"","area":"市南","visited":"972","py_city":"qingdao","date":"2018-06-27","url":"/job/cUlsbkxHbHl1bmM9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"山东潍坊神秘顾客市场调研员","hot":"","area":"潍城","visited":"1357","py_city":"weifang","date":"2018-06-27","url":"/job/YVF6aFlub2lad2M9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"安吉神秘顾客/酒店评估师","hot":"","area":"安吉县","visited":"1970","py_city":"huzhou","date":"2018-06-27","url":"/job/N2sxZ0pvbEtsYUk9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"湖南衡阳神秘顾客/市场调研员","hot":"","area":"江东","visited":"1974","py_city":"hengyang","date":"2018-06-26","url":"/job/VmhjNmo3ekt4Y2c9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"湖北恩施神秘顾客/市场调研","hot":"","area":"恩施市","visited":"2001","py_city":"enshizizhizhou","date":"2018-06-26","url":"/job/bTJjMjhJSzVqRTQ9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江苏盐城神秘顾客市场调研员","hot":"","area":"城","visited":"1175","py_city":"yancheng","date":"2018-06-25","url":"/job/NEhWR0I0OUduTjA9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"浙江淳安神秘顾客市场调研员","hot":"","area":"淳安","visited":"563","py_city":"hangzhou","date":"2018-06-25","url":"/job/Tjhnd2JIZFdyNFU9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"山东海阳神秘顾客市场调研员","hot":"","area":"海阳市","visited":"798","py_city":"yantai","date":"2018-06-25","url":"/job/bFM4Y3NEOGxoQTA9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"湖南常德神秘顾客市场调研员","hot":"","area":"武陵","visited":"897","py_city":"changde","date":"2018-06-25","url":"/job/WHRiQW9DbmVaTHM9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"山西灵石神秘顾客市场调研员","hot":"","area":"灵石县","visited":"410","py_city":"jinzhong","date":"2018-06-25","url":"/job/dUFMS2dIYmIvOG89.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"青海西宁神秘顾客市场调研员","hot":"","area":"城东","visited":"860","py_city":"xining","date":"2018-06-19","url":"/job/enEzb0FnSXNPdjQ9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"云南大理神秘顾客市场调研员","hot":"","area":"大理市","visited":"682","py_city":"dali","date":"2018-06-19","url":"/job/YzVWQ0QyR3UyQzQ9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"丽水神秘顾客/市场调研员","hot":"","area":"丽水市","visited":"2735","py_city":"lishui","date":"2018-06-12","url":"/job/VmhNcXVidEthMzQ9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"湖北荆门神秘顾客/市场调研员","hot":"","area":"东宝","visited":"2739","py_city":"jinmen","date":"2018-05-30","url":"/job/d296dndVaXpzYUk9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"浙江慈溪神秘顾客/市场调研员","hot":"","area":"慈溪市","visited":"892","py_city":"ningbo","date":"2018-05-15","url":"/job/VTJOL0RNVFAxMXc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"内蒙古通辽神秘顾客/市场调研员","hot":"","area":"科尔沁","visited":"786","py_city":"tongliao","date":"2018-05-15","url":"/job/amltTzRDTzRFazA9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"广东湛江神秘顾客/市场调研员","hot":"","area":"赤坎","visited":"1757","py_city":"zhanjiang","date":"2018-04-11","url":"/job/Sk9oK2wwcTA5WHM9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"淄博神秘顾客/市场调研员","hot":"","area":"淄川","visited":"1085","py_city":"zibo","date":"2018-04-11","url":"/job/a2dDWktWaU5Da1U9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"山西运城神秘顾客/市场调研员","hot":"","area":"运城市","visited":"2463","py_city":"yuncheng","date":"2018-04-11","url":"/job/bXVDRHd2YnI5WDA9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"浙江金华神秘顾客/市场调研员","hot":"","area":"婺城","visited":"1534","py_city":"jinhua","date":"2018-04-11","url":"/job/enZ5VDN3OUp1bWc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江西赣州神秘顾客/市场调研员","hot":"","area":"章贡","visited":"5676","py_city":"ganzhou","date":"2018-04-11","url":"/job/Ty96V2lZTmdzWjA9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"西藏拉萨神秘顾客/市场调研员","hot":"","area":"城关","visited":"1547","py_city":"lasa","date":"2018-04-11","url":"/job/ZTJ6RWVVNzNiNDA9.html"},
	
		{"kj":"","salary":"70元/天","type_value":"dy","type_pinyin":"","type":"调研","title":"山西晋中神秘顾客/市场调研","hot":"","area":"榆次市","visited":"4702","py_city":"jinzhong","date":"2018-04-10","url":"/job/bDZQeWE2YklnT3c9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"内蒙古鄂尔多斯神秘顾客","hot":"","area":"康巴什区","visited":"1522","py_city":"eerduosi","date":"2018-04-09","url":"/job/cTY3UExKa2ZZOFk9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江西九江神秘顾客/市场调研员","hot":"","area":"庐山","visited":"1468","py_city":"jiujiang","date":"2018-04-09","url":"/job/eDg3TllUU281Nk09.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江西南昌神秘顾客/市场调研员","hot":"","area":"东湖","visited":"1164","py_city":"nanchang","date":"2018-04-09","url":"/job/UUJmYWxicGhOYWs9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江苏无锡神秘顾客/市场调研员","hot":"","area":"崇安","visited":"1249","py_city":"wuxi","date":"2018-04-09","url":"/job/YXQ1U2dLd2NWd0E9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江苏南通神秘顾客/市场调研员","hot":"","area":"崇川","visited":"1316","py_city":"nantong","date":"2018-04-09","url":"/job/b25EdmV3WUlVOTg9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"常州神秘顾客/市场调研员","hot":"","area":"天宁","visited":"1635","py_city":"changzhou","date":"2018-04-09","url":"/job/L2hhamNJQXN3Qms9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江苏南京神秘顾客/市场调研","hot":"","area":"建邺","visited":"1105","py_city":"nanjing","date":"2018-04-09","url":"/job/N2RwN1BXa0J0TDQ9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"长沙神秘顾客/市场调研","hot":"","area":"芙蓉","visited":"1023","py_city":"changsha","date":"2018-04-09","url":"/job/M0hGV05DMm1EQms9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"武汉神秘顾客/市场调研员","hot":"","area":"江岸","visited":"644","py_city":"wuhan","date":"2018-04-09","url":"/job/R0VwQ0VLQWhld0E9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"哈尔滨神秘顾客/市场调研","hot":"","area":"道里","visited":"1317","py_city":"haerbin","date":"2018-04-09","url":"/job/dXd0Yzg2dHZHME09.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"郑州神秘顾客/市场调研员","hot":"","area":"郑东新区","visited":"711","py_city":"zhengzhou","date":"2018-04-09","url":"/job/YkJMNzNwd0M3ZU09.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"唐山神秘顾客/市场调研员","hot":"","area":"路南","visited":"1302","py_city":"tangshan","date":"2018-04-09","url":"/job/OFVJazJzMGtjSXc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"贵阳神秘顾客/市场调研员","hot":"","area":"南明","visited":"1193","py_city":"guiyang","date":"2018-04-09","url":"/job/QkdvWEk4WXhzUTg9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"兰州神秘顾客/市场调研员","hot":"","area":"城关","visited":"1841","py_city":"lanzhou","date":"2018-04-09","url":"/job/dnpoNHdqeEJ0T009.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"福州神秘顾客/市场调研员","hot":"","area":"鼓楼","visited":"1309","py_city":"fuzhou","date":"2018-04-09","url":"/job/R01jZHNlUTZvN009.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"厦门神秘顾客/市场调研员","hot":"","area":"思明","visited":"1370","py_city":"xiamen","date":"2018-04-09","url":"/job/aWVtN2szanF6SlU9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"蚌埠神秘顾客/市场调研员","hot":"","area":"东市","visited":"1525","py_city":"bengbu","date":"2018-04-09","url":"/job/ZDIzNVh4U0FRdTA9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"合肥神秘顾客/市场调研员","hot":"","area":"庐阳","visited":"716","py_city":"hefei","date":"2018-04-09","url":"/job/a0tpT0hmdm9NZUE9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"德阳神秘顾客/市场调研员","hot":"","area":"旌阳","visited":"1288","py_city":"deyang","date":"2018-04-09","url":"/job/aGhIb1FaODhtQkU9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"包头神秘顾客/市场调研员","hot":"","area":"东河","visited":"1401","py_city":"baotou","date":"2018-04-09","url":"/job/clJUUjBYaFUzYWs9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"惠州神秘顾客/市场调研员","hot":"","area":"惠城","visited":"997","py_city":"huizhou","date":"2018-04-09","url":"/job/dENjYnpsVVJIWkU9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"肇庆神秘顾客/市场调研员","hot":"","area":"端州","visited":"910","py_city":"zhaoqing","date":"2018-04-09","url":"/job/NUNXVFF2ejV5YVU9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"佛山神秘顾客/市场调研员","hot":"","area":"禅城","visited":"1021","py_city":"foshan","date":"2018-04-09","url":"/job/R1FUdkJIdndnQ2M9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"珠海神秘顾客/市场调研员","hot":"","area":"香洲","visited":"1161","py_city":"zhuhai","date":"2018-04-09","url":"/job/NFVMQ28yZ1plRFU9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"深圳神秘顾客/市场调研员","hot":"","area":"罗湖","visited":"1353","py_city":"shenzhen","date":"2018-04-09","url":"/job/aTVKNEtaMkhtT1E9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"东莞神秘顾客/市场调研员","hot":"","area":"莞城","visited":"973","py_city":"dongguan","date":"2018-04-09","url":"/job/YnVEdDB5MjR3RnM9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"揭阳神秘顾客/市场调研员","hot":"","area":"榕城","visited":"843","py_city":"jieyang","date":"2018-04-09","url":"/job/VnJ3WDFyanExeTA9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"韶关神秘顾客/市场调研员","hot":"","area":"武江","visited":"624","py_city":"shaoguan","date":"2018-04-09","url":"/job/VlBMaldZU3BSUGs9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"北海神秘顾客/市场调研员","hot":"","area":"海城","visited":"925","py_city":"beihai","date":"2018-04-09","url":"/job/MkN5V1BNd2lValU9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"山东济南神秘顾客/市场调研员","hot":"","area":"历下","visited":"951","py_city":"jinan","date":"2018-04-09","url":"/job/dExNTzNQMmxFMkE9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"陕西延安神秘顾客/市场调研员","hot":"","area":"宝塔","visited":"1079","py_city":"yanan","date":"2018-04-02","url":"/job/Q3dJL3p2K2NkYmc9.html"},
	
		{"kj":"","salary":"70元/次","type_value":"dy","type_pinyin":"","type":"调研","title":"江西萍乡神秘顾客/市场调研员","hot":"","area":"安源","visited":"1469","py_city":"pingxiang","date":"2018-03-27","url":"/job/RDVndTluZjZ2QUk9.html"},
	
	];

	//alert(jid);
</script>