<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>简历库-兼职猫网页版</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <!--  使低于IE9版本的浏览器支持html5标签  -->
    <!--[if lt IE 9]>
    <script src="static/js/html5.js"></script>
    <![endif]-->
    <link rel="icon"
          href="//oss.aliyuncs.com/jianzhimao/web-res/icon/jianzhimao-logo-min.png?version=2.28.23"
          type="image/x-icon"/>
    <link resl="shortcut icon"
          href="//oss.aliyuncs.com/jianzhimao/web-res/icon/jianzhimao-logo-min.png?version=2.28.23"
          type="image/x-icon"/>
    <link rel="stylesheet"
          href="static/css/reset.css">
    <link rel="stylesheet"
          href="static/css/header.css">
    <link rel="stylesheet"
          href="static/css/container_header.css">
    <link rel="stylesheet"
          href="static/css/resume_library.css">
    <link rel="stylesheet"
          href="static/css/container_footer.css">
    <link rel="stylesheet"
          href="static/css/footer.css">


    <link rel="stylesheet"
          href="static/css/side_navigation_box.css">
    <link rel="stylesheet"
          href="static/css/content_ad_box.css">
    <link rel="stylesheet" href="static/css/alt.css">
    <!--  font-awesome图标集  -->
    <link rel="stylesheet"
          href="static/css/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet"
          href="static/css/font-awesome-ie7.min.css">
    <![endif]-->

    <style>


    </style>
</head>
<body>





<script src="static/js/sea.js"></script>
<script>
	var year = new Date().getFullYear(),
		month = (new Date().getMonth()+1>9)? new Date().getMonth()+1:"0"+ (new Date().getMonth()+1),
		date = (new Date().getDate()>9)? new Date().getDate():"0"+new Date().getDate(),
		hour = (new Date().getHours()>9)? new Date().getHours():"0"+new Date().getHours();
		time = new Date().getTime();
	var datetime =  year + month + date + hour+time;
seajs.config({
	  alias: { },
	  map: [
	    [ /^(.*\/web\/assets\/js\/.*\.(?:css|js))(?:.*)$/i, '$1?v='+ datetime ]
	  ]
	});


</script>
<header class="header">
	<nav class="w_main navigation_box">
		<div class="city_wrap">
			<span class="city">广州</span> <a rel="nofollow" href="http://www.jianzhimao.com/ctrlcity/changeCity.html">[切换城市]</a>
		</div>
		<div class="channel_box">
			<a rel="nofollow" href="http://www.jianzhimao.com">首页</a>
			<a rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/qghz.html" id="cooperation">申请社团赞助</a>
			 <a rel="nofollow" href="http://www.jianzhimao.com/ctrlindex/enterprise.html">企业服务</a>


			


			|
			
		    

				
					<a rel="nofollow" href="/ctrlenprise/companyinfo" class="user_name" id="user_name" title="15824827306">15824827306</a>
				
		    
			

				<a rel="nofollow" href="/ctrlcity/loginOut">退出 </a>

			

		</div>
	</nav>
	<div id="cooperation_box_alt" class="cooperation_box_alt">
        <div class="cooperation_box_overlay"></div>
        <div class="cooperation_box">
            <div class="title">申请合作<a rel="nofollow" class="close_btn" href="javascript:;" onclick="this.parentNode.parentNode.parentNode.style.display='none'">×</a></div>
            <div class="cont">
                <div class="p_left"><img src="static/picture/cooperation.png" alt="申请合作"></div>
                <div class="p_right">
                    <a rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/qydl.html" target="_blank" class="btn company">申请区域代理</a>
                    <a rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/wzhz.html" target="_blank" class="btn websize">申请网站合作</a>
                    <a rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/qghz.html" target="_blank" class="btn school">申请勤工合作</a>
                </div>
            </div>
        </div>
    </div>
</header><div id="resume_library_page">
    <div class="container">
        






<header class="w_main">
    <div class="logo_box clearfix">
        <a href="/" class="logo left"><img
                src="static/picture/logo.png" alt="兼职猫logo"></a>
        
       				 <a href="http://www.jianzhimao.com/ctrlenprise/jobView" id="j-wrzbtn22"  class="public right">进入招聘管理</a>
					<a rel="nofollow" href="/ctrlenpublish/publishCommonJob" class="public u-kjjz_btn right"> 发布兼职</a>	
            <!-- 2015 0817 顶部新增快结兼职发布按钮 -->
        
    </div>
    <div class="banner_box" id="banner_box">
        <div class="banner_box_imgs" id="banner_box_imgs">
            <a href="https://www.jianzhimao.com/index/compdownload" target="_blank" class="selected"><img
                    src="static/picture/long_banner.png" alt="banner loading"></a>
        </div>
        <div class="banner_box_btns" id="banner_box_btns">
            <a class="selected"></a>
        </div>
    </div>
    <div class="bread-crumb_box">
        <a href="http://guangzhou.jianzhimao.com">广州兼职猫</a>

        
        	<i class="icon-angle-right"></i> 简历库
        
    </div>
</header><div class="w_main">
            <ul class="resume_tab">
                <li type="filter_box" :class="{'active':tab=='filter'}" @click="tab='filter'">简历库</li>
                <li type="library_box" :class="{'active':tab=='library'}" @click="tab='library'">用户简历集合</li>
            </ul>
            <div class="resume_tab_box" id="filter_box_tab" v-show="tab=='filter'">
                <p><em>*</em>联系用户确认后，点击“<em>录用</em>”即可将用户加入对应兼职中</p>
                <div class="filter_condition" v-cloak>
                    <div class="filter_line">
                        <div class="inline_blo">
                            <label>性别</label> <select name="sex" v-model="filter.sex">
                            <option value="1">男</option>
                            <option value="0">女</option>
                            <option value="2">不限</option>
                        </select>
                            <label>年龄</label> <select name="age_type" v-model="filter.age_compare_type">
                            <option value="0">大于</option>
                            <option value="1">大于等于</option>
                            <option value="2">等于</option>
                            <option value="3">小于</option>
                            <option value="4">小于等于</option>
                            <option value="5" checked>不限</option>
                        </select>
                            <input type="number" min="1" max="80" v-model="filter.age"
                                   v-show="filter.age_compare_type != 5"/>

                        </div>

                        <div class="inline_blo">
                            <label>活跃程度</label>
                            <select name="activity_level" v-model="filter.activity_level">
                                <option value="0">不限</option>
                                <option value="1">最近7天登陆过平台</option>
                                <option value="2">最近30天登陆过平台</option>
                                <option value="3">最近90天登陆过平台</option>
                                <option value="4">最近180天登陆过平台</option>
                            </select>
                        </div>


                        <label>用户求职意向</label>
                        <div class="btn ora_round_btn" id="exp_job_btn">选择</div>
                        <div class="btn yel_border_btn" style="display:none" id="select_all_opinion">全选</div>
                        <div class="btn yel_border_btn delete" v-for="(item,index) in work_opinion_select"
                             @click="removeOpinion(item)" v-show="index <= 1">
                            <span>{{item}}</span><img src="static/picture/delete.png"/>
                        </div>
                        <span v-show="work_opinion_select && work_opinion_select.length>2">...</span>
                    </div>
                    <div class="fixed_wrap" id="exp_job_list_box">
                        <div class="l_overlay"></div>
                        <div class="btn_list_box exp_job_list">
                            <h3>用户求职意向<span>（可多选）</span></h3>
                            <ul class="blist">
                                <li class="item_btn" :class="{'active':item.select}" v-for="item in workOpinionList"
                                    @click="selectWorkOpinion($event,item)">{{item.namech}}
                                </li>
                                <li class="item_btn" @click="selectWorkOpinion($event)" id="all_work_opinion">全选</li>
                            </ul>
                            <div class="btn yel_long_btn" @click="confirmWorkOpinion()">确定</div>
                        </div>
                    </div>

                    <div class="filter_line">

                        <div class="inline_blo area_list_block">
                            <label>意向工作地点</label>
                            <select name="province" v-model="filter.work_province">
                                <option v-for="item in province_list">{{item.province}}</option>
                            </select>
                            <select name="city" v-model="filter.work_city">
                                <option v-for="item in city_list">{{item.city}}</option>
                            </select>
                            <span class="btn ora_round_btn" id="exp_area_btn">区/县选择</span>
                            <div class="inline_blo">
                                <div class="btn yel_border_btn" id="area_no_limit" style="display:none"> 不限</div>
                                <div class="btn yel_border_btn delete" v-for="(item,index) in work_area_select"
                                     v-show="index <= 1">
                                    <span>{{item}}</span><img src="static/picture/delete.png"  @click="removeArea(item)"/>
                                </div>
                                <span v-show="work_area_select && work_area_select.length>2">...</span>
                            </div>
                        </div>

                        <div class="fixed_wrap" id="exp_area_list_box">
                            <div class="l_overlay"></div>
                            <div class="btn_list_box exp_area_list">
                                <h3>工作地区<span>（可多选）</span></h3>
                                <ul class="blist">
                                    <li class="item_btn" @click="selectWorkArea($event)" id="all_work_area">不限</li>
                                    <li class="item_btn" :class="{'active':item.select}" v-for="item in workAreaList"
                                        @click="selectWorkArea($event,item)">{{item.area}}
                                    </li>
                                </ul>
                                <div class="btn yel_long_btn" @click="confirmWorkArea()">确定</div>
                            </div>
                        </div>

                        <div class="inline_blo ">&nbsp;&nbsp;&nbsp;用户是否接受全职 :
                            <select name="is_full_time" v-model="filter.is_full_time">
                                <option value="-1">不限</option>
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>

                        <div class="inline_blo ">&nbsp;&nbsp;&nbsp;教育状态 :
                            <select name="is_graduate" v-model="filter.is_graduate">
                                <option value="-1">不限</option>
                                <option value="0">在读</option>
                                <option value="1">已毕业</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter_line">
                        <div class="inline_blo ">简历更新周期 :
                            <select name="update_lifecycle" v-model="filter.update_lifecycle">
                                <option value="-1">不限</option>
                                <option value="3">3天内</option>
                                <option value="7">7天内</option>
                                <option value="30">30天内</option>
                            </select>
                        </div>

                        <div class="inline_blo ">&nbsp;&nbsp;&nbsp;学历 :
                            <select name="edu_degree" v-model="filter.edu_degree">
                                <option value="-1">不限</option>
                                <option value="0">其他</option>
                                <option value="1">高中</option>
                                <option value="2">大专</option>
                                <option value="3">本科</option>
                                <option value="4">硕士</option>
                                <option value="5">博士</option>
                            </select>
                        </div>
                    </div>

                    <p>用户空闲时间 <em>*如无特殊上班时间要求，此条件可不选（为空即表示全量搜索）</em></p>
                    <table class="time_table">
                        <tr>
                            <th></th>
                            <th width="100">周一</th>
                            <th width="100">周二</th>
                            <th width="100">周三</th>
                            <th width="100">周四</th>
                            <th width="100">周五</th>
                            <th width="100">周六</th>
                            <th width="100">周日</th>
                        </tr>
                        <tr v-for="line in calendar_list">
                            <td @click="selectAllTime(line)">{{line.time}}<p class="td_line"><img v-show="line.all"
                                                                                                  src="static/picture/radio_y.png"/><img
                                    v-show="!line.all" src="static/picture/radio_n.png"/> 全选</p></td>
                            <td v-for="time in line.list" @click="selectCalenderTime(time,line)"><img
                                    v-show="time.select" src="static/picture/gou.png"/></td>
                        </tr>
                    </table>
                    <div style="overflow:hidden;">
                        <span class="btn yel_btn floatr" @click="doCheckFilterResume(1)">查询</span>
                    </div>

                    <hr>

                    <div v-if="filter_resume_list" id="filter_resume_list">
                        <div v-if="filter_resume_list.length>0 ">
                            <table class="resume_list_table" v-cloak>
                                <tr>
                                    <th class="td1">姓名</th>
                                    <th>教育</th>
                                    <th class="td3">工作经验</th>
                                    <th>身高</th>
                                    <th>性别</th>
                                    <th>年龄</th>
                                    <th>联系方式</th>
                                    <th class="td8">操作</th>
                                </tr>
                                <tr v-for="item in filter_resume_list">
                                    <td>
                                        <a :href="'/ctrlcommon/readResume?resumeid=' + item.user_id" target="_blank">
                                            <div>{{item.user_name}}</div>
                                        </a>
                                    </td>
                                    <td><span v-if="item.is_graduate == 1">已毕业</span><span v-else>在读</span></td>
                                    <td width="270">
                                        <span class="btn yel_round_btn" v-for="(exp,index) in item.workExperienceList" :class="{exp_hide: index>=2}">{{exp.type}} {{exp.num}}次 </span>
                                        <span class="btn yel_round_btn" @click="showMoreExp($event)" v-if="item.workExperienceList&&item.workExperienceList.length>2">展开</span>
                                    </td>
                                    <td>{{item.height}}</td>
                                    <td>{{item.sex}}</td>
                                    <td>{{item.age}}</td>
                                    <td width="140"><span v-if="item.tel">{{item.tel}}</span><a v-else class="btn blue_btn"
                                                                                    @click="getPhoneLeftNum(item)">显示联系方式</a>
                                    </td>
                                    <td>
                                        <a v-if="item.tel" class="btn blue_btn" @click="openCompJobList(item.user_id)">录用</a>
                                        <a v-else class="btn blue_btn disabled" href="javascript:;">录用</a>
                                        <a :href="'/ctrlcommon/readResume?resumeid=' + item.user_id"
                                           v-if="item.isshow_resume" class="btn blue_btn" target="_blank">查看简历</a></td>
                                </tr>
                            </table>
                            <div class="page_navigator" v-if="all_pageNumber">
                                <a class="nav_item" :class="{'disable':filter_pageNumber <= 1}"
                                   @click="goToFilterPage(parseInt(filter_pageNumber)-1,$event)">上一页</a>
                                <a class="nav_item" :class="{'disable':filter_pageNumber >= filter_totalPage}"
                                   @click="goToFilterPage(parseInt(filter_pageNumber)+1,$event)">下一页</a>
                                <span v-if="filter_totalPage != max_total_page"> {{filter.pageNumber}} / {{filter_totalPage}} 页</span>
                            </div>
                        </div>
                        <div v-else class="empty_tip"><img src="static/picture/no_miao.png"/>
                            <p>暂无符合条件的简历</p></div>
                    </div>


                </div>
            </div>
            <div class="resume_tab_box" id="library_box_tab" v-show="tab=='library'">
                <div v-if="all_resume_list && all_resume_list.length>0 ">
                    <table class="resume_list_table" v-cloak>
                        <tr>
                            <th class="td1">姓名</th>
                            <th>教育</th>
                            <th class="td3">工作经验</th>
                            <th>身高</th>
                            <th>性别</th>
                            <th>年龄</th>
                            <th>联系方式</th>
                            <th class="td8">操作</th>
                        </tr>
                        <tr v-for="item in all_resume_list">
                            <td><a :href="'/ctrlcommon/readResume?resumeid=' + item.user_id" target="_blank">{{item.user_name}}</a>
                            </td>
                            <td><span v-if="item.is_graduate == 1">已毕业</span><span v-else>在读</span></td>
                            <td width="270">
                                <span class="btn yel_round_btn" v-for="(exp,index) in item.workExperienceList" :class="{exp_hide: index>=2}">{{exp.type}} {{exp.num}}次 </span>
                                <span class="btn yel_round_btn" @click="showMoreExp($event)" v-if="item.workExperienceList&&item.workExperienceList.length>2">展开</span>
                            </td>
                            <td>{{item.height}}</td>
                            <td>{{item.sex}}</td>
                            <td>{{item.age}}</td>
                            <td width="140"><span v-if="item.tel">{{item.tel}}</span></td>
                            <td><a class="btn blue_btn" @click="openCompJobList(item.user_id)">录用</a>
                                <a :href="'/ctrlcommon/readResume?resumeid=' + item.user_id" class="btn blue_btn"
                                   target="_blank">查看简历</a></td>
                        </tr>
                    </table>
                    <div class="page_navigator" v-if="all_pageNumber " v-cloak>
                        <a class="nav_item" :class="{'disable':all_pageNumber == 1}"
                           @click="goToLibrayPage(all_pageNumber-1,$event)">上一页</a>
                        <a class="nav_item" :class="{'disable':all_pageNumber == all_totalPage}"
                           @click="goToLibrayPage(all_pageNumber+1,$event)">下一页</a>
                    </div>
                </div>
                <div v-else class="empty_tip"><img src="static/picture/no_miao.png"/>
                    <p>暂无符合条件的简历</p></div>
            </div>
        </div>
        


<footer class="w_main container_footer">
	
	
	
	
	
	



	<!-- 附近城市 -->
	

	<div class="city_box">
		<ul class="list friend_url_a">
			<li class="title">热门城市：</li>
			<li><a target="_blank" 
				href="http://beijing.jianzhimao.com">北京兼职</a>
				<a target="_blank" 
				href="http://shanghai.jianzhimao.com">上海兼职</a>
				<a target="_blank" 
				href="http://guangzhou.jianzhimao.com">广州兼职</a>
				<a target="_blank" 
				href="http://shenzhen.jianzhimao.com">深圳兼职</a>
				<a target="_blank" 
				href="http://wuhan.jianzhimao.com">武汉兼职</a>
				<a target="_blank" 
				href="http://chengdu.jianzhimao.com">成都兼职</a>
				<a target="_blank" 
				href="http://hangzhou.jianzhimao.com">杭州兼职</a>
				<a target="_blank" 
				href="http://nanchang.jianzhimao.com">南昌兼职</a>
				<a target="_blank" 
				href="http://tianjin.jianzhimao.com">天津兼职</a>
				<a target="_blank" 
				href="http://zhengzhou.jianzhimao.com">郑州兼职</a>
			</li>
		</ul>
	</div>
	
</footer></div>

    <div class="fixed_wrap" id="CompJobListBox" v-cloak>
        <div class="l_overlay"></div>
        <div class="fixed_wrap_contain">
            <div  v-if="comp_job.compJobList&&comp_job.compJobList.length>=1" class="pop_container job_list_box">
                <table class="job_list_table" v-if="comp_job">
                    <tr v-for="item in comp_job.compJobList">
                        <td :jid="item.id">{{item.title}}</td>
                        <td width="100">
                            <a class="btn blue_round_btn"
                               v-if="item.ucaid==0||(item.current_status==0 &&  (item.current_state ==0 || item.current_state == 6))"
                               @click="hireJobByUser(item)">录用</a>
                            <span v-if="item.ucaid!=0&&item.current_status==3">已结算</span>
                            <span v-if="item.ucaid!=0&&(item.current_status==1&&item.current_state ==1)">已取消</span>
                            <a class="btn ora_round_btn"
                               v-if="item.ucaid!=0&&item.current_status==1 && item.current_state ==0 "
                               @click="cancelHireJobByUser(item)">取消录用</a>
                        </td>
                    </tr>
                </table>

                <div class="page_navigator" v-if="comp_job.pageNumber" v-cloak>
                    <a class="nav_item" :class="{'disable':comp_job.pageNumber == 1}"
                       @click="goToCompJobListPage(comp_job.pageNumber-1,$event)">上一页</a>
                    <a class="nav_item" :class="{'disable':comp_job.pageNumber == comp_job.totalPage}"
                       @click="goToCompJobListPage(comp_job.pageNumber+1,$event)">下一页</a>
                </div>

            </div>
            <div class="pop_container job_list_box nojob" v-else>
                <h3>没有可以录用用户的兼职，快去发布兼职吧！</h3>
                <a href="http://guangzhou.jianzhimao.com/ctrlenpublish/publishCommonJob" class="btn">发布兼职</a>
            </div>
        </div>
    </div>
    <div class="fixed_wrap" id="confirm_box" v-cloak>
        <div class="l_overlay"></div>
        <div class="middle_contain confirm_wrap">
            <div class="fixed_close"></div>
            <img class="tip_img" src="static/picture/sure_miao.png"/>
            <p class="text_contain">确认框提示内容</p>
            <div class="btn_box"><a class="btn theme_btn sure_btn">确认</a><a
                    class="btn normal_btn cancel_btn">取消</a></div>
        </div>

    </div>
    <div class="fixed_wrap" id="alert_box" v-cloak>
        <div class="l_overlay"></div>
        <div class="middle_contain alert_wrap">
            <div class="fixed_close"></div>
            <img class="tip_img" src="static/picture/sure_miao.png"/>
            <p class="text_contain">确认框提示内容</p>
            <div class="btn_box"><a class="btn theme_btn ">确认</a></div>
        </div>

    </div>
    <div class="fixed_wrap" id="buy_box" v-cloak>
        <div class="l_overlay"></div>
        <div class="middle_contain alert_wrap">
            <div class="fixed_close"></div>
            <img class="tip_img" src="static/picture/no_miao.png"/>
            <p class="text_contain">可用的查看联系方式数量为0！</p>
            <div class="btn_box"><a class="btn theme_btn" href="/commodity/index">去购买简历数</a></div>
        </div>


    </div>

</div>



<footer class="footer">
	<div class="w_main channel">
		<a target="_blank" rel="nofollow" href="http://www.jianzhimao.com/ctrlindex/contact.html" style="padding-left: 0;">关于我们</a>|
    	<a target="_blank" rel="nofollow" href="http://www.jianzhimao.com/ctrlindex/join.html">加入我们</a>|
    	<a target="_blank" rel="nofollow" href="http://www.jianzhimao.com/ctrlindex/enterprise.html">企业推广</a>|
    	<a target="_blank" rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/help.html">帮助中心</a>| &nbsp; &nbsp; &nbsp; 企业服务热线：4008034199 &nbsp; &nbsp;| &nbsp; &nbsp;业务电话：020-37109777
    	<a class="qq" target="_blank" rel="nofollow" href="tencent://message/?uin=800005602&amp;Site=http://qbar.qq.com/application/&amp;Menu=ye"><img src="static/picture/kf_qq.png" /></a>
        <a class="qq" target="_blank" rel="nofollow" href="tencent://message/?uin=3547627935&amp;Site=http://qbar.qq.com/application/&amp;Menu=ye"><img src="static/picture/yw_qq.png" /></a>

	</div>
	<p class="w_main"> Copyright©2018 兼职猫 jianzhimao.com 广州九尾信息科技有限公司 版权所有   <a style="color:#727272;" href="http://www.miibeian.gov.cn" target="_blank">粤ICP备13061591号</a> </p>
</footer>
  

    <script type="text/javascript">

    //CNZZ统计
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1000413010'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1000413010' async type='text/javascript'%3E%3C/script%3E"));

    //baidu统计
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript async src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F447f87add4dbd73deca17a45d8536dbd' type='text/javascript'%3E%3C/script%3E"));

    </script>

<script>
//延迟CNZZ统计, 以免影响页面载入

</script>
<script type='text/javascript'>
		var user_id="";
		var company_name="云和数据";
		var user_name="";
		var company_id="13335447";
		var _vds = _vds || [];
        window._vds = _vds;
        (function(){
        	
          _vds.push(['setAccountId', 'b0d18e1f996f733e']);
          _vds.push(['setCS1', 'user_id', user_id]);
          _vds.push(['setCS2', 'company_id', company_id]);
          _vds.push(['setCS3', 'user_name', company_name]);
          _vds.push(['setCS3', 'company_name', company_name]);
         

          (function() {
            var vds = document.createElement('script');
            vds.type='text/javascript';
            vds.async = true;
            vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(vds, s);
          })();
        })();
</script>
<script>
//判断当前浏览类型  
function checkBrowserType()  
{  
	var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串  
	var isOpera = userAgent.indexOf("Opera") > -1; //判断是否Opera浏览器  
	var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 && !isOpera; //判断是否IE浏览器  
	var isEdge = userAgent.indexOf("Windows NT 6.1; Trident/7.0;") > -1 && !isIE; //判断是否IE的Edge浏览器  
	var isFF = userAgent.indexOf("Firefox") > -1; //判断是否Firefox浏览器  
	var isSafari = userAgent.indexOf("Safari") > -1 && userAgent.indexOf("Chrome") == -1; //判断是否Safari浏览器  
	var isChrome = userAgent.indexOf("Chrome") > -1 && userAgent.indexOf("Safari") > -1; //判断Chrome浏览器  

	if (isIE)   
	{  
		 var reIE = new RegExp("MSIE (\\d+\\.\\d+);");  
		 reIE.test(userAgent);  
		 var fIEVersion = parseFloat(RegExp["$1"]);  
		 if(fIEVersion == 7)  
		 { return "IE7";}  
		 else if(fIEVersion == 8)  
		 { return "IE8";}  
		 else if(fIEVersion == 9)  
		 { return "IE9";}  
		 else if(fIEVersion == 10)  
		 { return "IE10";}  
		 else if(fIEVersion == 11)  
		 { return "IE11";}  
		 else  
		 { return "0"}//IE版本过低  
	 }//isIE end  
	   
	 if (isFF) {  return "FF";}  
	 if (isOpera) {  return "Opera";}  
	 if (isSafari) {  return "Safari";}  
	 if (isChrome) { return "Chrome";}  
	 if (isEdge) { return "Edge";}  
 }//myBrowser() end  
 var _t = checkBrowserType();
 if(_t=="IE7" || _t=="IE8" ||_t=="0"){
	if(document.getElementById("borwserTips")==undefined){
		var div = document.createElement("div");
		div.setAttribute("id","borwserTips");
		var txt = document.createTextNode("抱歉，你所用的浏览器版本过低，导致部分内容无法正常使用，可考虑升级IE9及以上版本或更换谷歌，火狐等浏览器进行使用，体验更佳哟。");
		div.appendChild(txt);
		div.style.background = "#fef9e5";
		div.style.color = "#ff5202";
		div.style.fontSize = "14px";
		div.style.textAlign = "center";
		div.style.height = "30px";
		div.style.lineHeight = "30px";
		var firstChild = document.body;
		firstChild.insertBefore(div,firstChild.childNodes[0])
	}
 }


 function isweixindo(){
			if(is_weixin()){
				$("#tipweixin").show();
			}else{
			}
 }
function is_weixin(){
	var ua = navigator.userAgent.toLowerCase();
	if(ua.match(/MicroMessenger/i)=="micromessenger") {
		return true;
	} else {
		return false;
	}
}

// 函数
 function browser_pc() {
      var userAgentInfo = navigator.userAgent;
      var Agents = ["Android", "iPhone",
                  "SymbianOS", "Windows Phone",
                  "iPad", "iPod"];
      var flag = true;
      for (var v = 0; v < Agents.length; v++) {
          if (userAgentInfo.indexOf(Agents[v]) > 0) {
              flag = false;
              break;
          }
      }
      return flag;
}

//判断是否是苹果端
function is_ios() {
    var u = navigator.userAgent;
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    return isiOS;
}
</script>
  </body>
</html>
<script src="static/js/jquery-3.0.0.min.js"></script>
<script src="static/js/vue-2.0.0.min.js"></script>
<script src="static/js/layer.js"></script>
<script src="static/js/resume_library.js"></script>


