

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>介绍页</title>

<link rel="stylesheet" href="static/css/reset.css">
<link rel="stylesheet" href="static/css/common.css">
<link rel="stylesheet" href="static/css/group.css">

<script>
//使低于IE9的浏览器兼容html5标签
(function() {
if (!
/*@cc_on!@*/
0) return;
var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, figcaption, footer, header, hgroup, main, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
var i= e.length;
while (i--){
document.createElement(e[i])
}
})();

</script>

</head>

<body id="top" class="grey_bg">
<div class="container" id="" >
    <!--header头部 Start-->
    <div class="header header1">
        <div class="head_wrap">
            <div class="w_logo">
            <a href="/"><img src="static/picture/logo.png" height="100%"/></a>
            <small class="lsmall">(集团号)</small>
            </div>
            <nav>
                <div class="group_nav">
                    <a href="/groupCompanyBasicInfo/index"   class="nav_item active">集团号管理</a>
                    <a href="/groupCompanyMember/index"  class="nav_item">集团成员管理</a>
                    <a href="/groupJobList/index"  class="nav_item">集团兼职管理</a>
                    <a href="/ctrlenprise/companyinfo" class="nav_item">  <i class="icon_arrow_down"></i></a>
                </div>
            </nav>
        </div>
    </div>
        <!--header头部 End-->

    <div class="about_container">

        <section>
            <h2 class="about_title" >兼职猫集团号--帮你解决兼职招聘的集团式管理</h2>
            <div class="about_wrap">
                <dl>
                    <div class="a_img"><img src="static/picture/group_about1.jpg"/></div>
                    <dt>兼职-集团式管理</dt>
                    <dd>集团号可收纳各门店/部门账号进行统一管理。</dd>
                </dl>
                <dl>
                    <div class="a_img"><img src="static/picture/group_about2.jpg"/></div>
                    <dt>集团兼职-在线跟踪</dt>
                    <dd>集团号在线查阅和跟踪各门店/部门账号的兼职招聘情况，一目了然。</dd>
                </dl>
                <dl>
                    <div class="a_img"><img src="static/picture/group_about3.jpg"/></div>
                    <dt>集团-兼职用工成本分析</dt>
                    <dd>集成于集团号后，会储蓄以往的兼职项目可进行项目分析，更好的灵活用工，降低用工成本，提高用工价值。</dd>
                </dl>
            </div>
        </section>

        <section class="mid_section">
            <a href="/groupApply/index" class="btn_theme">立即申请升级集团号</a>
            <p><small class="about_tip">（可转发该链接给公司总部进行统一申请，提高通过率）</small></p>
        </section>

        <section class="logos_section">
            <h2 class="about_title" >加入兼职猫集团号，与数千家企业一起推动兼职灵活用工</h2>
            <div  class="group_logo_wrap">
                <ul class="group_logo">
                    <li><img src="static/picture/logo1.png"></li>
                    <li><img src="static/picture/logo2.png"></li>
                    <li><img src="static/picture/logo3.png"></li>
                    <li><img src="static/picture/logo4.png"></li>
                    <li><img src="static/picture/logo5.png"></li>
                    <li><img src="static/picture/logo6.png"></li>
                    <li><img src="static/picture/logo7.png"></li>
                    <li><img src="static/picture/logo8.png"></li>
                    <li><img src="static/picture/logo9.png"></li>
                    <li><img src="static/picture/logo10.png"></li>
                    <li><img src="static/picture/logo11.png"></li>
                    <li><img src="static/picture/logo12.png"></li>
                    <li><img src="static/picture/logo13.png"></li>
                    <li><img src="static/picture/logo14.png"></li>
                    <li><img src="static/picture/logo15.png"></li>
                    <li><img src="static/picture/logo16.png"></li>
                    <li><img src="static/picture/logo17.png"></li>
                    <li><img src="static/picture/logo18.png"></li>
                    <li><img src="static/picture/logo19.png"></li>
                    <li><img src="static/picture/logo20.png"></li>
                    <li><img src="static/picture/logo21.png"></li>
                    <li><img src="static/picture/logo22.png"></li>
                    <li><img src="static/picture/logo23.png"></li>
                    <li><img src="static/picture/logo24.png"></li>
                    <li><img src="static/picture/logo25.png"></li>
                    <li><img src="static/picture/logo26.png"></li>
                    <li><img src="static/picture/logo27.png"></li>
                    <li><img src="static/picture/logo28.png"></li>
                </ul>
            </div>
        </section>

    </div>

</div>



    <footer class="footer">
        <div class="footer1">
            <div class="ft_box">
                <div class="ft_left">
                    <div class="ft_left_bot">
                        <div class="ft_item">
                            <a target="_blank" rel="nofollow" href="//www.jianzhimao.com/ctrlindex/contact.html" style="padding-left: 0;">关于我们</a>
                            <a target="_blank" rel="nofollow" href="//www.jianzhimao.com/ctrlindex/join.html">加入我们</a>
                            <a target="_blank" rel="nofollow" href="//www.jianzhimao.com/ctrlindex/enterprise.html">企业推广</a>
                            <a target="_blank" rel="nofollow" href="//www.jianzhimao.com/ctrlCooperate/help.html">帮助中心</a>
                        </div>
                        <p class="cp_right"> Copyright©2018 兼职猫 jianzhimao.com 广州九尾信息科技有限公司 版权所有   <a style="color:#ffc9a9;" href="http://www.miibeian.gov.cn" target="_blank">粤ICP备13061591号 </a></p>
                    </div>
                </div>
                <div class="ft_right">
                    <img src="static/picture/code_dingyuehao.jpg" class="scan_img" />
                    <div class="tip">
                        <p>扫描关注微信号</p><p>[兼职猫]</p>
                    </div>

                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript">

    //CNZZ统计
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1000413010'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1000413010' async type='text/javascript'%3E%3C/script%3E"));

    //baidu统计
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript async src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F447f87add4dbd73deca17a45d8536dbd' type='text/javascript'%3E%3C/script%3E"));

    </script>

<script>
//延迟CNZZ统计, 以免影响页面载入

</script>
<script type='text/javascript'>
		var user_id="";
		var company_name="";
		var user_name="";
		var company_id="";
		var _vds = _vds || [];
        window._vds = _vds;
        (function(){
        	
          _vds.push(['setAccountId', 'b0d18e1f996f733e']);
          _vds.push(['setCS1', 'user_id', user_id]);
          _vds.push(['setCS2', 'company_id', company_id]);
          _vds.push(['setCS3', 'user_name', company_name]);
          _vds.push(['setCS3', 'company_name', company_name]);
         

          (function() {
            var vds = document.createElement('script');
            vds.type='text/javascript';
            vds.async = true;
            vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(vds, s);
          })();
        })();
</script>
<script>
//判断当前浏览类型  
function checkBrowserType()  
{  
	var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串  
	var isOpera = userAgent.indexOf("Opera") > -1; //判断是否Opera浏览器  
	var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 && !isOpera; //判断是否IE浏览器  
	var isEdge = userAgent.indexOf("Windows NT 6.1; Trident/7.0;") > -1 && !isIE; //判断是否IE的Edge浏览器  
	var isFF = userAgent.indexOf("Firefox") > -1; //判断是否Firefox浏览器  
	var isSafari = userAgent.indexOf("Safari") > -1 && userAgent.indexOf("Chrome") == -1; //判断是否Safari浏览器  
	var isChrome = userAgent.indexOf("Chrome") > -1 && userAgent.indexOf("Safari") > -1; //判断Chrome浏览器  

	if (isIE)   
	{  
		 var reIE = new RegExp("MSIE (\\d+\\.\\d+);");  
		 reIE.test(userAgent);  
		 var fIEVersion = parseFloat(RegExp["$1"]);  
		 if(fIEVersion == 7)  
		 { return "IE7";}  
		 else if(fIEVersion == 8)  
		 { return "IE8";}  
		 else if(fIEVersion == 9)  
		 { return "IE9";}  
		 else if(fIEVersion == 10)  
		 { return "IE10";}  
		 else if(fIEVersion == 11)  
		 { return "IE11";}  
		 else  
		 { return "0"}//IE版本过低  
	 }//isIE end  
	   
	 if (isFF) {  return "FF";}  
	 if (isOpera) {  return "Opera";}  
	 if (isSafari) {  return "Safari";}  
	 if (isChrome) { return "Chrome";}  
	 if (isEdge) { return "Edge";}  
 }//myBrowser() end  
 var _t = checkBrowserType();
 if(_t=="IE7" || _t=="IE8" ||_t=="0"){
	if(document.getElementById("borwserTips")==undefined){
		var div = document.createElement("div");
		div.setAttribute("id","borwserTips");
		var txt = document.createTextNode("抱歉，你所用的浏览器版本过低，导致部分内容无法正常使用，可考虑升级IE9及以上版本或更换谷歌，火狐等浏览器进行使用，体验更佳哟。");
		div.appendChild(txt);
		div.style.background = "#fef9e5";
		div.style.color = "#ff5202";
		div.style.fontSize = "14px";
		div.style.textAlign = "center";
		div.style.height = "30px";
		div.style.lineHeight = "30px";
		var firstChild = document.body;
		firstChild.insertBefore(div,firstChild.childNodes[0])
	}
 }


 function isweixindo(){
			if(is_weixin()){
				$("#tipweixin").show();
			}else{
			}
 }
function is_weixin(){
	var ua = navigator.userAgent.toLowerCase();
	if(ua.match(/MicroMessenger/i)=="micromessenger") {
		return true;
	} else {
		return false;
	}
}

// 函数
 function browser_pc() {
      var userAgentInfo = navigator.userAgent;
      var Agents = ["Android", "iPhone",
                  "SymbianOS", "Windows Phone",
                  "iPad", "iPod"];
      var flag = true;
      for (var v = 0; v < Agents.length; v++) {
          if (userAgentInfo.indexOf(Agents[v]) > 0) {
              flag = false;
              break;
          }
      }
      return flag;
}

//判断是否是苹果端
function is_ios() {
    var u = navigator.userAgent;
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    return isiOS;
}
</script>

<script src="static/js/jquery-1.9.1.min.js"></script>
<script src="static/js/vue.min.js"></script>
<script src="static/js/layer.js"></script> 
<script src="static/js/group_common.js"></script>

</body>
</html>
