<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>大同最新兼职招聘信息,大同大学生找兼职网 - 兼职猫</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="keywords"  content="大同兼职人才网，大同高校兼职网，大同大学生兼职，">
<meta name="description"
	content="大同兼职猫是大同领先的兼职招聘网，为求职者和招聘者提供免费发布信息的平台，提供大同全新人才信息，找兼职工作就上兼职猫。" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<!--  使低于IE9版本的浏览器支持html5标签  -->
<!--[if lt IE 9]>
        <script src="static/js/html5_3.js"></script>
        <![endif]-->
<link rel="icon"
	href="//oss.aliyuncs.com/jianzhimao/web-res/icon/jianzhimao-logo-min.png?version=2.28.23"
	type="image/x-icon" />
<link resl="shortcut icon"
	href="//oss.aliyuncs.com/jianzhimao/web-res/icon/jianzhimao-logo-min.png?version=2.28.23"
	type="image/x-icon" />
<link rel="stylesheet"
	href="static/css/reset_3.css">
<link rel="stylesheet"
	href="static/css/header_1.css">
<link rel="stylesheet"
	href="static/css/container_header_1.css">
<link rel="stylesheet"
	href="static/css/index_3.css">
<link rel="stylesheet"
	href="static/css/container_footer_3.css">
<link rel="stylesheet"
	href="static/css/footer_3.css">


<link rel="stylesheet"
	href="static/css/side_navigation_box_1.css">
<link rel="stylesheet"
	href="static/css/content_ad_box_3.css">
<link rel="stylesheet" href="static/css/alt_3.css">
<!--  font-awesome图标集  -->
<link rel="stylesheet"
	href="static/css/font-awesome.min_3.css">
<!--[if IE 7]>
        <link rel="stylesheet" href="static/css/font-awesome-ie7.min_3.css">
        <![endif]-->
</head>
<body>
	




<script src="static/js/sea_3.js"></script>
<script>
	var year = new Date().getFullYear(),
		month = (new Date().getMonth()+1>9)? new Date().getMonth()+1:"0"+ (new Date().getMonth()+1),
		date = (new Date().getDate()>9)? new Date().getDate():"0"+new Date().getDate(),
		hour = (new Date().getHours()>9)? new Date().getHours():"0"+new Date().getHours();
		time = new Date().getTime();
	var datetime =  year + month + date + hour+time;
seajs.config({
	  alias: { },
	  map: [
	    [ /^(.*\/web\/assets\/js\/.*\.(?:css|js))(?:.*)$/i, '$1?v='+ datetime ]
	  ]
	});


</script>
<header class="header">
	<nav class="w_main navigation_box">
		<div class="city_wrap">
			<span class="city">大同</span> <a rel="nofollow" href="http://www.jianzhimao.com/ctrlcity/changeCity.html">[切换城市]</a>
		</div>
		<div class="channel_box">
			<a rel="nofollow" href="http://www.jianzhimao.com">首页</a>
			<a rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/qghz.html" id="cooperation">申请社团赞助</a>
			 <a rel="nofollow" href="http://www.jianzhimao.com/ctrlindex/enterprise.html">企业服务</a>


			


			|
			

				<a rel="nofollow" href="http://www.jianzhimao.com/ctrlcity/login"
					class="selected">登录</a>


		    
		    
			

		</div>
	</nav>
	<div id="cooperation_box_alt" class="cooperation_box_alt">
        <div class="cooperation_box_overlay"></div>
        <div class="cooperation_box">
            <div class="title">申请合作<a rel="nofollow" class="close_btn" href="javascript:;" onclick="this.parentNode.parentNode.parentNode.style.display='none'">×</a></div>
            <div class="cont">
                <div class="p_left"><img src="static/picture/cooperation_3.png" alt="申请合作"></div>
                <div class="p_right">
                    <a rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/qydl.html" target="_blank" class="btn company">申请区域代理</a>
                    <a rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/wzhz.html" target="_blank" class="btn websize">申请网站合作</a>
                    <a rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/qghz.html" target="_blank" class="btn school">申请勤工合作</a>
                </div>
            </div>
        </div>
    </div>
</header><section class="container">
		









<header class="w_main">
	<div class="logo_box clearfix">
		<a  href="/"
			class="logo left"><img
			src="static/picture/logo_1.png"
			alt="兼职猫logo"></a>
		<div class="search_wrap left">
			
				<input name="k" growing-track='true' type="text" placeholder="请输入搜索的内容" class="search"
					id="search" value=""><input type="button"
					value="搜索" class="submit" id="submit">
			
		</div>
		

    			<a href="http://www.jianzhimao.com/ctrlenprise/jobView" id="j-wrzbtn22"  class="public right">进入招聘管理</a>
				<a rel="nofollow" href="/ctrlenpublish/publishCommonJob" class="public u-kjjz_btn right"> 发布兼职</a>
		
	</div>
	<div class="banner_box" id="banner_box">
		<div class="banner_box_imgs" id="banner_box_imgs">
			<a href="https://www.jianzhimao.com/index/compdownload" target="_blank" class="selected"><img
				src="static/picture/long_banner_1.png"
				alt="banner loading"></a>
		</div>
		<div class="banner_box_btns" id="banner_box_btns">
			<a class="selected"></a>
		</div>
	</div>
	<div class="bread-crumb_box">
		
		
		
			<span>大同兼职</span>
		
		
		
		
		
		

	</div>

</header><article class="w_main">
			<aside class="option_box">
				<div class="tabs clearfix">
					<a>最新兼职</a>
				</div>
				<div class="cnts">
					<ul class="box">
						<li><span>类&nbsp;&nbsp;型:</span> 
						<a href="/" class="selected">不限</a>
							<a	href="/dbx_zbx_5/" class="tab">日结兼职</a>
						<a	href="/dbx_zbx_2/" class="tab">短期兼职</a>
						<a href="/dbx_zbx_1/" class="tab">长期兼职</a>
						<a href="/dbx_zbx_3/" class="tab">周末兼职</a>
						<a href="/dbx_zbx_4/" class="tab">全职招聘</a>
						<a href="/dbx_zbx_6/" class="tab">寒假工</a>
						<a href="/dbx_zbx_7/" class="tab">暑假工</a>
						<a target="_blank" href="http://www.jianzhimao.com/task/">手机兼职<span class="new">hot！</></a>

						</li>
						<li><span>种&nbsp;&nbsp;类:</span> 
						
						<a href="/" class="selected">不限</a>
							<a href="/dbx_qita_0/"

							class="tab">其他</a> <a
							href="/dbx_xiaoshou_0/"

							class="tab">销售</a> <a
							href="/dbx_anbao_0/"

							class="tab">安保</a> <a
							href="/dbx_liyi_0/"

							class="tab">礼仪</a> <a
							href="/dbx_cuxiao_0/"

							class="tab">促销</a> <a
							href="/dbx_fanyi_0/"

							class="tab">翻译</a> <a
							href="/dbx_kefu_0/"

							class="tab">客服</a> <a
							href="/dbx_yanchu_0/"

							class="tab">演出</a> <a
							href="/dbx_jiajiao_0/"

							class="tab">家教</a> <a
							href="/dbx_mote_0/"

							class="tab">模特</a> <a
							href="/dbx_paidan_0/"

							class="tab">派单</a> <a
							href="/dbx_wenyuan_0/"

							class="tab">文员</a> <a
							href="/dbx_sheji_0/"

							class="tab">设计</a> <a
							href="/dbx_xiaonei_0/"

							class="tab">校内</a> <a
							href="/dbx_linshigong_0/"

							class="tab">临时工</a> <a
							href="/dbx_fuwuyuan_0/"

							class="tab">服务员</a><a
							href="/dbx_shixi_0/"

							class="tab">实习</a>
							<a href="/dbx_songcanyuan_0/" class="tab">送餐员</a>
							<a href="/dbx_diaoyan_0/" class="tab">调研</a>
							</li>

						<li><span>区&nbsp;&nbsp;域:</span> 
						
						<a href="/" class="selected">不限</a>
							<a href="/nanjiao_zbx_0/"

									class="tab">南郊</a>
							<a href="/xinrong_zbx_0/"

									class="tab">新荣</a>
							<a href="/yanggaoxian_zbx_0/"

									class="tab">阳高县</a>
							<a href="/tianzhenxian_zbx_0/"

									class="tab">天镇县</a>
							<a href="/guanglingxian_zbx_0/"

									class="tab">广灵县</a>
							<a href="/lingqiuxian_zbx_0/"

									class="tab">灵丘县</a>
							<a href="/hunyuanxian_zbx_0/"

									class="tab">浑源县</a>
							<a href="/zuoyunxian_zbx_0/"

									class="tab">左云县</a>
							<a href="/datongxian_zbx_0/"

									class="tab">大同县</a>
							</li>
					</ul>
				</div>
			</aside>
			<div class="order_box"><ul class="order_tab">
			
				<a href="/">
					<li class="cur">最新发布</li></a><a href="/dbx_zbx_0_salary/"><li class="">最高薪资</li></a><a href="/dbx_zbx_0_click/"><li class="">最多人看</li></a></ul></div>
			<div class="content_box clearfix">
				<div class="content_list_box">




					<ul class="content_list_wrap" id="content_list_wrap">

						<li>
								<div class="left type_wrap">
									<i
										class="type qt"></i>
								</div> <a  href="/job/cmJnUjZEdXk0bWM9.html"
								target="_blank" title="手赚app不出家门领高薪"
								class="left title hot">手赚app不出家门领高薪</a>
								<div class="left area">
									<span title="南郊"><i class="icon-map-marker"></i>&nbsp;南郊</span>
								</div> <div class="left visited">
									<span title="5355"><i
										class="icon-user"></i>&nbsp;5355</span>
								</div> <div class="left date" title="刚刚">
									<i class="icon-time"></i> 刚刚</div>
							</li>
						<li>
								<div class="left type_wrap">
									<i
										class="type qt"></i>
								</div> <a  href="/job/RnJMSk9XdTAvajQ9.html"
								target="_blank" title="兼职发淘宝天猫优惠券/日结"
								class="left title hot">兼职发淘宝天猫优惠券/日</a>
								<div class="left area">
									<span title="南郊"><i class="icon-map-marker"></i>&nbsp;南郊</span>
								</div> <div class="left visited">
									<span title="475703"><i
										class="icon-user"></i>&nbsp;475703</span>
								</div> <div class="left date" title="刚刚">
									<i class="icon-time"></i> 刚刚</div>
							</li>
						<li>
								<div class="left type_wrap">
									<i
										class="type qt"></i>
								</div> <a  href="/job/bzF1VFc3eVNYUDQ9.html"
								target="_blank" title="淘宝天猫优惠券代理，20岁以上"
								class="left title hot">淘宝天猫优惠券代理，20</a>
								<div class="left area">
									<span title="南郊"><i class="icon-map-marker"></i>&nbsp;南郊</span>
								</div> <div class="left visited">
									<span title="116211"><i
										class="icon-user"></i>&nbsp;116211</span>
								</div> <div class="left date" title="刚刚">
									<i class="icon-time"></i> 刚刚</div>
							</li>
						<li>
								<div class="left type_wrap">
									<i
										class="type dy"></i>
								</div> <a  href="/job/RFBHaWN2blFTZ009.html"
								target="_blank" title="山西忻州神秘顾客/酒店评估师"
								class="left title ">山西忻州神秘顾客/酒店评</a>
								<div class="left area">
									<span title="南郊"><i class="icon-map-marker"></i>&nbsp;南郊</span>
								</div> <div class="left visited">
									<span title="1025"><i
										class="icon-user"></i>&nbsp;1025</span>
								</div> <div class="left date" title="2018-08-22">
									<i class="icon-time"></i> 2018-08-22</div>
							</li>
						<li>
								<div class="left type_wrap">
									<i
										class="type lsg"></i>
								</div> <a  href="/job/Z0tLTWR1b3BJTTg9.html"
								target="_blank" title="兼职一手机日结一在家可做"
								class="left title ">兼职一手机日结一在家可做</a>
								<div class="left area">
									<span title="南郊"><i class="icon-map-marker"></i>&nbsp;南郊</span>
								</div> <div class="left visited">
									<span title="141"><i
										class="icon-user"></i>&nbsp;141</span>
								</div> <div class="left date" title="2018-08-21">
									<i class="icon-time"></i> 2018-08-21</div>
							</li>
						<li>
								<div class="left type_wrap">
									<i
										class="type qt"></i>
								</div> <a  href="/job/bVVqb0pKc1ZUUHM9.html"
								target="_blank" title="天猫App优惠劵代理不建群"
								class="left title ">天猫App优惠劵代理不建</a>
								<div class="left area">
									<span title="南郊"><i class="icon-map-marker"></i>&nbsp;南郊</span>
								</div> <div class="left visited">
									<span title="88"><i
										class="icon-user"></i>&nbsp;88</span>
								</div> <div class="left date" title="2018-08-20">
									<i class="icon-time"></i> 2018-08-20</div>
							</li>
						<li>
								<div class="left type_wrap">
									<i
										class="type qt"></i>
								</div> <a  href="/job/Y1U3ajg3QlZpR289.html"
								target="_blank" title="潮流服饰招代理需满22岁女士"
								class="left title ">潮流服饰招代理需满22岁</a>
								<div class="left area">
									<span title="南郊"><i class="icon-map-marker"></i>&nbsp;南郊</span>
								</div> <div class="left visited">
									<span title="82"><i
										class="icon-user"></i>&nbsp;82</span>
								</div> <div class="left date" title="2018-08-20">
									<i class="icon-time"></i> 2018-08-20</div>
							</li>
						<li>
								<div class="left type_wrap">
									<i
										class="type qt"></i>
								</div> <a  href="/job/czQ5K1lmSkRBS0U9.html"
								target="_blank" title="手机兼职在家随时可做日结"
								class="left title ">手机兼职在家随时可做日结</a>
								<div class="left area">
									<span title="南郊"><i class="icon-map-marker"></i>&nbsp;南郊</span>
								</div> <div class="left visited">
									<span title="499"><i
										class="icon-user"></i>&nbsp;499</span>
								</div> <div class="left date" title="2018-08-20">
									<i class="icon-time"></i> 2018-08-20</div>
							</li>
						<li>
								<div class="left type_wrap">
									<i
										class="type qt"></i>
								</div> <a  href="/job/cTNjMnlHUm45czg9.html"
								target="_blank" title="优惠卷在家可做日赚零花钱"
								class="left title ">优惠卷在家可做日赚零花钱</a>
								<div class="left area">
									<span title="南郊"><i class="icon-map-marker"></i>&nbsp;南郊</span>
								</div> <div class="left visited">
									<span title="98"><i
										class="icon-user"></i>&nbsp;98</span>
								</div> <div class="left date" title="2018-08-17">
									<i class="icon-time"></i> 2018-08-17</div>
							</li>
						<li>
								<div class="left type_wrap">
									<i
										class="type qt"></i>
								</div> <a  href="/job/NGRSSkN6NVkzdnc9.html"
								target="_blank" title="限时招募淘宝优惠券代理合伙人火热报名中"
								class="left title ">限时招募淘宝优惠券代理合</a>
								<div class="left area">
									<span title="南郊"><i class="icon-map-marker"></i>&nbsp;南郊</span>
								</div> <div class="left visited">
									<span title="298"><i
										class="icon-user"></i>&nbsp;298</span>
								</div> <div class="left date" title="2018-08-17">
									<i class="icon-time"></i> 2018-08-17</div>
							</li>
						<li>
								<div class="left type_wrap">
									<i
										class="type xn"></i>
								</div> <a  href="/job/TEkrUkpQd0R6Z009.html"
								target="_blank" title="创意班服厂家直招代理兼职"
								class="left title ">创意班服厂家直招代理兼职</a>
								<div class="left area">
									<span title="南郊"><i class="icon-map-marker"></i>&nbsp;南郊</span>
								</div> <div class="left visited">
									<span title="125"><i
										class="icon-user"></i>&nbsp;125</span>
								</div> <div class="left date" title="2018-08-15">
									<i class="icon-time"></i> 2018-08-15</div>
							</li>
						<li>
								<div class="left type_wrap">
									<i
										class="type xn"></i>
								</div> <a  href="/job/Ry9WcG1LMEVtSGs9.html"
								target="_blank" title="诚招校园兼职项目合作负责人"
								class="left title ">诚招校园兼职项目合作负责</a>
								<div class="left area">
									<span title="南郊"><i class="icon-map-marker"></i>&nbsp;南郊</span>
								</div> <div class="left visited">
									<span title="1247"><i
										class="icon-user"></i>&nbsp;1247</span>
								</div> <div class="left date" title="2018-08-10">
									<i class="icon-time"></i> 2018-08-10</div>
							</li>
						<li>
								<div class="left type_wrap">
									<i
										class="type jj"></i>
								</div> <a  href="/job/QU9NNzlTSThTVGc9.html"
								target="_blank" title="每小时至少60元山西大同高价家教工作"
								class="left title ">每小时至少60元山西大同</a>
								<div class="left area">
									<span title="南郊"><i class="icon-map-marker"></i>&nbsp;南郊</span>
								</div> <div class="left visited">
									<span title="401"><i
										class="icon-user"></i>&nbsp;401</span>
								</div> <div class="left date" title="2018-08-08">
									<i class="icon-time"></i> 2018-08-08</div>
							</li>
						<li>
								<div class="left type_wrap">
									<i
										class="type qt"></i>
								</div> <a  href="/job/anVDYmFNL1ZlRWc9.html"
								target="_blank" title="团体服班服高校负责人招募"
								class="left title ">团体服班服高校负责人招募</a>
								<div class="left area">
									<span title="大同县"><i class="icon-map-marker"></i>&nbsp;大同县</span>
								</div> <div class="left visited">
									<span title="189"><i
										class="icon-user"></i>&nbsp;189</span>
								</div> <div class="left date" title="2018-08-04">
									<i class="icon-time"></i> 2018-08-04</div>
							</li>
						<li>
								<div class="left type_wrap">
									<i
										class="type xs"></i>
								</div> <a  href="/job/Z3Uya0xhRTh3Y2c9.html"
								target="_blank" title="商户拓展推广"
								class="left title ">商户拓展推广</a>
								<div class="left area">
									<span title="南郊"><i class="icon-map-marker"></i>&nbsp;南郊</span>
								</div> <div class="left visited">
									<span title="398"><i
										class="icon-user"></i>&nbsp;398</span>
								</div> <div class="left date" title="2018-08-02">
									<i class="icon-time"></i> 2018-08-02</div>
							</li>
						<li>
								<div class="left type_wrap">
									<i
										class="type xn"></i>
								</div> <a  href="/job/VW9GdHlIL08rV2M9.html"
								target="_blank" title="潮t团招班服代理"
								class="left title ">潮t团招班服代理</a>
								<div class="left area">
									<span title="南郊"><i class="icon-map-marker"></i>&nbsp;南郊</span>
								</div> <div class="left visited">
									<span title="3516"><i
										class="icon-user"></i>&nbsp;3516</span>
								</div> <div class="left date" title="2018-07-30">
									<i class="icon-time"></i> 2018-07-30</div>
							</li>
						<li>
								<div class="left type_wrap">
									<i
										class="type xs"></i>
								</div> <a  href="/job/VlNkdkJPbDZGRFk9.html"
								target="_blank" title="简单班服兼职轻松赚取无压力"
								class="left title ">简单班服兼职轻松赚取无压</a>
								<div class="left area">
									<span title="灵丘县"><i class="icon-map-marker"></i>&nbsp;灵丘县</span>
								</div> <div class="left visited">
									<span title="250"><i
										class="icon-user"></i>&nbsp;250</span>
								</div> <div class="left date" title="2018-07-30">
									<i class="icon-time"></i> 2018-07-30</div>
							</li>
						</ul>

					<div class="content_page_box">
							<ul class="content_page_wrap" id="content_page_wrap">
								<li><a class="selected"
										rel="nofollow"
										href="/dbx_zbx_0/index1.html">1</a></li>

								</ul>
						</div>

					</div>
				<div style="float: right;">
					<a target="_blank" class="content_ad_pic" href="http://www.jianzhimao.com/task/"><img src="static/picture/pic_money_1.jpg"></a>
					



<div class="content_ad_box" style="border:1px solid #dddddd;margin-bottom:20px;">
	<div class="p1">兼职猫简介</div>
		
			<div class="p2">
				想提高招聘效果，发兼职？<a rel="nofollow" href="/ctrlenpublish/publishCommonJob">马上发布</a>
			</div>
		
		
		

	<ul class="rcm_text">
	<li>
	<h2>一个真实可靠的兼职招聘平台</h2>
	<p>兼职信息经过多重核查，更加真实可靠。</p>
	</li>
	<li>
	<h2>一起来颠覆兼职招聘行业</h2>
	<p>我们希望未来能够为每一位用兼职猫的
	同学都买一份保险。</p>
	</li>
	<li>
	<h2>共同打造绿色的兼职平台</h2>
	<p>兼职猫已成为中国绿色兼职平台的领头
	羊。</p>
	</li>
	<li>
	<h2>给学生提供靠谱的兼职，给企业提
	供靠谱的好员工</h2>
	<p>来兼职猫发布优质的兼职，让高质的学生
	投身于你们的工作之中。</p>
	</li>
	</ul>
</div></div>
			</div>
		</article>
		<div class="m-qrcode_wrap" id="m-qrcode_wrap">
			<div class="ban_code_box">
				<div class="qr_title">开学季专场</div>
				<p>扫码快速参与活动<br>
丰厚奖品等你来拿</p>
				<div class="qrcode" id="m-qrcode"></div>
				<div class="bottom">我知道了</div>
			</div>
		</div>
		


<footer class="w_main container_footer">
	
		
		<!-- 附近城市类型兼职 -->
		<div class="city_box ">
			<ul class="list friend_url_a" style="padding-left: 108px;">
				<li class="title" style="margin-left: -108px;">大同兼职频道：</li>
				<li>
					<a target="_blank"  style="margin: 0px;" href="http://datong.jianzhimao.com/dbx_zbx_0/">大同兼职</a>
				招聘频道每日更新发布大同兼职招聘信息，免费为求职者提供大量安全可靠的大同兼职招聘信息。
				</li>
			</ul>
		</div>
	
	
	
	
	
	



	<!-- 附近城市 -->
	
	<div class="city_box">
		<ul class="list friend_url_a" >
			<li class="title" >附近城市：</li>
			<li>
					<a target="_blank" 
						href="http://changzhi.jianzhimao.com/">长治兼职</a>
				
					<a target="_blank" 
						href="http://jinzhong.jianzhimao.com/">晋中兼职</a>
				
					<a target="_blank" 
						href="http://lvliang.jianzhimao.com/">吕梁兼职</a>
				
					<a target="_blank" 
						href="http://linfen.jianzhimao.com/">临汾兼职</a>
				
					<a target="_blank" 
						href="http://.jianzhimao.com/">忻州兼职</a>
				
					<a target="_blank" 
						href="http://taiyuan.jianzhimao.com/">太原兼职</a>
				
					<a target="_blank" 
						href="http://yuncheng.jianzhimao.com/">运城兼职</a>
				</li>
		</ul>
	</div>
	

	<div class="city_box">
		<ul class="list friend_url_a">
			<li class="title">热门城市：</li>
			<li><a target="_blank" 
				href="http://beijing.jianzhimao.com">北京兼职</a>
				<a target="_blank" 
				href="http://shanghai.jianzhimao.com">上海兼职</a>
				<a target="_blank" 
				href="http://guangzhou.jianzhimao.com">广州兼职</a>
				<a target="_blank" 
				href="http://shenzhen.jianzhimao.com">深圳兼职</a>
				<a target="_blank" 
				href="http://wuhan.jianzhimao.com">武汉兼职</a>
				<a target="_blank" 
				href="http://chengdu.jianzhimao.com">成都兼职</a>
				<a target="_blank" 
				href="http://hangzhou.jianzhimao.com">杭州兼职</a>
				<a target="_blank" 
				href="http://nanchang.jianzhimao.com">南昌兼职</a>
				<a target="_blank" 
				href="http://tianjin.jianzhimao.com">天津兼职</a>
				<a target="_blank" 
				href="http://zhengzhou.jianzhimao.com">郑州兼职</a>
			</li>
		</ul>
	</div>
	
		<div class="link_box">
			<ul class="list friend_url_a">
				<li class="title">友情链接：</li>
				<li>
						<a target="_blank"  href="http://datong.17house.com/">大同装修公司</a>
					
						<a target="_blank"  href="http://www.demage.com/expo-datongwenhua/">大同市文化艺术中心展会信息</a>
					
						<a target="_blank"  href="http://gz.58.com/jiaobenkaifa/">广州脚本开发工程师</a>
					
						<a target="_blank"  href="http://datong.17house.com/">大同家装</a>
					
						<a target="_blank"  href="https://www.kanzhun.com/pla274p1.html">大同公司大全</a>
					
						<a target="_blank"  href="http://datong.0609.com/">大同分类信息网</a>
					
						<a target="_blank"  href="http://datong.tianqi.com/datongxian/30/">大同县天气预报30天</a>
					
						<a target="_blank"  href="https://m.jianzhimao.com/datong/">大同兼职</a>
					
						<a target="_blank"  href="http://www.58guakao.com/t59c48s0/1.html">大同建筑英才网</a>
					
						<a target="_blank"  href="http://www.tianqi4.com/datong/">大同天气预报30天</a>
					
						<a target="_blank"  href="https://www.liepin.com/datong/zhaopin/">大同招聘信息</a>
					
						<a target="_blank"  href="http://www.9ask.cn/datong/">大同律师咨询</a>
					
						<a target="_blank"  href="https://www.zhipin.com/c101100200/">BOSS直聘</a>
					
						<a target="_blank"  href="http://hotel.tianxun.com/datong/">大同酒店预订</a>
					
						<a target="_blank"  href="http://datong.7chacha.com">大同分类信息网</a>
					</li>
			</ul>
		</div>
	
</footer></section>

	











<section class="w_main side_navigation_box">
	
		
		<div class="personal-center_box">
			<div class="hd">
				<i class="icon-user"></i> 管理中心
			</div>
			<ul class="cnt">
				<li><a rel="nofollow"
					href="http://www.jianzhimao.com/ctrlcity/login"
					class="selected">登录</a></li>
				<li><a rel="nofollow"
					href="http://www.jianzhimao.com/ctrlcity/reg">
						注册</a></li>
			</ul>
		</div>
	
	
	<div class="download-code_box">
		<div class="cartoon"></div>
		<div class="wrap">
			
				<div class="code">
					<img src="static/picture/yh_download_1.png" alt="兼职猫下载二维码">
					<div>兼职猫客户端</div>
				</div>
			

			
			<div class="customer-service">
				<!-- WPA Button Begin

                <script charset="utf-8" type="text/javascript"
                    src="static/js/wpa_1.js"></script>
                -->
				<!-- WPA Button End -->
			</div>
		</div>
	</div>

</section>
<!-- 20150807 新增快结兼职发布入口， 添加企业认证弹窗 -->


<!-- 20150807 新增快结兼职发布入口， 添加企业认证弹窗 -->
<div id="j-hint3" style="display: none">
	<div class="m-hint">
		<ul class="m-sqrz_list">

			<li class="rz_last"><a href="/ctrlcompaddval/authen"><p></p>
					<span>实名认证</span></a>
				<h6>通过线上或线下进行资料提交，通过兼职猫信息审核，完成认证享受特权</h6></li>
			
				
				
					<!-- 未开放vip -->
					<li class="vip_disabled"><a href="#"><p></p>
							<span>VIP申请</span></a>
						<h6>该地区暂未开放，敬请期待</h6></li>
				

			
		</ul>
	</div>
</div>


<div id="j-hint2" style="display: none">
	<div class="m-hint">
		<h3>请先完成企业认证</h3>
		<p class="fb_tit">
			快结兼职仅限于认证企业发布，<br>具有确保招聘 效果和质量的兼职类型
		</p>
		<br />
		<br />
		<p class="btn">
			<a class="btn u-bg_78b31a"
				href="/ctrlenterpriseAuthen/onlineAuthFirstRequest">线上认证（提交资料）</a>
			
		</p>
		<hr />
		<p class="rz">
			提交资料前，请先完成一次发布，便于快速通过审核<br> 线上认证：在线完成资料填写与提交，兼职猫运营审核通过后，获得认证特权。<br />
			实地认证：提交基本的信息资料，兼职猫业务人员负责对接，上门拜访完成认证。
		</p>
	</div>
</div>

<div id="j-hint" style="display: none">
	<div class="m-hint">
		<h3>
			请先完成企业认证<br />
		</h3>
		<p class="ts">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>（快结兼职仅限于认证企业发布，具有招聘</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;效果和质量保证的兼职类型）</b>
		</p>
		<p class="btn">
			<a class="btn u-bg_78b31a" id="j-accbtn" href="javascript:">我要申请认证</a>
		</p>
	</div>
</div>

<div id="j-gxhint" style="display: none">
	<div class="m-hint">
		<h3>
			请稍等管理员开通权限<br />
		</h3>
		<p class="ts">可联系电话：400-803-4199</p>
		<p class="btn">
			<a class="btn u-bg_78b31a" id="j-gxaccbtn" href="javascript:">确定</a>
		</p>
	</div>
</div>
<!-- 20180710 新商业模式 新功能步骤 -->




<!-- 20150817 当企业未认证时，这里输出 true 前端判断流程 -->
<div class="info_hidden" id="a" style="display: none">{ 'a': 
	}</div>
<input type="hidden" id="account_status" value="0" />
<!--20150817  弹窗js  -->
<script TYPE="application/javascript">
	

	(function() {
		var getCookie = function(c_name) {
			if (document.cookie.length > 0) {
				c_start = document.cookie.indexOf(c_name + "=")
				if (c_start != -1) {
					c_start = c_start + c_name.length + 1
					c_end = document.cookie.indexOf(";", c_start)
					if (c_end == -1)
						c_end = document.cookie.length
					return unescape(document.cookie.substring(c_start, c_end))
				}
			}
			return ""
		};
		var el = document.getElementById('wx_enter');
		if (el == null) {
			return;
		}
		if (getCookie('isw') === '0') {
			el.className = '';
		}
		var tag_session = localStorage.getItem("apply_guide_xiaoguo");
		if(!tag_session){
			var ali = document.getElementById("applyVipXiaoguo").getElementsByClassName("tag")[0];
				ali.style.display = 'inline-block';

			//$("#applyVipXiaoguo .tag").hide();
		}


	})();
	function closeApplyTag(){
		localStorage.setItem("apply_guide_xiaoguo",1);
		var ali = document.getElementById("applyVipXiaoguo").getElementsByClassName("tag")[0];
	   	ali.style.display = 'none';
		//$("#applyVipXiaoguo .tag").hide();
	}
	
</script>






<footer class="footer">
	<div class="w_main channel">
		<a target="_blank" rel="nofollow" href="http://www.jianzhimao.com/ctrlindex/contact.html" style="padding-left: 0;">关于我们</a>|
    	<a target="_blank" rel="nofollow" href="http://www.jianzhimao.com/ctrlindex/join.html">加入我们</a>|
    	<a target="_blank" rel="nofollow" href="http://www.jianzhimao.com/ctrlindex/enterprise.html">企业推广</a>|
    	<a target="_blank" rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/help.html">帮助中心</a>| &nbsp; &nbsp; &nbsp; 企业服务热线：4008034199 &nbsp; &nbsp;| &nbsp; &nbsp;业务电话：020-37109777
    	<a class="qq" target="_blank" rel="nofollow" href="tencent://message/?uin=800005602&amp;Site=http://qbar.qq.com/application/&amp;Menu=ye"><img src="static/picture/kf_qq_1.png" /></a>
        <a class="qq" target="_blank" rel="nofollow" href="tencent://message/?uin=3547627935&amp;Site=http://qbar.qq.com/application/&amp;Menu=ye"><img src="static/picture/yw_qq_1.png" /></a>

	</div>
	<p class="w_main"> Copyright©2018 兼职猫 jianzhimao.com 广州九尾信息科技有限公司 版权所有   <a style="color:#727272;" href="http://www.miibeian.gov.cn" target="_blank">粤ICP备13061591号</a> </p>
</footer>
  

    <script type="text/javascript">

    //CNZZ统计
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1000413010'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1000413010' async type='text/javascript'%3E%3C/script%3E"));

    //baidu统计
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript async src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F447f87add4dbd73deca17a45d8536dbd' type='text/javascript'%3E%3C/script%3E"));

    </script>

<script>
//延迟CNZZ统计, 以免影响页面载入

</script>
<script type='text/javascript'>
		var user_id="";
		var company_name="";
		var user_name="";
		var company_id="";
		var _vds = _vds || [];
        window._vds = _vds;
        (function(){
        	
          _vds.push(['setAccountId', 'b0d18e1f996f733e']);
          _vds.push(['setCS1', 'user_id', user_id]);
          _vds.push(['setCS2', 'company_id', company_id]);
          _vds.push(['setCS3', 'user_name', company_name]);
          _vds.push(['setCS3', 'company_name', company_name]);
         

          (function() {
            var vds = document.createElement('script');
            vds.type='text/javascript';
            vds.async = true;
            vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(vds, s);
          })();
        })();
</script>
<script>
//判断当前浏览类型  
function checkBrowserType()  
{  
	var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串  
	var isOpera = userAgent.indexOf("Opera") > -1; //判断是否Opera浏览器  
	var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 && !isOpera; //判断是否IE浏览器  
	var isEdge = userAgent.indexOf("Windows NT 6.1; Trident/7.0;") > -1 && !isIE; //判断是否IE的Edge浏览器  
	var isFF = userAgent.indexOf("Firefox") > -1; //判断是否Firefox浏览器  
	var isSafari = userAgent.indexOf("Safari") > -1 && userAgent.indexOf("Chrome") == -1; //判断是否Safari浏览器  
	var isChrome = userAgent.indexOf("Chrome") > -1 && userAgent.indexOf("Safari") > -1; //判断Chrome浏览器  

	if (isIE)   
	{  
		 var reIE = new RegExp("MSIE (\\d+\\.\\d+);");  
		 reIE.test(userAgent);  
		 var fIEVersion = parseFloat(RegExp["$1"]);  
		 if(fIEVersion == 7)  
		 { return "IE7";}  
		 else if(fIEVersion == 8)  
		 { return "IE8";}  
		 else if(fIEVersion == 9)  
		 { return "IE9";}  
		 else if(fIEVersion == 10)  
		 { return "IE10";}  
		 else if(fIEVersion == 11)  
		 { return "IE11";}  
		 else  
		 { return "0"}//IE版本过低  
	 }//isIE end  
	   
	 if (isFF) {  return "FF";}  
	 if (isOpera) {  return "Opera";}  
	 if (isSafari) {  return "Safari";}  
	 if (isChrome) { return "Chrome";}  
	 if (isEdge) { return "Edge";}  
 }//myBrowser() end  
 var _t = checkBrowserType();
 if(_t=="IE7" || _t=="IE8" ||_t=="0"){
	if(document.getElementById("borwserTips")==undefined){
		var div = document.createElement("div");
		div.setAttribute("id","borwserTips");
		var txt = document.createTextNode("抱歉，你所用的浏览器版本过低，导致部分内容无法正常使用，可考虑升级IE9及以上版本或更换谷歌，火狐等浏览器进行使用，体验更佳哟。");
		div.appendChild(txt);
		div.style.background = "#fef9e5";
		div.style.color = "#ff5202";
		div.style.fontSize = "14px";
		div.style.textAlign = "center";
		div.style.height = "30px";
		div.style.lineHeight = "30px";
		var firstChild = document.body;
		firstChild.insertBefore(div,firstChild.childNodes[0])
	}
 }


 function isweixindo(){
			if(is_weixin()){
				$("#tipweixin").show();
			}else{
			}
 }
function is_weixin(){
	var ua = navigator.userAgent.toLowerCase();
	if(ua.match(/MicroMessenger/i)=="micromessenger") {
		return true;
	} else {
		return false;
	}
}

// 函数
 function browser_pc() {
      var userAgentInfo = navigator.userAgent;
      var Agents = ["Android", "iPhone",
                  "SymbianOS", "Windows Phone",
                  "iPad", "iPod"];
      var flag = true;
      for (var v = 0; v < Agents.length; v++) {
          if (userAgentInfo.indexOf(Agents[v]) > 0) {
              flag = false;
              break;
          }
      }
      return flag;
}

//判断是否是苹果端
function is_ios() {
    var u = navigator.userAgent;
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    return isiOS;
}
</script>
  </body>
</html>
<script src="static/js/jquery-1.9.1.min_3.js"></script>

<script src="static/js/sea_3.js"></script>
<script src="static/js/qrcode.min_3.js"></script>

<script>
	seajs.use("index.js?v=2017032102");
</script>

