


<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>兼职工作资讯——兼职猫</title>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="keywords" content="网上兼职、手机兼职、手机赚钱、网络兼职。" />
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="description" content="兼职猫为您分享兼职工作资讯、实用信息，帮助求职者更好地获取工作。">


	

<!-- mata & link -->
<meta name="keywords" content="兼职猫，兼职网，临时工，大学生兼职，兼职招聘" />
<meta content="兼职猫，兼职网，临时工，大学生兼职，兼职招聘" name="description" />
<link rel="icon" href="http://oss.aliyuncs.com/jianzhimao/web-res/icon/jianzhimao-logo-min.png?version=2.28.23" type="image/x-icon" />
<link resl="shortcut icon" href="http://oss.aliyuncs.com/jianzhimao/web-res/icon/jianzhimao-logo-min.png?version=2.28.23" type="image/x-icon" />

	<link rel="stylesheet" href="static/special/css/news.css">
	<link rel="stylesheet" href="static/special/css/header.css">
	<link rel="stylesheet" href="static/special/css/common.css">
	<link rel="stylesheet" href="static/special/css/reset.css">
	<link rel="stylesheet" href="static/special/css/footer.css">

<script>
//使低于IE9的浏览器兼容html5标签
(function() {
    if (!
    /*@cc_on!@*/
    0) return;
    var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, figcaption, footer, header, hgroup, main, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
    var i= e.length;
    while (i--){
        document.createElement(e[i])
    }
})()
</script>


</head>

<body id="top" class="gray_bg">
	


<header class="header header1">
	<div class="head_wrap">
		<div class="w_logo">
			<a href="/">
			<img src="static/special/picture/logo.png" height="100%"/>
			</a>
		</div>
		
		<nav>
			<div class="w_nav">
				<a href="/"> <div  id="index_nav" class="nav_item">首页</div></a>
				<a href="http://.jianzhimao.com"> <div class="nav_item">兼职网页版</div></a>
				<a href="/ctrlindex/enterprise.html"> <div id="enterprise_nav" class="nav_item">企业服务</div></a>
				<a href="/task/"><div id="mew_nav" class="nav_item"> 喵任务</div></a>
				

				<a href="/news/"><div id="news_nav" class="nav_item"> 行业资讯</div></a>
				<a href="/ctrlCooperate/help.html"><div id="help_nav" class="nav_item"> 帮助中心</div></a>
			</div>
		</nav>
	</div>
</header>
<script>
var cur_url=location.href;
	var index = new RegExp("/\.com/?"),
		mew = new RegExp("/ctrlmewtask/index"),
		enterprise = new RegExp("enterprise.html"),
		news = new RegExp("news.html"),
		help = new RegExp("help.html");
	
	if(index.test(cur_url)){
		var obj = document.getElementById("index_nav");
		obj.className=obj.className +" " +"active";
	}else if(mew.test(cur_url)){
		var obj = document.getElementById("mew_nav");
		//obj.className=obj.className +" " +"active";
	}else if(enterprise.test(cur_url)){
		var obj = document.getElementById("enterprise_nav");
		obj.className=obj.className +" " +"active";
	}else if(help.test(cur_url)){
		var obj = document.getElementById("help_nav");
		obj.className=obj.className +" " +"active";
	}else if(news.test(cur_url)){
		var obj = document.getElementById("news_nav");
		obj.className=obj.className +" " +"active";
	}

</script>

<div id="news_page">
	<article class="container">
		<div class="w_main" style="overflow: auto;">
			<!-- left 行业资讯 -->
			<div class="news_left">
				<div class="news_tab">
					<ul> 
						<li class="active"><a href="/zuixin/">最新</a></li>
						
						<li class=""><a href="/hyxw/">行业新闻</a></li>
					</ul>
				</div>
				<div class="news_page_wrap">
					<!-- <h1>行业资讯</h1> -->
					<div class="pad_box">
						<ul class="news_list_box">
							
								<li>
									<a style="text-decoration:none;" class="view" href="/zuixin/2148.html"
									target="_blank">
										<h2>暑假工体验：第一次的车间的临时工工作感受，身心疲惫但很有收获</h2>
										<p>发布时间: 2018-07-21 18:12:53.0 &nbsp;&nbsp;&nbsp; 阅读量: 1011</p>
										
										<p class="pre_content">暑假工的工作内容有很多，在车间做临时工是很常见的一种形式，也是能填满为期两个月的兼职形式。那么做车间的临时工会是什么感受呢，枯燥乏味还是有所收获，乏善可陈还是苦中作乐？我们来看下兼职猫用户的体验如何。</p>
										<p>
										<span class="read">阅读全文</span>
										</p>
									</a>
								</li>
							
								<li>
									<a style="text-decoration:none;" class="view" href="/zuixin/2144.html"
									target="_blank">
										<h2>暑期找兼职实习，有什么重要部分容易被忽略？</h2>
										<p>发布时间: 2018-06-28 18:13:18.0 &nbsp;&nbsp;&nbsp; 阅读量: 1064</p>
										
										<p class="pre_content">实习职位一般是没有薪水或者只有很少的补贴。实习时间从一个学期、一个季度到一个暑假不等。实习面试是确定你是否适合实习工作的最重要的方式。 所以兼职猫小编在这里建议大家，能够找一份实习，是对以后找工作很有帮助的一件事。</p>
										<p>
										<span class="read">阅读全文</span>
										</p>
									</a>
								</li>
							
								<li>
									<a style="text-decoration:none;" class="view" href="/zuixin/2143.html"
									target="_blank">
										<h2>暑期大三的学生怎样申请一个实习机会</h2>
										<p>发布时间: 2018-06-28 17:50:43.0 &nbsp;&nbsp;&nbsp; 阅读量: 925</p>
										
										<p class="pre_content">暑假即将来临，类似于暑假要不要找兼职实习，怎么找实习这类的问题也越来越被大家关注，下面兼职猫小编分享一篇朋友找实习的一些经历感想，希望对大家有所帮助。</p>
										<p>
										<span class="read">阅读全文</span>
										</p>
									</a>
								</li>
							
								<li>
									<a style="text-decoration:none;" class="view" href="/zuixin/2142.html"
									target="_blank">
										<h2>大学生暑假要怎么过</h2>
										<p>发布时间: 2018-06-28 17:30:15.0 &nbsp;&nbsp;&nbsp; 阅读量: 494</p>
										
										<p class="pre_content">一年一度的暑假即将来临，在考试繁忙的季节里，偶尔遐想暑假该去哪里比较好的同学不在少数。在大学校园里，有的同学忙着准备考研，有的同学收拾行囊准备回家，有的同学忙着考证，有的同学忙着找暑假兼职实习，有的忙着度假旅游，还有的忙着三下乡活动支教。各种各样的大学生过暑假方式，你选择哪一样？</p>
										<p>
										<span class="read">阅读全文</span>
										</p>
									</a>
								</li>
							

							<!-- <li v-for="list in news"  v-cloak>
							<a style="text-decoration:none;" class="view" :href="list.link"
									   target="_blank">
								<h2>{{list.title}}</h2>
								<p>发布时间: {{list.create_time}} &nbsp;&nbsp;&nbsp; 阅读量: {{list.views}}</p>
								<div class="cover" v-if="list.cover && list.cover.length>0">
									<img :src="static/special/picture/list.cover" />
								</div>
								<p class="pre_content">{{list.pre_content}}</p>
								<p>
									<span class="read">阅读全文</span>
								</p>
								</a>
							</li>
 -->
						</ul>
						<!-- <div class="more_box">
							<a href="javascript:;" v-on:click="getMore()" class="more" >更多资讯</a>
						</div> -->
						<!-- 分页 -->
						<div class="pages_list">
							<ul>
							
								

								

								
									<li class="num active"><a href="/zuixin/1/">1</a>
								
									<li class="num "><a href="/zuixin/2/">2</a>
								
									<li class="num "><a href="/zuixin/3/">3</a>
								
									<li class="num "><a href="/zuixin/4/">4</a>
								
									<li class="num "><a href="/zuixin/5/">5</a>
								
									<li class="num "><a href="/zuixin/6/">6</a>
								
									<li class="num "><a href="/zuixin/7/">7</a>
								
									<li class="num "><a href="/zuixin/8/">8</a>
								
									<li class="num "><a href="/zuixin/9/">9</a>
								

								
									<li class="next"><a href="/zuixin/2/">></a></li>
								

								<!-- <li class="prev"><a href="#"><</a></li>
								<li class="num active"><a href="#">1</a></li>
								<li class="num"><a href="#">2</a></li>
								<li class="next"><a href="#">></a></li> -->
							</ul>
						</div>
					</div>

				</div>
			</div>
			<!-- right 热门资讯 -->
			<div class="hot_news">
			    <!-- title -->
				<div class="title">
					 热门资讯
				</div>
				<div class="hot_news_list">
					<ul>
					
					<li><a href="/hyxw/124.html">大学生：星巴克兼职面试过程分享</a></li>
					
					<li><a href="/hyxw/200.html">淘宝天猫招聘学生客服兼职是真的吗</a></li>
					
					<li><a href="/hyxw/258.html">适合学生的网上兼职工作有哪些</a></li>
					
					<li><a href="/hyxw/1789.html">分享一个在火锅店当兼职服务员的经历，调节心态去适应很重要。</a></li>
					
					<li><a href="/hyxw/47.html">大学生找工作考什么证书-----十大最有用证书</a></li>
					
						
					
					</ul>
					
				</div>
			</div>
		</div>
	</article>

</div>



    <footer class="footer">
        <div class="footer1">
            <div class="ft_box">
                <div class="ft_left">
                    <div class="ft_left_bot">
                        <div class="ft_item">
                            <a target="_blank" rel="nofollow" href="//www.jianzhimao.com/ctrlindex/contact.html" style="padding-left: 0;">关于我们</a>
                            <a target="_blank" rel="nofollow" href="//www.jianzhimao.com/ctrlindex/join.html">加入我们</a>
                            <a target="_blank" rel="nofollow" href="//www.jianzhimao.com/ctrlindex/enterprise.html">企业推广</a>
                            <a target="_blank" rel="nofollow" href="//www.jianzhimao.com/ctrlCooperate/help.html">帮助中心</a>
                        </div>
                        <p class="cp_right"> Copyright©2018 兼职猫 jianzhimao.com 广州九尾信息科技有限公司 版权所有   <a style="color:#ffc9a9;" href="http://www.miibeian.gov.cn" target="_blank">粤ICP备13061591号 </a></p>
                    </div>
                </div>
                <div class="ft_right">
                    <img src="static/special/picture/code_dingyuehao.jpg" class="scan_img" />
                    <div class="tip">
                        <p>扫描关注微信号</p><p>[兼职猫]</p>
                    </div>

                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript">

    //CNZZ统计
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1000413010'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1000413010' async type='text/javascript'%3E%3C/script%3E"));

    //baidu统计
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript async src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F447f87add4dbd73deca17a45d8536dbd' type='text/javascript'%3E%3C/script%3E"));

    </script>

<script>
//延迟CNZZ统计, 以免影响页面载入

</script>
<script type='text/javascript'>
		var user_id="";
		var company_name="";
		var user_name="";
		var company_id="";
		var _vds = _vds || [];
        window._vds = _vds;
        (function(){
        	
          _vds.push(['setAccountId', 'b0d18e1f996f733e']);
          _vds.push(['setCS1', 'user_id', user_id]);
          _vds.push(['setCS2', 'company_id', company_id]);
          _vds.push(['setCS3', 'user_name', company_name]);
          _vds.push(['setCS3', 'company_name', company_name]);
         

          (function() {
            var vds = document.createElement('script');
            vds.type='text/javascript';
            vds.async = true;
            vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(vds, s);
          })();
        })();
</script>
<script>
//判断当前浏览类型  
function checkBrowserType()  
{  
	var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串  
	var isOpera = userAgent.indexOf("Opera") > -1; //判断是否Opera浏览器  
	var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 && !isOpera; //判断是否IE浏览器  
	var isEdge = userAgent.indexOf("Windows NT 6.1; Trident/7.0;") > -1 && !isIE; //判断是否IE的Edge浏览器  
	var isFF = userAgent.indexOf("Firefox") > -1; //判断是否Firefox浏览器  
	var isSafari = userAgent.indexOf("Safari") > -1 && userAgent.indexOf("Chrome") == -1; //判断是否Safari浏览器  
	var isChrome = userAgent.indexOf("Chrome") > -1 && userAgent.indexOf("Safari") > -1; //判断Chrome浏览器  

	if (isIE)   
	{  
		 var reIE = new RegExp("MSIE (\\d+\\.\\d+);");  
		 reIE.test(userAgent);  
		 var fIEVersion = parseFloat(RegExp["$1"]);  
		 if(fIEVersion == 7)  
		 { return "IE7";}  
		 else if(fIEVersion == 8)  
		 { return "IE8";}  
		 else if(fIEVersion == 9)  
		 { return "IE9";}  
		 else if(fIEVersion == 10)  
		 { return "IE10";}  
		 else if(fIEVersion == 11)  
		 { return "IE11";}  
		 else  
		 { return "0"}//IE版本过低  
	 }//isIE end  
	   
	 if (isFF) {  return "FF";}  
	 if (isOpera) {  return "Opera";}  
	 if (isSafari) {  return "Safari";}  
	 if (isChrome) { return "Chrome";}  
	 if (isEdge) { return "Edge";}  
 }//myBrowser() end  
 var _t = checkBrowserType();
 if(_t=="IE7" || _t=="IE8" ||_t=="0"){
	if(document.getElementById("borwserTips")==undefined){
		var div = document.createElement("div");
		div.setAttribute("id","borwserTips");
		var txt = document.createTextNode("抱歉，你所用的浏览器版本过低，导致部分内容无法正常使用，可考虑升级IE9及以上版本或更换谷歌，火狐等浏览器进行使用，体验更佳哟。");
		div.appendChild(txt);
		div.style.background = "#fef9e5";
		div.style.color = "#ff5202";
		div.style.fontSize = "14px";
		div.style.textAlign = "center";
		div.style.height = "30px";
		div.style.lineHeight = "30px";
		var firstChild = document.body;
		firstChild.insertBefore(div,firstChild.childNodes[0])
	}
 }


 function isweixindo(){
			if(is_weixin()){
				$("#tipweixin").show();
			}else{
			}
 }
function is_weixin(){
	var ua = navigator.userAgent.toLowerCase();
	if(ua.match(/MicroMessenger/i)=="micromessenger") {
		return true;
	} else {
		return false;
	}
}

// 函数
 function browser_pc() {
      var userAgentInfo = navigator.userAgent;
      var Agents = ["Android", "iPhone",
                  "SymbianOS", "Windows Phone",
                  "iPad", "iPod"];
      var flag = true;
      for (var v = 0; v < Agents.length; v++) {
          if (userAgentInfo.indexOf(Agents[v]) > 0) {
              flag = false;
              break;
          }
      }
      return flag;
}

//判断是否是苹果端
function is_ios() {
    var u = navigator.userAgent;
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    return isiOS;
}
</script>




</body>
</html>
<script src="static/special/js/sea.js"></script>
<script>
seajs.use('news');
var p="";

</script>