





<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<title>首页-兼职猫网页版</title>
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<!--  使低于IE9版本的浏览器支持html5标签  -->
	<!--[if lt IE 9]>
	<script src="static/special/js/html5.js"></script>
	<![endif]-->
	<link rel="icon"
		  href="http://oss.aliyuncs.com/jianzhimao/web-res/icon/jianzhimao-logo-min.png?version=2.28.23"
		  type="image/x-icon" />
	<link resl="shortcut icon"
		  href="http://oss.aliyuncs.com/jianzhimao/web-res/icon/jianzhimao-logo-min.png?version=2.28.23"
		  type="image/x-icon" />
	<link rel="stylesheet" href="static/special/css/reset.css">
	<link rel="stylesheet" href="static/special/css/new_header.css">
	<link rel="stylesheet" href="static/special/css/container_header.css">
	<link rel="stylesheet" href="static/special/css/my_post_list_new.css">
	<link rel="stylesheet" href="static/special/css/container_footer.css">
	<link rel="stylesheet" href="static/special/css/new_footer.css">
	<link rel="stylesheet" href="static/special/css/side_navigation_box.css">
	<!--  font-awesome图标集  -->
	<link rel="stylesheet"
		  href="static/special/css/font-awesome.min.css">
	<!--[if IE 7]>
	<link rel="stylesheet" href="static/special/css/font-awesome-ie7.min.css">
	<![endif]-->
	<style>
		body{ background:#f3f5f6;}
	</style>
</head>
<body>






<div class="header header1">
	<div class="head_wrap">
		<div class="w_logo"> <a href="/"><img src="static/special/picture/logo_new.png"/></a> <small class="lsmall">(招聘版)</small> </div>
		<nav>
			<div class="head_nav">
				<a href="http://guangzhou.jianzhimao.com" class="nav_item">查看全部兼职</a>
				<a href="/ctrlindex/enterprise.html"  class="nav_item">企业服务</a>
				<a href="/ctrlcommon/showMessage"  class="nav_item" id="notice_nav">通知<span class="noread_num"></span></a>
				<div class="nav_item accountBtn"> 15824827306 <i class="icon_arrow_down"></i>
					<div class="setting_list">
						<a href="/ctrlenprise/companyinfo">账号设置</a>
						<a class="goWallet" href="javascript:;">我的钱包</a>
						<a href="/ctrlcity/loginOut">退出</a>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>
<script>
	(function () {
		if(window.location.pathname == "/ctrlcommon/showMessage"){
			var notice_nav = document.getElementById("notice_nav");
			if( !/active/.test(notice_nav.className)){
				notice_nav.className += " " + "active";
			}
		}
	})();
</script>
<div class="warp clearfix">
	<div class="warp_l">
		











<section class="w_main side_navigation_box">
	
	
		
		<!-- 企业用户 -->
		
		<input type="hidden" id='ispwd2' name='ispwd' value=true>
		<div class="silde_l">
			<div class="comp_info">
				<img id="avatar" src="static/special/picture/no_photo.png"
					onerror="javascript:this.src='/web/assets/img/no_photo.png';" />
				<p>
					
					<span>云和数据</span>
				</p>
				<span class="account_status"></span>
				<div class="line"></div>
				<a href="javascript:;" class="wallet wallet_num goWallet">钱包余额：<span></span></a>
				
				<a href="/ctrlcompaddval/index" class="view">查阅权限配置</a>
				<!-- 新功能提醒 -->
				<div class="daily_step_tips wallet_balance" id="wallet_balance_tip"
					style="bottom: 0px; display: none;">
					<div class="menu_mask"
						style="line-height: normal; height: 54px; padding: 2px 0;">
						<a href="javascript:;" class="wallet wallet_num">钱包余额：<span></span></a>

						

					</div>
					<div class="function_intro" style="top: -4px;">
						<div class="task_text">
							<p>猫币余额就在这里,简单明了！</p>
						</div>
						<div class="next_btn" onclick="toNextTips(3);">
							<div>完成</div>
						</div>
					</div>
				</div>
			</div>
			<div class="menu_list">
				<a href="http://guangzhou.jianzhimao.com/ctrlenpublish/publishCommonJob"
					class="publish"><span>发布兼职</span></a> <a
					href="http://guangzhou.jianzhimao.com/ctrlenpublish/publishPayJob"
					class="publish fast"><span>发布快结兼职</span></a>
				
				<a href="javascript:void(0)" id="verify_blue_publish"
					data-url="http://www.jianzhimao.com/blue/index" class="publish blue_job"><span>发布全职岗位</span></a>
				


				<div class="line"></div>
				<ul class="post_list">
					<li id="partime_job_nav"><a href="/ctrlenprise/jobView"><img
							src="static/special/picture/silder_l_icon1.png" />我的兼职</a></li>
					
					<li id="fulltime_job_nav"><a href="/blue/myJobPage"><img
							src="static/special/picture/silder_l_icon11.png" />我的全职招聘</a></li>
					


					<li><a href="/ctrlmewtaskmanage/mewList?p=1&t=1"><img
							src="static/special/picture/silder_l_icon2.png" />我的喵任务</a></li>
					<!-- 新商业 -->
					

					<!-- 新功能提醒 -->
					<div class="daily_step_tips" style="display: none;"
						id="daily_step_tip">
						<div class="menu_mask">
							<a href="javascript:;"><img
								src="static/special/picture/icon_meirirenwu.png" />每日任务</a>
						</div>
						<div class="function_intro">
							<div class="task_text">
								<p>完成每日任务，获得超多猫币</p>
							</div>
							<div class="next_btn" onclick="toNextTips(1);">
								<div>下一步</div>
							</div>
						</div>
					</div>
				</ul>
			</div>
            <div class="menu_list">
                 <ul>
                     <!--group_status 0-未申请，1-审核中，2-审核通过，3-被驳回，4-冻结，5-集团成员-->
                    <li><a style="font-size:14px;" href="/group/index"><img src="static/special/picture/silder_l_icon3.png" />升级企业集团号</a></li>
                </ul>
            </div>
            <div class="menu_list">
                 <ul>
                    <li class="resumelib"><a href="/resumelib/index"><img src="static/special/picture/silder_l_icon10.png" />简 历 库</a></li>
                    <li><a href="/ctrlcompaddval/applyForVip"><img src="static/special/picture/silder_l_icon4.png" />升级VIP</a></li>
                    <li id="company_authenticate"><a href="/ctrlcompaddval/authen"><img src="static/special/picture/silder_l_icon5.png" />企业认证</a></li>
                    <li><a href="/commodity/index"><img src="static/special/picture/silder_l_icon6.png" />增值服务</a></li>
                    <li id="bind_wx"><a href="/ctrlwechat/binding"><img src="static/special/picture/silder_l_icon7.png" />接入微信</a></li>
                </ul>
                <!-- 新功能提醒2 -->
                <div class="daily_step_tips increment_server" id="increment_server_tip" style="width: 840px;bottom: 12px;display: none;">
                     <div class="menu_mask float_left">
                         <a href="javascript:;"><img src="static/special/picture/silder_l_icon6.png" />增值服务</a>
                     </div>
                     <div class="function_intro float_left">
                            <div class="task_text">
                                <p>使用猫币直接兑换服务，方便快速！</p>
                            </div>
                     </div>
                    <div class="next_btn" onclick="toNextTips(2);">
                         <div>下一步</div>
                    </div>
                </div>
            </div>
            <div class="menu_list">
                 <ul>
                    <li><a href="/ctrlenprise/companyinfo"><img src="static/special/picture/silder_l_icon9.png" />账号设置</a></li>
                </ul>
            </div>

			<script>
                (function () {
                    var nav_obj ,nav_id;
                    if(window.location.pathname == "/ctrlenprise/jobView"){
                        nav_id = "partime_job_nav";
                    }else if(window.location.pathname == "/blue/myJobPage"){
                        nav_id = "fulltime_job_nav";
                    }else if(window.location.pathname == "/ctrlwechat/binding"){
                        nav_id = "bind_wx";
                    }else if(window.location.pathname == "/increment/index"){
                        nav_id = "increment_job_nav";
                    }else if(window.location.pathname == "/daytask/index"){
                        nav_id = "dailytask_job_nav";
                    }else if(window.location.pathname == "/ctrlcompaddval/authen" || window.location.pathname == "/ctrlenterpriseAuthen/onlineAuthThirdPage" || window.location.pathname == "/ctrlenterpriseAuthen/onlineAuthFirstRequest"){
						nav_id = "company_authenticate";
					}else {
                        return;
                    }

                    nav_obj = document.getElementById(nav_id);
                    if( !/active/.test(nav_obj.className)){
                        nav_obj.className += " " + "active";
                    }
                })()
            </script>
		</div>
		

	
	<div class="download-code_box">
		<div class="cartoon"></div>
		<div class="wrap">
			

			
				
				<div class="code">
					<img src="static/special/picture/qy_download.png" alt="兼职猫下载二维码">
					<div>兼职猫企业版</div>
				</div>
				
			
			<div class="customer-service">
				<!-- WPA Button Begin

                <script charset="utf-8" type="text/javascript"
                    src="static/special/js/wpa.js"></script>
                -->
				<!-- WPA Button End -->
			</div>
		</div>
	</div>

</section>
<!-- 20150807 新增快结兼职发布入口， 添加企业认证弹窗 -->


<!-- 20150807 新增快结兼职发布入口， 添加企业认证弹窗 -->
<div id="j-hint3" style="display: none">
	<div class="m-hint">
		<ul class="m-sqrz_list">

			<li class="rz_last"><a href="/ctrlcompaddval/authen"><p></p>
					<span>实名认证</span></a>
				<h6>通过线上或线下进行资料提交，通过兼职猫信息审核，完成认证享受特权</h6></li>
			
				
					<li class="rz_first">
							
							
							
							
							
							
								<a href="/ctrlcompaddval/applyForVip"><p></p>
									<span>VIP申请</span></a>
							
						

						<h6>通过购买特权，填写基本的资料，快速完成认证，享受VIP特权</h6></li>
				
				

			
		</ul>
	</div>
</div>


<div id="j-hint2" style="display: none">
	<div class="m-hint">
		<h3>请先完成企业认证</h3>
		<p class="fb_tit">
			快结兼职仅限于认证企业发布，<br>具有确保招聘 效果和质量的兼职类型
		</p>
		<br />
		<br />
		<p class="btn">
			<a class="btn u-bg_78b31a"
				href="/ctrlenterpriseAuthen/onlineAuthFirstRequest">线上认证（提交资料）</a>
			
		</p>
		<hr />
		<p class="rz">
			提交资料前，请先完成一次发布，便于快速通过审核<br> 线上认证：在线完成资料填写与提交，兼职猫运营审核通过后，获得认证特权。<br />
			实地认证：提交基本的信息资料，兼职猫业务人员负责对接，上门拜访完成认证。
		</p>
	</div>
</div>

<div id="j-hint" style="display: none">
	<div class="m-hint">
		<h3>
			请先完成企业认证<br />
		</h3>
		<p class="ts">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>（快结兼职仅限于认证企业发布，具有招聘</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;效果和质量保证的兼职类型）</b>
		</p>
		<p class="btn">
			<a class="btn u-bg_78b31a" id="j-accbtn" href="javascript:">我要申请认证</a>
		</p>
	</div>
</div>

<div id="j-gxhint" style="display: none">
	<div class="m-hint">
		<h3>
			请稍等管理员开通权限<br />
		</h3>
		<p class="ts">可联系电话：400-803-4199</p>
		<p class="btn">
			<a class="btn u-bg_78b31a" id="j-gxaccbtn" href="javascript:">确定</a>
		</p>
	</div>
</div>
<!-- 20180710 新商业模式 新功能步骤 -->




<!-- 20150817 当企业未认证时，这里输出 true 前端判断流程 -->
<div class="info_hidden" id="a" style="display: none">{ 'a': 
	}</div>
<input type="hidden" id="account_status" value="0" />
<!--20150817  弹窗js  -->
<script TYPE="application/javascript">
	

	(function() {
		var getCookie = function(c_name) {
			if (document.cookie.length > 0) {
				c_start = document.cookie.indexOf(c_name + "=")
				if (c_start != -1) {
					c_start = c_start + c_name.length + 1
					c_end = document.cookie.indexOf(";", c_start)
					if (c_end == -1)
						c_end = document.cookie.length
					return unescape(document.cookie.substring(c_start, c_end))
				}
			}
			return ""
		};
		var el = document.getElementById('wx_enter');
		if (el == null) {
			return;
		}
		if (getCookie('isw') === '0') {
			el.className = '';
		}
		var tag_session = localStorage.getItem("apply_guide_xiaoguo");
		if(!tag_session){
			var ali = document.getElementById("applyVipXiaoguo").getElementsByClassName("tag")[0];
				ali.style.display = 'inline-block';

			//$("#applyVipXiaoguo .tag").hide();
		}


	})();
	function closeApplyTag(){
		localStorage.setItem("apply_guide_xiaoguo",1);
		var ali = document.getElementById("applyVipXiaoguo").getElementsByClassName("tag")[0];
	   	ali.style.display = 'none';
		//$("#applyVipXiaoguo .tag").hide();
	}
	
</script>


	
	<script src="static/special/js/jquery-3.0.0.min.js"></script>
	<script type="text/javascript">
    	var host="jianzhimao.com";
		var pay_red_dot = document.getElementById('pay_red_dot') || "";

		//cookie读取类
		myCookie = {
			set : function(key, value) {
				document.cookie = key + "=" + value + ";path=/;domain=." + host;

			},

			get : function(key) {
				var srcCookie = document.cookie;
				var srcCookiePair = srcCookie.split(";");
				for (var _ids = 0; _ids < srcCookiePair.length; _ids++) {
					var cookiePair = srcCookiePair[_ids].split("=");

					if (this.c_trim(cookiePair[0]) == key) {
						return cookiePair[1];
					}
				}
			},

			c_trim : function(str) {
				return str.replace(/(^\s*)|(\s*$)/g, "");
			},

			del : function(name) {
				var time = new Date();
				time.setTime(time.getTime() - 1);

				var tab = "1";
				if (tab != null) {
					document.cookie = name + "=" + tab + ";path=/;domain=."
							+ host + ";expires=" + time.toGMTString();
				}
			}
		};
		var isp = myCookie.get("isp");
		if (isp == '0') {
			pay_red_dot.className = '';
		}
		//
		pay_red_dot.onclick = function() {
			myCookie.set("isp", 0);
			pay_red_dot.className = '';
		}

		initGroupAccountEntry(); //初始化集团号入口

		function initGroupAccountEntry() { //初始化集团号入口
			$(document)
					.on(
							"click",
							"#group_nav_item",
							function(e) {
								if ($(this).attr("group_status") == "4") {
									var group_alert = '<div id="group_alert_box" style="width:380px;height:200px;border:1px solid #dbdbdb;border-radius:8px;overflow:hidden;background:#fff;text-align:center;z-index:9999;position:fixed;left:50%;margin-left:-190px;top:40%;box-shadow: 2px 2px 20px rgba(0,0,0,.3);"><div class="alert_text" style="width:100%;height:150px;box-sizing:border-box;padding:50px 30px;line-height:1.6;color:#333;font-size:16px;background:#fff;">您的集团号功能被冻结，如有疑问可咨询 <br>客服QQ： 800005602</div><div id="group_alert_close" style="width:100%;border-top:1px solid #dbdbdb;height:50px;line-height:50px;color:#666;font-size:16px;background:#efefef;cursor:pointer;">好的，我知道了</div></div>';
									$("body").append(group_alert);
									$(document).on("click",
											"#group_alert_close", function(e) {
												$("#group_alert_box").remove();
											});
								}
							});

		}
		if ($(".silde_l").is(":visible")) {
			getCommonData()
			initAccountStatus();
		}
		function initAccountStatus() {
			var status = "";
			var account_status = $("#account_status").val();
			switch (account_status) {
			case "0":
				status = "<a href='/ctrlcompaddval/authen'>[未认证]</a>";
				break;
			case "1":
				status = "[认证中]";
				break;
			case "2":
				status = "[企业认证]";
				break;
			case "3":
				status = "[认证失败]";
				break;
			case "6":
				status = "[签约认证]";
				break;
			case "7":
				status = "[特权认证]";
				break;
			case "8":
				status = "[个人团队认证]";
				break;
			case "9":
				status = "[个人团队认证]";
				break;
			default:
				status = "[已冻结]";
				break;
			}
			$(".account_status").html(status);
		}
		//获取公共数据
		function getCommonData() {
			$
					.ajax({
						type : "POST",
						url : "/enprise/getInfo",
						dataType : 'json',
						data : {},
						timeout : 10000,
						success : function(rs) {
							if (rs.status == '0000') {
								var src = rs.data.avatar_img;
								$("#avatar").attr("src", src);
								$(".wallet_num span").html(rs.data.money);
								$(".maobi_num span").html(
										rs.data.total_mew_coin);
								$(".audit_num").html(rs.data.audit_num);
								$(".recruit_num").html(rs.data.recruit_num);
								$(".end_num").html(rs.data.end_num);
								$("#is_binding").val(rs.data.is_binding);
								if (rs.data.is_binding == 0) {
									$(".wx_bind").show()
								}
								if (rs.data.notice_unread_num > 0) {
									$(".noread_num").html(
											"(" + rs.data.notice_unread_num
													+ ")");
									$(".msg_title").attr("mid",
											rs.data.un_read_message.id);
									$(".msg_title").html(
											rs.data.un_read_message.title);
									$(".msg_content").html(
											rs.data.un_read_message.content);
								}
								return;
							} else {
								alert(rs.message);
							}
						},
						error : function(xhr, type) {
							if (xhr.status != 0) {
								alert("网络错误");
							}
						}
					})
		}

		// 发布蓝领全职岗位判断
		$(document).on(
				"click",
				"#verify_blue_publish",
				function() {
					if ($("#account_status").val() == 2
							|| $("#account_status").val() == 6
							|| $("#account_status").val() == 7
							|| $("#account_status").val() == 8
							|| $("#account_status").val() == 9) {
						window.location.href = $("#verify_blue_publish").attr(
								"data-url");
					} else {
						showBlueVerifyAlert();
					}
				})

		function showBlueVerifyAlert() {
			//询问框
			layer
					.confirm(
							'<h2 style="text-align:center;line-height:1.6;color:#3f3f3f;font-size:18px;">发布全职岗位需进行企业认证<br>认证通过的企业才能发布</h2><p style="text-align:center;color:#ff922b;margin:12px 0;">（全职岗位会在兼职猫APP和新产品鹿用招聘同步展示，<br>提高招聘效果哟）</p>',
							{
								area : [ '400px' ],
								btn : [ '去认证', '取消' ],//按钮
								title : "提示"
							},
							function() {
								window.location.href = "/ctrlcompaddval/authen";
							}, function() {
								layer.close();
							});
		}
		// 显示新商业任务步骤

		function toNextTips(type) {
			if (type == 1) {
				$("#daily_step_tip").hide();
				$("#increment_server_tip").show();
				$("html,body").animate({
					scrollTop : "950px"
				}, 500);
			} else if (type == 2) {
				$("#increment_server_tip").hide();
				$("#wallet_balance_tip").show();
				$("html,body").animate({
					scrollTop : "0px"
				}, 500);
			} else if (type == 3) {
				$("#wallet_balance_tip").hide();
				$(".step_modal_shade").remove();
				localStorage.setItem('is_show_buiness_step', '1');
			}
		}
		// 显示遮罩层
		function show_step_modal_shade() {
			$("body")
					.append(
							'<div class="layui-layer-shade step_modal_shade" id="layui-layer-shade1" times="1" style="z-index: 19891014; background-color: rgb(0, 0, 0); opacity: 0.3;"></div>');
		}
	</script>
	



	</div>
	<div class="warp_r" id="page_apply_authenticate" v-cloak>
		<input type="hidden" id="retry" value="">
		<div v-if="!is_agreement" class="apply_authenticate">
			<input type="hidden" id="page_type" value="" />
			<input type="hidden" id="is_login" value="" />
			<div class="ad"><img src="static/special/picture/pic_banner_qiyerenzheng.png"></div>
			<div class="authenticate_cnt">
				<table width="100%" v-cloak>
					<tr>
						<th>服务内容</th>
						<th>普通企业</th>
						<th>企业机构认证</th>
						<th>个人团队认证</th>
					</tr>
					<template v-for="(item,idx) in privilege">
						<tr v-if="idx<4">
							<td>{{item.name}}</td>
							<td v-if="item.company_a">{{item.company_a}}</td>
							<td v-else><img src="static/special/picture/icon_cross.png" /></td>
							<td v-if="item.company_b">{{item.company_b}}</td>
							<td v-else><img src="static/special/picture/icon_cross.png" /></td>
							<td v-if="item.company_c">{{item.company_c}}</td>
							<td v-else><img src="static/special/picture/icon_cross.png" /></td>
						</tr>
						<tr v-if="idx==4">
							<td>{{item.name}}</td>
							<td><img src="static/special/picture/icon_cross.png" /></td>
							<td>尊享<span class="orange">认证企业</span>身份标识</td>
							<td>尊享<span class="orange">认证团队</span>身份标识</td>
						</tr>
						<tr v-if="idx==5">
							<td>{{item.name}}</td>
							<td><img src="static/special/picture/icon_cross.png" /></td>
							<td><img src="static/special/picture/icon_tick.png" /></td>
							<td><img src="static/special/picture/icon_tick.png" /></td>
						</tr>
						<tr v-if="idx==6">
							<td>{{item.name}}</td>
							<td>无需认证</td>
							<td v-if="compInfo&&compInfo.account_status">
								<a v-if="compInfo.account_status==2 || compInfo.account_status==6 || compInfo.account_status==7 || compInfo.account_status==9" href="javascript:;" class="apply_btn disabled">已认证</a>
								<a v-else-if="compInfo.account_status==2">认证中</a>
								<a v-else href="javascript:;"  class="apply_btn" @click="apply(1)">免费申请</a>
							</td>
							<td><a v-if="compInfo.account_status==2 || compInfo.account_status==6 || compInfo.account_status==7 || compInfo.account_status==8 || compInfo.account_status==9" href="javascript:;" class="apply_btn disabled">已认证</a>
								<a v-else  href="javascript:;"  class="apply_btn" @click="apply(2)">免费申请</a>
							</td>
						</tr>
					</template>
				</table>
			</div>
			<div class="privilege_list">
				<h3>认证特权</h3>
				<ul class="clearfix" >
					<li style="display:none;"><i class="fbmsh"></i>发布免审核</li>
					<li><i class="rzbq"></i>认证标签</li>
					<li><i class="tsjz"></i>推送兼职</li>
					<li><i class="tfad"></i>投放Banner</li>
					<li><i class="zdjz"></i>置顶兼职</li>
					<li><i class="sxjz"></i>刷新兼职</li>
				</ul>
			</div>
		</div>
		<!-- 合作协议 -->
		<div v-else class="authen_agreement">
			<h3>合作协议</h3>
			<p>为打造真实可靠的“兼职猫”平台，共同营造安全、有效的兼职信息对接系统，本人/公司（以下简 称“我方”）承诺：</p>
			<p>1．本账号仅用于我方使用兼职猫（www.jianzhimao.com）提供的兼职招聘信息发布服务，除非有法律规定且征得兼职猫的同意，否则，本账户和密码我方承诺不以任何方式转让、赠与或继承。 </p>
			<p>2．如因我方失误导致本账号遗失，我方愿为本账号所有行为负责。 </p>
			<p>3．在签署本声明时，我方已阅读“兼职猫用户协议”相关规定，除了本协议承诺外我方承诺遵守“用户协议”相关规定。 </p>
			<p>4．我方保证其在兼职猫服务中所产生的一切信息均为真实、准确，且愿意接受兼职猫监督。 </p>
			<p>5．我方承诺在兼职猫所发布的兼职信息不出现“要做兼职先办卡”、“网络兼职”或“工资拖欠情况”等情况，也不得收取兼职任何费用，如出现以上情况，我方愿意赔偿乙方及相应受害者一切损失(包括但不限于各种赔偿费、诉讼代理费及为此支出的其它合理费用)。 </p>
			<p>6．我方保证我方拥有所提供的信息的版权，或获得他人授权，并保证该信息不侵犯到任何第三人的合法权益。 </p>
			<p>7．在使用兼职猫服务时产生的所有“内容”，我方对其承担全部责任，兼职猫（及其所有者）不对信息的真实性，准确性，有效性和安全性负责。 </p>
			<p>8．如因我方违反本条规定造成兼职猫被第三人的索赔，我方愿全额承担兼职猫一切损失(包括但不限于各种赔偿费、诉讼代理费及为此支出的其它合理费用)。</p>
			<p>9．同时当我方向兼职猫提供内容时，我方即授予兼职猫永久性的、全球的、不可撤销的、免使用费的、可再次授权给他人的使用权。 </p>
			<p>10．我方自行评估和承担在兼职猫上提供和使用内容而产生的一切风险、损失。 </p>
			<p>11．兼职猫有权利单方面无理由删除任何免费信息，有权利暂停任何付费信息的发布直至我方提供相关证据证明该信息的真实性。 </p>
			<p>12．如因我方违反本声明而造成兼职猫及其用户损失，兼职猫有权向我方索取一切赔偿。</p>
			<div class="agreement_btn">
				<a href="javascript:;" class="no" @click="is_agreement=!is_agreement">不同意</a>
				<a href="javascript:;" class="yes online_btn"  btn_type="2">同意</a>
			</div>
		</div>
	</div>
</div>


    <footer class="footer">
        <div class="footer1">
            <div class="ft_box">
                <div class="ft_left">
                    <div class="ft_left_bot">
                        <div class="ft_item">
                            <a target="_blank" rel="nofollow" href="//www.jianzhimao.com/ctrlindex/contact.html" style="padding-left: 0;">关于我们</a>
                            <a target="_blank" rel="nofollow" href="//www.jianzhimao.com/ctrlindex/join.html">加入我们</a>
                            <a target="_blank" rel="nofollow" href="//www.jianzhimao.com/ctrlindex/enterprise.html">企业推广</a>
                            <a target="_blank" rel="nofollow" href="//www.jianzhimao.com/ctrlCooperate/help.html">帮助中心</a>
                        </div>
                        <p class="cp_right"> Copyright©2018 兼职猫 jianzhimao.com 广州九尾信息科技有限公司 版权所有   <a style="color:#ffc9a9;" href="http://www.miibeian.gov.cn" target="_blank">粤ICP备13061591号 </a></p>
                    </div>
                </div>
                <div class="ft_right">
                    <img src="static/special/picture/code_dingyuehao.jpg" class="scan_img" />
                    <div class="tip">
                        <p>扫描关注微信号</p><p>[兼职猫]</p>
                    </div>

                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript">

    //CNZZ统计
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1000413010'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1000413010' async type='text/javascript'%3E%3C/script%3E"));

    //baidu统计
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript async src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F447f87add4dbd73deca17a45d8536dbd' type='text/javascript'%3E%3C/script%3E"));

    </script>

<script>
//延迟CNZZ统计, 以免影响页面载入

</script>
<script type='text/javascript'>
		var user_id="13335447";
		var company_name="云和数据";
		var user_name="";
		var company_id="13335447";
		var _vds = _vds || [];
        window._vds = _vds;
        (function(){
        	
          _vds.push(['setAccountId', 'b0d18e1f996f733e']);
          _vds.push(['setCS1', 'user_id', user_id]);
          _vds.push(['setCS2', 'company_id', company_id]);
          _vds.push(['setCS3', 'user_name', company_name]);
          _vds.push(['setCS3', 'company_name', company_name]);
         

          (function() {
            var vds = document.createElement('script');
            vds.type='text/javascript';
            vds.async = true;
            vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(vds, s);
          })();
        })();
</script>
<script>
//判断当前浏览类型  
function checkBrowserType()  
{  
	var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串  
	var isOpera = userAgent.indexOf("Opera") > -1; //判断是否Opera浏览器  
	var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 && !isOpera; //判断是否IE浏览器  
	var isEdge = userAgent.indexOf("Windows NT 6.1; Trident/7.0;") > -1 && !isIE; //判断是否IE的Edge浏览器  
	var isFF = userAgent.indexOf("Firefox") > -1; //判断是否Firefox浏览器  
	var isSafari = userAgent.indexOf("Safari") > -1 && userAgent.indexOf("Chrome") == -1; //判断是否Safari浏览器  
	var isChrome = userAgent.indexOf("Chrome") > -1 && userAgent.indexOf("Safari") > -1; //判断Chrome浏览器  

	if (isIE)   
	{  
		 var reIE = new RegExp("MSIE (\\d+\\.\\d+);");  
		 reIE.test(userAgent);  
		 var fIEVersion = parseFloat(RegExp["$1"]);  
		 if(fIEVersion == 7)  
		 { return "IE7";}  
		 else if(fIEVersion == 8)  
		 { return "IE8";}  
		 else if(fIEVersion == 9)  
		 { return "IE9";}  
		 else if(fIEVersion == 10)  
		 { return "IE10";}  
		 else if(fIEVersion == 11)  
		 { return "IE11";}  
		 else  
		 { return "0"}//IE版本过低  
	 }//isIE end  
	   
	 if (isFF) {  return "FF";}  
	 if (isOpera) {  return "Opera";}  
	 if (isSafari) {  return "Safari";}  
	 if (isChrome) { return "Chrome";}  
	 if (isEdge) { return "Edge";}  
 }//myBrowser() end  
 var _t = checkBrowserType();
 if(_t=="IE7" || _t=="IE8" ||_t=="0"){
	if(document.getElementById("borwserTips")==undefined){
		var div = document.createElement("div");
		div.setAttribute("id","borwserTips");
		var txt = document.createTextNode("抱歉，你所用的浏览器版本过低，导致部分内容无法正常使用，可考虑升级IE9及以上版本或更换谷歌，火狐等浏览器进行使用，体验更佳哟。");
		div.appendChild(txt);
		div.style.background = "#fef9e5";
		div.style.color = "#ff5202";
		div.style.fontSize = "14px";
		div.style.textAlign = "center";
		div.style.height = "30px";
		div.style.lineHeight = "30px";
		var firstChild = document.body;
		firstChild.insertBefore(div,firstChild.childNodes[0])
	}
 }


 function isweixindo(){
			if(is_weixin()){
				$("#tipweixin").show();
			}else{
			}
 }
function is_weixin(){
	var ua = navigator.userAgent.toLowerCase();
	if(ua.match(/MicroMessenger/i)=="micromessenger") {
		return true;
	} else {
		return false;
	}
}

// 函数
 function browser_pc() {
      var userAgentInfo = navigator.userAgent;
      var Agents = ["Android", "iPhone",
                  "SymbianOS", "Windows Phone",
                  "iPad", "iPod"];
      var flag = true;
      for (var v = 0; v < Agents.length; v++) {
          if (userAgentInfo.indexOf(Agents[v]) > 0) {
              flag = false;
              break;
          }
      }
      return flag;
}

//判断是否是苹果端
function is_ios() {
    var u = navigator.userAgent;
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    return isiOS;
}
</script>

<script src="static/special/js/jquery-1.9.1.min.js"></script>
<script src="static/special/js/vue.min.js"></script>
<script src="static/special/js/layer.js"></script> 
<script src="static/special/js/group_common.js"></script>
<script src="static/special/js/apply_authenticate.js"></script>
<script src="static/special/js/jquery.qrcode.min.js"></script>
<script src="static/special/js/go_to_wallet.js"></script>
</body>
</html>