



<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>钱包首页</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<!--  使低于IE9版本的浏览器支持html5标签  -->
<!--[if lt IE 9]>
        <script src="static/js/html5.js"></script>
<![endif] -->
<link rel="icon"
	href="http://oss.aliyuncs.com/jianzhimao/web-res/icon/jianzhimao-logo-min.png?version=2.28.23"
	type="image/x-icon" />
<link resl="shortcut icon"
	href="http://oss.aliyuncs.com/jianzhimao/web-res/icon/jianzhimao-logo-min.png?version=2.28.23"
	type="image/x-icon" />
<script src="static/js/html5.js"></script>

<link rel="stylesheet"
	href="static/css/reset.css">
<link rel="stylesheet"
	href="static/css/header.css">
<link rel="stylesheet"
	href="static/css/container_header_logo_box.css">
<link rel="stylesheet"
	href="static/css/wallet.css">
<link rel="stylesheet"
	href="static/css/footer.css">
<link rel="stylesheet"
	href="static/css/side_navigation_box.css">	
	
<!--  font-awesome图标集  -->
<link rel="stylesheet"
	href="static/css/font-awesome.min.css">
	
<link rel="stylesheet" href="static/css/alt.css">

<script src="static/js/sea.js"></script>
<script src="static/js/jquery-1.11.1.min.js"></script>
<script src="static/js/qr.js"></script>


<!-- [if IE 7] >
<link rel="stylesheet" href="static/css/font-awesome-ie7.min.css">
<! [endif] -->
</head>
<body>
	
	




<script src="static/js/sea.js"></script>
<script>
	var year = new Date().getFullYear(),
		month = (new Date().getMonth()+1>9)? new Date().getMonth()+1:"0"+ (new Date().getMonth()+1),
		date = (new Date().getDate()>9)? new Date().getDate():"0"+new Date().getDate(),
		hour = (new Date().getHours()>9)? new Date().getHours():"0"+new Date().getHours();
		time = new Date().getTime();
	var datetime =  year + month + date + hour+time;
seajs.config({
	  alias: { },
	  map: [
	    [ /^(.*\/web\/assets\/js\/.*\.(?:css|js))(?:.*)$/i, '$1?v='+ datetime ]
	  ]
	});


</script>
<header class="header">
	<nav class="w_main navigation_box">
		<div class="city_wrap">
			<span class="city">郑州</span> <a rel="nofollow" href="http://www.jianzhimao.com/ctrlcity/changeCity.html">[切换城市]</a>
		</div>
		<div class="channel_box">
			<a rel="nofollow" href="http://www.jianzhimao.com">首页</a>
			<a rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/qghz.html" id="cooperation">申请社团赞助</a>
			 <a rel="nofollow" href="http://www.jianzhimao.com/ctrlindex/enterprise.html">企业服务</a>


			


			|
			
		    

				
					<a rel="nofollow" href="/ctrlenprise/companyinfo" class="user_name" id="user_name" title="15824827306">15824827306</a>
				
		    
			

				<a rel="nofollow" href="/ctrlcity/loginOut">退出 </a>

			

		</div>
	</nav>
	<div id="cooperation_box_alt" class="cooperation_box_alt">
        <div class="cooperation_box_overlay"></div>
        <div class="cooperation_box">
            <div class="title">申请合作<a rel="nofollow" class="close_btn" href="javascript:;" onclick="this.parentNode.parentNode.parentNode.style.display='none'">×</a></div>
            <div class="cont">
                <div class="p_left"><img src="static/picture/cooperation.png" alt="申请合作"></div>
                <div class="p_right">
                    <a rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/qydl.html" target="_blank" class="btn company">申请区域代理</a>
                    <a rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/wzhz.html" target="_blank" class="btn websize">申请网站合作</a>
                    <a rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/qghz.html" target="_blank" class="btn school">申请勤工合作</a>
                </div>
            </div>
        </div>
    </div>
</header>
	<input type="hidden" name="ente_down_url" id="ente_down_url" value="https://www.jianzhimao.com/index/compdownload ">
	<section class="container">
		<header class="w_main">
			<div class="logo_box clearfix">
				<a href="/" class="logo left"><img
					src="static/picture/logo.png" alt="兼职猫logo"></a>
				<div class="title_wrap left">我的钱包</div>
			</div>
			<hr color="f39800" style="height: 2px; background-color: #F39800" />
		</header>
		<!-- 20150818 新增 面包屑 -->
		<div class="bread-crumb_box w_main g-t10 g-b10">
			<a rel="nofollow" href="/">郑州兼职猫</a> <i
				class="icon-angle-right"></i> <span>我的钱包</span>
		</div>
		<!--  面包屑 end-->
		<div class="w_main content_box">
			<article class="main_wrap clearfix">
				<!-- 主体内容区域 -->
				<div class="public_box">
					<!-- 头部公司信息 -->
					<ul class="m-walletbox">
						<li class="gs">
							<dl>
								<dt>
								
								
									<img src="static/picture/default_img.png" width="60" height="60" alt="" />
								
									
								</dt>
								<dd>
									<p class="gsname">云和数据
										<span class="status s0">
							未认证
									</span>
									</p>
									
									
									<p class="lj">
										
											<a href="javascript:" id="j-qbbtn">申请认证>> </a>
										
										<a href="/ctrlenprise/companyinfo">设置中心>> </a>
									</p>
								</dd>
							</dl>
						</li>
						<li class="zh">
							<p class="tit">账户余额(RMB)</p> <span class="ye">0.00</span>
							<p class="btn">
								<a href="/ctrlcompwallet/recharge">充值</a> <a href="/ctrlcompwallet/withdraw">提现</a>
							</p>
						</li>
						<li class="df">
							<p class="tit">额度透支(RMB)</p> 
							
								
									<p style="margin-top: 30px;">
										<a id="credit_btn"  href="#" style="display:none;">免费获取信用额度</a>
									</p>
								
								
							
						</li>
					</ul>
					<!-- 头部公司信息 end -->
					<!-- 账单明细 -->
					<h3 class="m-zd_tit">账单明细</h3>
					<div class="m-zd_list">
						<div class="tab_tit">
							<ul>
								<li class="cur"><a href="/ctrlcompwallet/wallet?p=1&t=1">收入明细</a></li>
								<li class=""><a href="/ctrlcompwallet/wallet?p=1&t=2">支出明细</a></li>
							</ul>
						</div>
						<div class="tab_con">
							<!-- 收入明细 -->
							<div style="display: block" class="tab_con_box">
								<table width="100%" border="0">
									<tbody>
										<tr>
											<th scope="col" width="35%">业务</th>
											<th scope="col" width="20%">时间</th>
											<th scope="col" width="15%">收入(元)</th>
											<th scope="col" width="20%">状态</th>
											<th scope="col">详情</th>
										</tr>
										

									</tbody>
								</table>
								<div class="content_page_box">
									<ul class="content_page_wrap" id="content_page_wrap">
										
										
										
										
									</ul>
								</div>
							</div>
							<!-- 收入明细 end-->
							<!-- 支出明细 -->
							<div class="tab_con_box" style="">
								<table width="100%" border="0">
									<tbody class="zc">
										<tr>
											<th scope="col" width="35%">业务</th>
											<th scope="col" width="20%">时间</th>
											<th scope="col" width="15%">支出(元)</th>
											<th scope="col" width="20%">状态</th>
											<th scope="col">详情</th>
										</tr>

										

									</tbody>
								</table>
								<div class="content_page_box">
									<ul class="content_page_wrap" id="content_page_wrap">
										
										
										
										

									</ul>
								</div>
							</div>
							<!-- 支出明细 end-->
						</div>
						<!-- 账单明细 end -->
					</div>
					<!-- 主体内容区域 end -->
			</article>
		</div>
	</section>
	


<footer class="footer">
	<div class="w_main channel">
		<a target="_blank" rel="nofollow" href="http://www.jianzhimao.com/ctrlindex/contact.html" style="padding-left: 0;">关于我们</a>|
    	<a target="_blank" rel="nofollow" href="http://www.jianzhimao.com/ctrlindex/join.html">加入我们</a>|
    	<a target="_blank" rel="nofollow" href="http://www.jianzhimao.com/ctrlindex/enterprise.html">企业推广</a>|
    	<a target="_blank" rel="nofollow" href="http://www.jianzhimao.com/ctrlCooperate/help.html">帮助中心</a>| &nbsp; &nbsp; &nbsp; 企业服务热线：4008034199 &nbsp; &nbsp;| &nbsp; &nbsp;业务电话：020-37109777
    	<a class="qq" target="_blank" rel="nofollow" href="tencent://message/?uin=800005602&amp;Site=http://qbar.qq.com/application/&amp;Menu=ye"><img src="static/picture/kf_qq.png" /></a>
        <a class="qq" target="_blank" rel="nofollow" href="tencent://message/?uin=3547627935&amp;Site=http://qbar.qq.com/application/&amp;Menu=ye"><img src="static/picture/yw_qq.png" /></a>

	</div>
	<p class="w_main"> Copyright©2018 兼职猫 jianzhimao.com 广州九尾信息科技有限公司 版权所有   <a style="color:#727272;" href="http://www.miibeian.gov.cn" target="_blank">粤ICP备13061591号</a> </p>
</footer>
  

    <script type="text/javascript">

    //CNZZ统计
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1000413010'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1000413010' async type='text/javascript'%3E%3C/script%3E"));

    //baidu统计
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript async src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F447f87add4dbd73deca17a45d8536dbd' type='text/javascript'%3E%3C/script%3E"));

    </script>

<script>
//延迟CNZZ统计, 以免影响页面载入

</script>
<script type='text/javascript'>
		var user_id="13335447";
		var company_name="云和数据";
		var user_name="";
		var company_id="13335447";
		var _vds = _vds || [];
        window._vds = _vds;
        (function(){
        	
          _vds.push(['setAccountId', 'b0d18e1f996f733e']);
          _vds.push(['setCS1', 'user_id', user_id]);
          _vds.push(['setCS2', 'company_id', company_id]);
          _vds.push(['setCS3', 'user_name', company_name]);
          _vds.push(['setCS3', 'company_name', company_name]);
         

          (function() {
            var vds = document.createElement('script');
            vds.type='text/javascript';
            vds.async = true;
            vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(vds, s);
          })();
        })();
</script>
<script>
//判断当前浏览类型  
function checkBrowserType()  
{  
	var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串  
	var isOpera = userAgent.indexOf("Opera") > -1; //判断是否Opera浏览器  
	var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 && !isOpera; //判断是否IE浏览器  
	var isEdge = userAgent.indexOf("Windows NT 6.1; Trident/7.0;") > -1 && !isIE; //判断是否IE的Edge浏览器  
	var isFF = userAgent.indexOf("Firefox") > -1; //判断是否Firefox浏览器  
	var isSafari = userAgent.indexOf("Safari") > -1 && userAgent.indexOf("Chrome") == -1; //判断是否Safari浏览器  
	var isChrome = userAgent.indexOf("Chrome") > -1 && userAgent.indexOf("Safari") > -1; //判断Chrome浏览器  

	if (isIE)   
	{  
		 var reIE = new RegExp("MSIE (\\d+\\.\\d+);");  
		 reIE.test(userAgent);  
		 var fIEVersion = parseFloat(RegExp["$1"]);  
		 if(fIEVersion == 7)  
		 { return "IE7";}  
		 else if(fIEVersion == 8)  
		 { return "IE8";}  
		 else if(fIEVersion == 9)  
		 { return "IE9";}  
		 else if(fIEVersion == 10)  
		 { return "IE10";}  
		 else if(fIEVersion == 11)  
		 { return "IE11";}  
		 else  
		 { return "0"}//IE版本过低  
	 }//isIE end  
	   
	 if (isFF) {  return "FF";}  
	 if (isOpera) {  return "Opera";}  
	 if (isSafari) {  return "Safari";}  
	 if (isChrome) { return "Chrome";}  
	 if (isEdge) { return "Edge";}  
 }//myBrowser() end  
 var _t = checkBrowserType();
 if(_t=="IE7" || _t=="IE8" ||_t=="0"){
	if(document.getElementById("borwserTips")==undefined){
		var div = document.createElement("div");
		div.setAttribute("id","borwserTips");
		var txt = document.createTextNode("抱歉，你所用的浏览器版本过低，导致部分内容无法正常使用，可考虑升级IE9及以上版本或更换谷歌，火狐等浏览器进行使用，体验更佳哟。");
		div.appendChild(txt);
		div.style.background = "#fef9e5";
		div.style.color = "#ff5202";
		div.style.fontSize = "14px";
		div.style.textAlign = "center";
		div.style.height = "30px";
		div.style.lineHeight = "30px";
		var firstChild = document.body;
		firstChild.insertBefore(div,firstChild.childNodes[0])
	}
 }


 function isweixindo(){
			if(is_weixin()){
				$("#tipweixin").show();
			}else{
			}
 }
function is_weixin(){
	var ua = navigator.userAgent.toLowerCase();
	if(ua.match(/MicroMessenger/i)=="micromessenger") {
		return true;
	} else {
		return false;
	}
}

// 函数
 function browser_pc() {
      var userAgentInfo = navigator.userAgent;
      var Agents = ["Android", "iPhone",
                  "SymbianOS", "Windows Phone",
                  "iPad", "iPod"];
      var flag = true;
      for (var v = 0; v < Agents.length; v++) {
          if (userAgentInfo.indexOf(Agents[v]) > 0) {
              flag = false;
              break;
          }
      }
      return flag;
}

//判断是否是苹果端
function is_ios() {
    var u = navigator.userAgent;
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    return isiOS;
}
</script>
  

	<div class="m-zhezao" style="display: none"></div>
	<div class="m-chakan" style="display: none;"></div>
	
	
	<div id="j-hint2" style="display: none">
    <div class="m-hint" >
        <ul class="m-sqrz_list">
        	
       		<li class="rz_last">
            	<a href="/ctrlcompaddval/authen"><p></p><span>实名认证</span></a>
            	<h6>通过线上或线下进行资料提交，通过兼职猫信息审核，完成认证享受特权 </h6>
            </li>
            
        		
        			<li class="rz_first">
		            	<a href="/ctrlcompaddval/applyForVip"><p></p><span>VIP申请</span></a>
		            	<h6>通过购买特权，填写基本的资料，快速完成认证，享受VIP特权</h6>
            		</li>
        		
        		
        	
        	
        </ul>
    </div>
	</div>
	
	
	
</body>
</html>
<script src="static/js/sea.js"></script>
<script>
	seajs.use("wallet");
</script>