@charset "utf-8";
body{ font-family: '微软雅黑', '宋体'}
.content_box {border-bottom: 2px solid #fd8100; margin-top: 6px; padding: 0 0 80px;}
.full_banner .vip_banner{ height:135px;width:100%;background:url('../images/vip_banner.jpg') center center no-repeat; position:relative; overflow:hidden;text-align:center;}
.full_banner .zr_banner{ height:320px; background:#e7e7e7; position:relative; overflow:hidden;}
.full_banner .zr_banner img{ position:absolute; margin-left:-960px; left:50%; top:0;}
.rz_list{ text-align:center; padding-top:86px;position:relative;margin:-12px;}

.rz_box{display:block;float:left;width: 312px;min-height:440px;height:auto;padding:0 20px 86px;position:relative;margin:0 12px 50px;box-sizing: border-box;}
.rz_box h3{ font-weight:normal; font-size:22px; line-height:60px; width:236px; display:inline-block; margin-bottom:30px;}
.rz_box li{ color:#666666; text-align:left;padding-left:22px; font-size:16px; line-height:1.4; position:relative; margin-bottom:14px;}
.rz_box li:before{content:"";display:inline-block;position: absolute;left: 0;top:2px;width:18px;height:18px;margin-right:6px;background-image:url(../images/use.png);background-repeat:no-repeat;vertical-align: bottom;}
.rz_box .btn,.rz_box .fastrz{ position:absolute; display:block;}
.rz_box .btn:hover,.rz_box .fastrz a:hover{ text-decoration:none;}
.rz_box .fastrz{ display:block; width:100%; text-align:center; bottom:86px; left:0;}
.rz_box .fastrz a{ color:#5ac8fa; font-size:18px;}
.rz_box .btn{ bottom:28px; left:50%; width:230px; margin-left:-115px; box-shadow:0 0 10px #fd9727;height:34px; line-height:34px; color:#fff; border-radius:3px; font-size:14px;}
.rz_box.smrz{ border:2px solid #5ac8fa; border-radius:4px;padding-bottom:110px;}
.rz_box.smrz h3{ border-bottom:2px solid #5ac8fa; color:#5ac8fa;}
.rz_box.smrz li:before{ background-position:0 0;}
.rz_box.smrz .btn{ background:#5ac8fa; box-shadow:0 0 3px #ace3fc;}
.rz_box.qyrz{ border:2px solid #69bf6c; border-radius:4px;padding-bottom:110px;}
.rz_box.normal{ border:2px solid #afafaf; border-radius:4px;color:#666}
.rz_box.normal h3{color:#666; border-bottom:2px solid #afafaf; }
.rz_box.normal li{color:#666;padding-left:15px;}
.rz_box.normal li:before{display:none;}

.rz_box em{ color:#f5800d}
.rz_box.qyrz h3{ border-bottom:2px solid #69bf6c; color:#69bf6c;}
.rz_box.qyrz li:before{ background-position:-18px 0;}
.rz_box.qyrz .btn{ background:#69bf6c; box-shadow:0 0 3px #b4dfb5;}
.rz_box.viprz{ border:2px solid #fd9727; border-radius:4px;height:auto;padding:0 20px 86px;}
.rz_box.viprz h3{ border-bottom:2px solid #fd9727; color:#fd9727;}
.rz_box.viprz li:before{ background-position:-36px 0;}
.rz_box.viprz .btn{ background:#fd9727; box-shadow:0 0 10px #fecb93;line-height:34px;height:34px;font-size:14px;}
.rz_box.viprz .btn:hover{ background:#ec8a1f;}

.rz_box span.btn{ background:#ccc !important; box-shadow:none !important;}
.rz_box.viprz:after{ content:""; background:url(../images/vip_icon.png) 0 0 no-repeat; width:43px; height:32px; position:absolute; display:block; top:-38px; left:50%; margin-left:-21px;}
.rztq{ text-align:center;}
.rztq h3{ padding:58px 0 18px 0; color:#333333; text-align:left;font-size:22px; font-weight:normal; border-bottom:1px solid #efefef;}
.rztq ul{ padding-top:50px; display:inline-block;}
.rztq ul li{ float:left; width:100px; text-align:center; font-size:18px; color:#666; margin:0 25px;}
.rztq ul.more li{ margin:0 30px;}
.rztq ul li i{ display:block; width:100px; height:100px; padding-bottom:12px; background-image:url(../images/rz_tq.png); background-repeat:no-repeat;}
.rztq ul li i.fbmsh{ background-position:0 0;}
.rztq ul li i.rzbq{ background-position:-100px 0;}
.rztq ul li i.tsjz{ background-position:-200px 0;}
.rztq ul li i.tfad{ background-position:-300px 0;}
.rztq ul li i.zdjz{ background-position:-400px 0;}
.rztq ul li i.sxjz{ background-position:-500px 0;}
.rztq ul li i.rwts{ background-position:-600px 0;}
.rztq ul li i.zrdz{ background-position:-700px 0;}

/*认证中心*/
.m-user_rzinfo{ border: 1px solid #efefef; padding: 58px 35px 10px 35px; position: relative; margin-top:-5px; background:url(../images/rz_center_bg.png) right bottom no-repeat; min-height:188px;}
.m-user_rzinfo .user_box{ float:left;}
.m-user_rzinfo .user_img{ float:left; background:url(../images/cycle.png) 0 0 no-repeat; width:110px; height:110px; padding:10px;}
.m-user_rzinfo .user_img img{ border-radius:55px;}
.m-user_rzinfo .user_info{ float:left; padding:32px 0 0 24px;}
.m-user_rzinfo .user_name{ padding-bottom:24px;}
.m-user_rzinfo .user_name h3{ float:left; font-weight:normal; color:#333333; font-size:22px;}
.m-user_rzinfo .user_name ul{ float:left;margin-left: 20px;}
.m-user_rzinfo .user_name ul li{ float:left; width:26px; height:26px; position:relative; background-image:url(../images/rz_icon.png); background-repeat:no-repeat;}
.m-user_rzinfo .user_name ul li.vip_icon{ background-position:0 bottom;}
.m-user_rzinfo .user_name ul li.smrz_icon{ background-position:-26px bottom;}
.m-user_rzinfo .user_name ul li.qyrz_icon{ background-position:-52px bottom;}
.m-user_rzinfo .user_name ul li.vip_icon.qtvip{ background: url("../images/lev1.png") 0 0 no-repeat;}
.m-user_rzinfo .user_name ul li.vip_icon.byvip{ background: url("../images/lev2.png") 0 0 no-repeat;}
.m-user_rzinfo .user_name ul li.vip_icon.hjvip{ background: url("../images/lev3.png") 0 0 no-repeat;}
.m-user_rzinfo .user_name ul li.smrz_icon.ok{ background-position:-26px top;}
.m-user_rzinfo .user_name ul li.qyrz_icon.ok{ background-position:-52px top;}
.m-user_rzinfo .user_name ul li.group_icon{ background-position:-78px bottom;}
.m-user_rzinfo .user_name ul li.group_icon.ok{ background-position:-78px top;}
.m-user_rzinfo .user_name ul li.grtd_icon{ background-position:-104px bottom;}
.m-user_rzinfo .user_name ul li.grtd_icon.ok{ background-position:-104px top;}
.m-user_rzinfo .user_name ul li span{ position:absolute; top:-46px; left:50%; margin-left:-51px; background:url(../images/rz_tips.png) 0 0 no-repeat; width:103px; height:38px; text-align:center; color:#fff; line-height:32px; font-size:13px; display:none;}
.m-user_rzinfo .user_name ul li:hover span{ display:block;}

.m-user_rzinfo .user_bot{ padding-bottom:20px;}
.m-user_rzinfo .user_bot p{ font-size:16px; color:#333;}
.m-user_rzinfo .user_bot .icon_time{ background:url(../images/vip_time.png) 0 0 no-repeat; line-height:20px; padding-left:28px;}
.m-user_rzinfo .timeline{ margin-top:12px; width:248px; height:6px; border-radius:3px; background:#dcdcdc;}
.m-user_rzinfo .timeline span{ display:block; height:6px; border-radius:3px;}
.m-user_rzinfo .timeline span{background: -webkit-linear-gradient(left, #a5ffaa , #0fe2f4);background: -o-linear-gradient(right, #a5ffaa, #0fe2f4); background: -moz-linear-gradient(right, #a5ffaa, #0fe2f4);background: linear-gradient(to right, #a5ffaa , #0fe2f4);
}
.m-user_rzinfo .user_bot_hj .icon_time{ background:url(../images/hjvip_time.png) 0 0 no-repeat;}
.m-user_rzinfo .user_bot_qt .icon_time{ background:url(../images/qtvip_time.png) 0 0 no-repeat;}
.m-user_rzinfo .user_bot_hj .timeline span{background: -webkit-linear-gradient(left, #fffe00 , #ff6f02);background: -o-linear-gradient(right, #fffe00, #ff6f02); background: -moz-linear-gradient(right, #fffe00, #ff6f02);background: linear-gradient(to right, #fffe00 , #ff6f02);}

.m-user_rzinfo .user_btn{ float:right; padding-top:45px;}
.m-user_rzinfo .user_btn a{ float:left; width:120px; height:40px; line-height:40px; text-align:center; font-size:20px; color:#fff; background:url(../images/rz_btn.png) right 0 no-repeat; margin-left:20px;}
.m-user_rzinfo .user_btn a:hover{background:url(../images/rz_btn.png) 0 0 no-repeat; text-decoration:none;}

.fold_vip .vip_list{height:108px;overflow: hidden;}
.status_bar_box{width:250px;height:8px;margin-top:14px;border-radius:8px;background:#dddddd;overflow: hidden;}
.status_bar{width:50%;height:100%;border-radius:8px;}
.status_bar.gold_bar{background:#ff7202;background:-webkit-linear-gradient(left,#fffb06,#ff7209);background:-o-linear-gradient(left,#fffb06,#ff7209);background:-moz-linear-gradient(left,#fffb06,#ff7209);background:-webkit-linear-gradient(to right,#fffb06,#ff7209);}
.status_bar.silver_bar{background:#27e8e8;background:-webkit-linear-gradient(left,#a4ffaa,#11e1f4);background:-webkit-linear-gradient(left,#a4ffaa,#11e1f4);background:-webkit-linear-gradient(left,#a4ffaa,#11e1f4);background:linear-gradient(to right,#a4ffaa,#11e1f4);}
.status_bar.bronze_bar{background:#9ade46;}
.expand_text{display:block;color:#fe781c;font-size:20px;float:right;}
.expand_text:after{content:"";display:inline-block;width:14px;height:8px;margin-left:6px;background:url("../images/icon_down_orange.png") no-repeat;}
.expand_text.collaps:after{transform: rotate(180deg);}
.viptq h3{ padding-top:36px; position:relative;}
.viptq ul{ padding-top:40px;}
.viptq ul li{ width:84px; font-size:16px; margin:0 30px 0 0;}
.viptq ul li:last-child{ margin:0;}
.viptq ul li i{ width:80px; height:80px; background-image:url(../images/vip_tq.png);background-repeat:no-repeat;}
.viptq ul li i.ptjz{ background-position:0 0;}
.viptq ul li i.kjjz{ background-position:-80px 0;}
.viptq ul li i.fbmsh{ background-position:-160px 0;}
.viptq ul li i.rzbq{ background-position:-240px 0;}
.viptq ul li i.tsjz{ background-position:-320px 0;}
.viptq ul li i.tfad{ background-position:-400px 0;}
.viptq ul li i.zdjz{ background-position:-480px 0;}
.viptq ul li i.rwts{ background-position:-560px 0;}
.viptq ul li i.zrdz{ background-position:-640px 0;}
.m-zzfw_list{ margin-top:30px; border-top:1px solid #efefef;}
.m-zzfw_list li{ padding:30px 0; border-bottom:1px solid #efefef;}
.m-zzfw_list li h3{ color:#333; font-size:24px; font-weight:normal; padding-bottom:14px;}
.m-zzfw_list li p{ color:#666; font-size:18px;}
.m-zzfw_list .zzfw_fr{ float:right; padding:12px 30px 0 0;}
.m-zzfw_list .zzfw_fr .list_right,.m-zzfw_list .zzfw_fr a{font-size:20px; line-height:36px; height:36px; display:inline-block; overflow:hidden;}
.m-zzfw_list .zzfw_fr .list_right{display:inline-block;font-size:14px; color:#535353; margin-right:30px;}
.m-zzfw_list .zzfw_fr .list_right .per_text{display:inline-block;}
.m-zzfw_list .zzfw_fr .list_right em{ color:#fe7418;}
.m-zzfw_list .zzfw_fr a{ color:#fff; width:100px; border-radius:4px; background:#f39800; text-align:center;}
.m-zzfw_list .zzfw_fr a:hover{ background:#cb7f01;text-decoration: none;}
.m-zzfw_list .zzfw_fr a.disable{ background:#c1c1c1;color:#fff;text-decoration: none;}
.m-zzfw_list .zzfw_fr a.blue{ background:#3299dc;}
.m-zzfw_list .zzfw_fr a.blue:hover{ background:#3299dc; opacity:0.8;}
.viptq h3 .buypack{ position:absolute; top:22px; right:0; display:block; color:#fff; padding:0 15px; height:36px; line-height:36px; border-radius:4px; background:#f39800; text-align:center; font-size:16px;}

/*********登录弹窗********/
.login_mask{width:100%;height:100%;position:fixed;left:0;top:0;background:rgba(0,0,0,.3);display:none;}
.login_mask .login_box{width:400px;height:300px;position:relative;margin:200px auto;border:10px solid rgba(0,0,0,.4);background:#fff;}
.login_box .login_tle{height:34px;line-height:34px;overflow:hidden;font-size:16px;color:#fff;background:#f39800;padding:0 13px;}
.login_box .login_con{background:#fff;}
.login_box .login_con p{line-height:190px;text-align: center;color:#ee4a1e;font-size:25px;}
.login_box .login_btn{color:#fff;font-size:18px;line-height:36px;text-align: center;}
.login_box .login_btn .btn{background:#78b31a;display:inline-block;padding:0 40px;}
.login_box .login_btn .btn:first-child{background:#f39800;margin-right:40px;}
.login_tle .login_close{width:16px;height:16px;background:url("../images/close.png") no-repeat;float:right;margin-top:12px;}

.contact_fix{position:absolute;top:100px;left:50%;margin-left:520px;width:150px;height:196px;padding-top:118px;background:url('../images/contact_fix.png') no-repeat;}
.contact_fix .contact_detail{display:block;width:100%;background: #f39800;border-radius:4px;color:#fff;line-height:2;padding:10px 0;text-align:left; font-size:18px;}
.contact_fix .contact_detail div{padding-left:10px;}

/**********vip促销弹窗**********/
.vip_promotion_mask{position: fixed;width: 100%;height:100%;left:0;top:0;background:rgba(0,0,0,.2);}
.vip_promotion_mask .vip_promotion_box{margin:30px auto;width:400px;height:auto;text-align: center;}
.vip_promotion_box .promotion_close{width:40px;height:40px;float:right;margin-bottom:30px;margin-right:-20px;background:url('../images/vip_tip_close.png');}










