.logo_box{ padding: 20px 20px;}
.logo_box .left{ float: left;}
.logo_box .right{ float: right;}
.logo_box .search_wrap{ margin-top: 12px; margin-left: 20px;}
.logo_box .title_wrap{ margin-top: 12px; margin-left: 20px; color: #fd8100; font-size: 20px; font-family: 'Microsoft YaHei'}