[v-cloak]{display:none;}
/*** 头部 ***/
.grey_bg{background:#f3f5f6;}
.header{width:100%;height:100px;transition:all 500ms ease;  }
.header1{position:relative;  }
.header.header2{position:absolute;z-index: 99;background:transparent;}
.header.header1,.header.fix{background:#ff923a;}
.header.fix{position:fixed;z-index:99;top:0;left:0;height:100px;}
.head_wrap{width:1000px;position:relative;margin:0 auto;padding-top:30px;}
.container{ min-width:1100px;}
.w_logo{position:absolute;left:0;height:40px;}
.group_nav{display:block;width:100%;height:16px;line-height:16px;margin-top:12px;text-align: right;}
.group_nav .nav_item{padding:0 16px;border-left:1px solid #fff;height:16px;color:#fff;font-size:16px;}
.group_nav .nav_item:first-child{border-left:none;}
.group_nav .nav_item.active{color:#884f26;}
.group_nav  i.icon_arrow_down{display:inline-block;vertical-align:middle;width:6px;height:6px;border-bottom:1px solid #fff;border-right:1px solid #fff;transform:rotate(45deg);}
.lsmall{display:inline-block;color:#fff;font-size:12px;line-height:40px;margin-bottom:20px;}

/*** 底部 ***/
.footer1{ width:100%; height:160px; display:block; box-sizing:border-box; padding:30px 0; background:#ff923a;}
.footer1 .ft_box{width:1000px;margin:0 auto;}
.footer1 .ft_box .ft_left{ float:left; position:relative; overflow: hidden; width:672px; height:100px; color:#fff; font-size:18px; border-right:1px solid #fff;
    vertical-align:bottom;}
.footer1 .ft_box .ft_left .ft_left_bot{ width:100%; position:absolute; left:0;bottom: 0;}
.footer1 .ft_box .ft_left .ft_item>a{ color:#fff; text-decoration: none; margin-right:28px;}
.footer1 .ft_box .ft_left .cp_right{ margin-top:16px; font-size:12px; color:#ffc9a9;}
.footer1 .ft_box .ft_right{ box-sizing:border-box; float:left; width:320px; height:100px; padding-left:64px; color:#fff;}
.footer1 .ft_box .ft_right .scan_img{ float:left; margin-right:24px;}
.footer1 .ft_box .ft_right .tip{ margin:38px 0;}

/* 常用公共样式 **/
.w_main{width:1000px;height:auto;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; margin:20px auto;padding:30px;border-radius: 8px;background:#fff;}
.btn_theme{display:inline-block;background:#fe7418;cursor:pointer;text-decoration:none;border-radius:4px;color:#fff;height:40px;line-height:40px;font-size:18px;padding:0 30px;}
.btn_theme:hover{text-decoration:none;background:#d8671c;}

/*** 介绍页面 ***/
.about_title{font-size:30px;line-height:120px;color:#000;text-align:center;}
.about_wrap{overflow:hidden;}
.about_wrap .a_img{height:250px;}
.about_wrap dl{width:33.3%;float:left;text-align:center;padding:30px 30px 0;box-sizing:border-box;}
.about_wrap dt{color:#fe7418;font-size:22px;font-weight:bold;margin:20px 0;}
.about_wrap dd{color:#333333;font-size:16px;line-height:1.8;}
.mid_section{text-align:center;border-bottom:1px solid #e6e6e6;padding:70px 0; }
.mid_section .btn_theme{margin:20px auto;height:50px;line-height:50px;font-size:20px;padding:0 60px;}
.about_tip{color:#9c9c9c;font-size:18px;text-align:center;}
.logos_section{padding-top:20px;}
.group_logo_wrap{overflow:hidden;width:798px;margin:20px auto 70px ;}
.group_logo{ width:880px;}
.group_logo>li{list-style:none;display:inline-block;padding:0;margin:0 66px 24px 0;}
.about_container{width:1000px;height:auto;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; margin:20px auto;padding:30px;border-radius: 8px;background:#fff;}

/*** 申请页面 ***/
.apply_crumbs{width:1000px;margin:auto;line-height:44px;font-size:16px;}
.apply_crumbs a{color:#3299dc;}
.apply_container{ margin:0 auto 20px;padding:30px;min-height:400px;}
.status_bar_box{margin:36px 16px;overflow: hidden;}
.status_bar_box .status_item{width:33.3%;float:left;text-align:center;}
.status_bar_box .status_item .line{border-bottom:3px solid #d2d2d2;color:#fff;margin-bottom:30px;height:20px;}
.status_bar_box .status_item.active .line{border-bottom-color: #fe7418;}
.status_bar_box .status_item p{color:#d2d2d2;font-size:15px;}
.status_bar_box .status_item.active p{color:#fe7418;}
.status_item .line i{display:inline-block;margin-bottom:-23px;background:#d2d2d2;width:40px;height:40px;border-radius:100%;line-height:40px;font-size:20px;text-align:center;text-decoration:none; font-style: normal;}
.status_item.active .line i{background:#fe7418;}

.apl_tle{height:40px;line-height:40px;padding-left:26px;font-size:16px;font-weight:bold;background:#f8f8fa;color:#333;margin-bottom:18px;}
.apl_tle em{color:#fe4318}
.apl_form{margin-bottom:20px;}
.apl_form .apl_item{padding-left:150px;position:relative;margin-bottom:16px;font-size:16px;min-height:40px;}
.apl_form .apl_item .text_block{padding:12px 0;line-height:1.4;}

.apl_item label{width:150px;position:absolute;left:0;top:0;padding-left:20px;line-height:36px;color:#aaaaaa;}
.apl_item.require label:before,.apl_item2.require .item_tle:before{content:"*";color:#fe7418;}
.apl_item .comment{color:#fe7418;margin-left:30px;}
.apl_item .apl_input{border:1px solid #e6e6e6;width:360px;height:36px;line-height:36px;color:#333;padding:0 12px;border-radius:2px;}
.apl_select{position:relative;-webkit-appearance: none; -moz-appearance: none;appearance: none;border:1px solid #e6e6e6;min-width:120px;height:36px;line-height:36px;color:#333;padding:0 16px 0 12px ;border-radius:2px;background:url(../images/triangle.jpg) right center no-repeat;}
.apl_item .apl_textarea{border:1px solid #e6e6e6;width:600px;height:150px;padding:12px;box-sizing:border-box;line-height:1.4;border-radius:2px;}
.apl_item .apl_textarea.alr{border:1px solid #fd634f;}
.apl_item em{color: #fd634f;}

.apl_input:-moz-placeholder,.apl_input:-ms-input-placeholder, .apl_input::-webkit-input-placeholder{color:#e6e6e6;}
.apl_textarea:-moz-placeholder,.apl_textarea:-ms-input-placeholder, .apl_textarea::-webkit-input-placeholder{color:#e6e6e6;}
.fc_blue{ color:#3e9fde;}
.form_alert{padding-left:20px;background:url(../images/alert.png) left center no-repeat;color:#fd634f;font-size:13px;line-height:30px;}
.apl_area .apl_select{min-width:80px;margin-right:20px;}
.map_box{width:500px;height:300px;background:#e6e6e6;}

.apl_item2 {margin-bottom:20px;}
.apl_item2 .item_tle{line-height:36px;font-size:15px;font-weight:bold;color:#666;margin-bottom:12px;}
.item_tle a{color:#3299dc;}
.item_tle em{color:#fd634f;}
.apl_item2 .apl_file{position:relative;display:inline-block;margin-right:30px;width:300px;height:160px;}
.apl_file .file_input{width:100%;height:100%;position:absolute;left:0;top:0;opacity:0;}
.apl_item2 .apl_file img{max-height:162px;}




/**申请结果页面*/
.apply_result{text-align:center;border-top:1px solid #f3f5f6;padding:40px 0 100px;margin:0 -40px;}
.apply_result p{color:#000;font-size:20px;font-weight:bold;margin:20px 0;}
.apply_result small{color:#aaaaaa;font-size: 15px;margin-bottom:18px;}
.apply_result .btn_theme{margin-top:18px;}

/**兼职页面***/
.group_job_container{min-height:300px;}
.group_job_list {width:100%;border:1px solid #dadada;text-align: center;margin-bottom:40px;}
.group_job_list th{height:50px;background:#3299dc ;color:#fff;text-align: center;}
.group_job_list td{height:50px;text-align:center;color:#333;font-size:15px;text-align: center;}
.float_l{float:left;}
.time_select_box{overflow: hidden;position:relative;}
.time_select_box .filter_time{position:absolute;width:100%;height:100%;left:0;top:0;opacity: 0;}

#group_job_top .daterangepicker{display:none;}
.time_split{line-height:40px;margin-right:10px;}
.key_input{background: #eeeeee;width:140px;height:36px;padding:0 12px;border:none;}
.grade_box,.grade_container{display:inline-block;overflow:hidden;}
.job_filter_box{overflow:hidden}
.job_filter_box .job_select,.job_filter_box  .grade_box select{float:left;position:relative;margin-right:20px;margin-bottom:20px;-webkit-appearance: none; -moz-appearance: none;appearance: none;border:1px solid #e6e6e6;min-width:100px;height:36px;line-height:36px;color:#333;padding:0 16px 0 12px ;border-radius:2px;background:url(../images/up_down_triangle.png) right center no-repeat;}
.time_select{float:left;text-align:center;margin-right:10px;margin-bottom:20px;-webkit-appearance: none; -moz-appearance: none;appearance: none;border:1px solid #e6e6e6;width:150px;height:36px;line-height:36px;color:#333;padding:0 12px ;border-radius:2px;}
.key_search{overflow:hidden;display:inline-block;border:1px solid #e6e6e6;border-radius:2px;margin-right:20px;margin-bottom: 20px;}
.key_search select,.key_search input{-webkit-appearance: none; -moz-appearance: none;appearance: none;height:36px;line-height:36px;color:#333;}
.job_filter_box .key_search .job_select{width:100px;margin:0;border:0;}
.ml5{ margin-left: 5px; background: #33CC00;}

/*兼职分页*/

.pages .pgna { float:left; padding-left: 0;border-radius: 4px;border: 1px solid #ddd;}
.pages .pgna>li { float:left;border-right: 1px solid #ddd;height: 32px; line-height: 32px; padding: 0 8px;}
.pages .pgna>li:last-child{ border:0;}
.pages .pgna>li a{color:#5D5F63; font-size:15px;}
.pages .pgna>li a:hover{ text-decoration:none;}
.pages .pgna>li.disabled{ background:#eee;}
.pages .pgna>li.disabled a{ cursor:no-drop;}

[v-cloak]{display:none;}
body{ font-family:"微软雅黑";}
/*集团号管理*/
.group_warp{ padding:44px 0; max-width:1000px; margin:0 auto;}
.jt_info{ padding:44px 30px 20px 30px; background:#fff; margin-bottom:10px;}
.jt_info .avatar,.member_info .avatar{ float:left; width:90px; height:90px; overflow:hidden; background:url(../images/nophoto.jpg) center center no-repeat; margin-right:20px; border-radius: 50%;}
.jt_info .avatar img,.member_info .avatar img{ width:100%;}
.jt_info .name,.member_info .name{ float:left;}
.jt_info .name h2{ color:#333333; font-size:25px; padding-bottom:10px;}
.jt_info .name h2 span{ display:inline-block; padding:0 10px; margin-left:4px; height:18px; line-height:18px; border-radius:2px; background:#ff923a; font-size:13px; color:#fff;}
.jt_info .name h6{ color:#aaaaaa; font-size:15px;}
.group_warp .btn{ height:40px; line-height:40px; border-radius:3px; display:inline-block; text-align:center; color:#fff; font-size:18px; width:200px; background:#ff923a;}
.group_warp .small_btn{ height:32px; line-height:32px; width:160px; font-size:14px;}
.group_warp .hollow{box-sizing: border-box; border: 1px solid #FF913B; background: #fff; color: #FF913B;}
.group_warp .btn:hover{ opacity:0.8;}
.jt_info .edit_btn,.jt_info .view_btn,.member_info .edit_btn,.jt_baseinfo .btn{ float:right; margin-top:22px; height:32px; line-height:32px; width:160px; font-size:14px;}
.jt_bot{ margin-top:26px; padding-top:20px; border-top:1px solid #e6e6e6;}
.jt_info .permission_btn{ float:right; background:#3299dc;height:32px; line-height:32px; width:160px; font-size:14px;}
.jt_bot p{ color:#aaaaaa; font-size:15px; line-height:40px;}
.jt_bot p span{ color:#333333;}
.member_info{ background:#fff; padding:34px 30px 26px 30px; margin-bottom:10px;}
.member_info .name p{ color:#aaaaaa; font-size:15px; padding-bottom:14px;}
.member_info .name p span{ color:#ff923a;}
.member_info .name p span.black{ color:#333333;}
.member_list{ margin-bottom:10px; background:#fff; padding-bottom:20px;}
.member_list .title{ padding:20px 30px;}
.member_list .title h5{ float:left; color:#333333; font-size:18px; line-height:40px;}
.member_list .title .option{ float:right;}
.member_list .setting_group_btn{ width:auto; padding:0 26px 0 52px; background:url(../images/list.png) 26px center no-repeat #3299dc; background-size:14px;height:32px; line-height:32px; font-size:14px; cursor:pointer;}
.member_list .invite_btn{ width:auto; padding:0 26px 0 46px; background:url(../images/add.png) 20px center no-repeat #3299dc; background-size:16px;height:32px; line-height:32px; font-size:14px;}
.member_list .invite_btn.disabled{ background:#ddd; cursor:no-drop;}
.member_list .list{ border-top:1px solid #e6e6e6;}
.member_list .list td{ border-bottom:1px solid #e6e6e6; padding:16px 0; text-indent:20px; font-size:15px; word-break:break-all;}
.member_list .list td a{ color:#3299dc;}
.member_list .list td span.gb{ display:inline-block; padding:0 16px; height:20px; line-height:20px; border-radius:10px; color:#ff923a; border:1px solid #ff923a; text-align:center; text-indent:0; font-size:14px}
.member_list .view_btn{ float:right; margin:20px 30px 0 0;height:32px; line-height:32px; width:160px; font-size:14px;}
.job_list .list{ padding:0 20px; border:0;}
.job_list .list th{ background:#78b9ed; border:1px solid #dadada; color:#fff; padding:16px 5px; text-align:center;}
.job_list .list td{ text-indent:0; border:1px solid #dadada; padding:16px 5px; text-align:center;}
.job_list .more_job{height:32px; line-height:32px; width:160px; font-size:14px;}
.company_leader_fee_wrap{padding:12px;position: relative;height:380px;}
.company_leader_fee_wrap .job_list .list{padding:0; min-height: 320px;}
.container .company_leader_fee_wrap .job_list .list{min-height: 350px;}
.company_leader_fee_wrap .page_nav{margin:12px;}
.company_leader_fee_wrap .page_nav a{color:#333;}
.company_leader_fee_wrap .page_nav a.disabled{color:#999;text-decoration: none;cursor: no-drop;}

/*编辑集团信息*/
.warp{ min-height:500px; background:url(../images/loading.gif) center center no-repeat;}
.group_warp{ background:#f3f5f6;}
.edit_panel{ padding:30px; background:#fff;}
.edit_panel .title{ padding-bottom:15px;}
.edit_panel .title h2{ color:#333333; font-size:26px;}
.edit_panel .title .return{ color:#3299dc; font-size:16px; font-weight:normal; float:right;}
.edit_panel .title p{ color: #999999; font-size: 12px; padding-top: 10px;}
.edit_panel .from dl{ padding:12px 0; border-bottom:1px solid #dadada; zoom:1;}
.edit_panel .from dl:after{clear: both;content: " "; display: block; height: 0; visibility: hidden;}
.edit_panel .from dl.inner{ border-bottom:0; padding-bottom:0;}
.edit_panel .from dt{ float:left; width:118px; text-indent:15px; color:#aaaaaa; font-size:15px; line-height:160%;}
.edit_panel .from dd{ float:left; width:822px;}
.edit_panel .from dd p{ color:#000; font-size:15px; display:inline; line-height:160%;}
.edit_panel .from dd .choose_avatar{ position:relative; display:inline-block; color:#3299dc; font-size:16px; margin:12px 0;}
.edit_panel .from dd .choose_avatar input{ position:absolute; left:0; top:0; width:100%; height:100%; opacity:0; z-index:99;}
.edit_panel .from dd h6{color:#aaaaaa; font-size:15px; font-weight:normal;}
.edit_panel .from dd .map_btn{ display:inline-block; background:url(../images/address.png) 0 center no-repeat; padding-left:22px; color:#3299dc; margin-left:20px; font-size:16px;}
.edit_panel .from dd .edit_btn{ display:inline-block; background:url(../images/edit.png) center center no-repeat; width:13px; height:13px; margin-left:20px;}
.edit_panel .from h5{ color:#aaaaaa; font-size:16px; font-weight:normal; padding-top:20px;}
.edit_panel .from h5 span{ color:#ff923a;}
.edit_panel .from .protocol{ border:2px dashed #b7c4cd; padding:5px; display:inline-block;}
.edit_confirm_btn{ margin:50px 0 0 50px;}
.edit_confirm_btn.disabled{ background:#ddd; cursor:no-drop;}
.edit_panel .from .txt{ height:30px; line-height:30px; padding:0 5px; border:1px solid #ddd; color:#333; font-size:15px;}
.edit_panel .from textarea.txt{ width:600px; min-height:150px;}
.edit_address{ margin-bottom:10px;}
.map_box{ width:500px; height:300px;}
.edit_panel #img1{ width:90px;}
.edit_panel .goto_edit_company{ color:#3299dc; margin-left:15px;}
.edit_panel .avatar{ float:left; width:90px; height:90px; background:url(../images/nophoto.jpg) 15px center no-repeat; padding-left:15px; text-indent:0;}
.edit_panel .avatar img{ text-indent:0;}


/*迁移权限*/
.edit_panel .line{ background:#dadada; height:1px; overflow:hidden;}
.edit_panel .move{ padding:22px 0;}
.edit_panel .move span{ float:left; line-height:34px; margin-right:30px; font-size:15px;}
.edit_panel .move select{ float:left; height:34px; line-height:34px; border:1px solid #dadada; font-size:15px; min-width:100px;}
.edit_panel .authority{ color:#333333; font-size:15px;}
.edit_panel .authority h5{ padding-bottom:20px;}
.edit_panel .authority h6{ color:#aaaaaa; font-size:16px; padding:20px 0;}
.edit_panel .authority p{ color:#333; padding-bottom:15px; padding-left:20px; position:relative;}
.edit_panel .authority p:after{ position:absolute; height:14px; width:14px; border-radius:7px; background:#3299dc; content:""; left:0; top:2px;}

/*集团成员*/
.grade_option .all_member_btn{ width:100px; margin-right:20px; float:left;}
.grade{ display:inline-block; float:left; height:40px; line-height:40px;}
.grade select{border: 1px solid #ddd; min-width:100px;  height:40px; line-height:40px; color:#333; font-size:15px; margin-right:15px; border-radius:3px;}


/*分页*/
.pages{ margin-top:20px; color:#5D5F63; font-size:15px;}
.pages_l{ float:left;}
.pages_r{ float:right;}
.pages .pagination { float:left; padding-left: 0;border-radius: 4px;border: 1px solid #ddd;}
.pages .pagination>li { float:left;border-right: 1px solid #ddd;height: 32px; line-height: 32px;}
.pages .pagination>li:last-child{ border:0;}
.pages .pagination>li a{color:#5D5F63; font-size:15px; padding: 0 8px !important; display:block;height: 32px; line-height: 32px;}
.pages .pagination>li a:hover{ text-decoration:none;}
.pages .pagination>li.disabled{ background:#eee;}
.pages .pagination>li.disabled a{ cursor:no-drop;}
.goto { float: right; height: 34px; line-height: 34px; padding-left: 15px;}
.goto_btn { height: 32px; line-height: 32px; padding: 0 8px; border: 1px solid #ddd; border-radius: 2px; margin-left: 4px; display: inline-block; float: right;
cursor: pointer;}
.goto div { display: inline-block;}
.goto input { height: 32px; line-height: 32px; width: 34px; border: 1px solid #ddd; text-align: center; margin-left: 4px; float: right;}

/*邀请成员*/
.invite{}
.invite h5{ padding-bottom:42px; color:#aaaaaa; font-size:15px; font-weight:normal;}
.invite .add{ color:#3299dc; font-size:15px; margin-bottom:15px; display:inline-block;}
.invite_box{ margin-bottom:28px;}
.invite_box input,.invite_box a.del{ float:left;}
.invite_box input{ height:38px; line-height:38px; border:1px solid #ddd; border-radius:3px; color:#333333; font-size:15px; text-indent:8px; margin-right:15px;}
.invite_box input.error{ border:1px solid #f00;}
.invite_box a.del{ line-height:40px; color:#fd634f;}
.success{ text-align:center; background:#fff; padding:110px 0 80px 0;}
.success h3{ padding:20px 0; color:#333333; font-size:20px;}
.success p{ color:#aaaaaa; font-size:15px; padding-bottom:15px;}
.success .home{ background:#3299dc;}

/*编辑权限*/
.group_warp .move_account_btn{ width:auto; padding:0 20px;}
.member_rights_top{ padding:24px 20px; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.member_rights_top p{ float:left; line-height:40px; font-size:15px; color:#333; margin-right:20px;}
.permission{ padding:20px; margin-bottom:24px; border-bottom:1px solid #ddd;}
.permission h3{ color:#333333; font-size:20px; margin-bottom:20px;}
.permission p{ color:#333; padding-bottom:15px; padding-left:20px; position:relative;}
.permission p:after{ position:absolute; height:14px; width:14px; border-radius:7px; background:#3299dc; content:""; left:0; top:2px;}
.group_warp .permission_btn{ width:auto; padding:0 30px; background:#3299dc; margin-top:10px;}

/*登录页*/
.logo_header{ height:340px; background:#ef8b43;}
.copy_right{ text-align:center; color:#c8c8c8; font-size:15px; padding-bottom:30px;}
.login_panel{ width:460px; margin:-190px auto 50px auto; box-shadow:0 0 50px #f2b58a; border-radius:6px; background:#fff; position:relative; z-index:99;}
.ercode{ background:url(../images/ewcode.jpg) center center no-repeat; width:38px; height:38px; position:absolute; top:13px; right:13px; cursor:pointer;}
.login_logo{ padding:30px 0 16px 0; text-align:center; overflow:hidden;}
.login_panel h1{ color:#ef8b43; font-size:26px; font-weight:normal; text-align:center;}
.login_panel h4{ color:#333333; height:40px; line-height:40px; text-align:center; margin:8px 34px 0 34px; background:#f8f8fa; font-weight:normal;}
.login_from{ padding:30px 66px;}
.login_from .login_box{ border:1px solid #ddd; height:48px; line-height:48px; border-radius:3px; margin-bottom:10px; padding-left:36px;}
.login_from .login_box.phone{ background:url(../images/phone.png) 12px center no-repeat;}
.login_from .login_box.pwd{ background:url(../images/pwd.png) 12px center no-repeat;}
.login_from .login_box.yzm{ background:url(../images/yzm.png) 12px center no-repeat;}
.login_from .login_box input{ height:30px; line-height:30px; margin:9px 0; border:none; background:none; outline:none;}
.login_from .login_box .yzm_img{ float:right; margin:9px 9px 0 0;}
.login_from .login_box #yzm{ width:120px;}
.login_from .login_box .yzm_img img{ height:30px;}
.login_from .pwd_column{ padding:8px 0 18px 0;}
.login_from .login_btn{ display:block; height:50px; margin-bottom:30px; line-height:50px; border-radius:4px; text-align:center; background:#ef8b43; color:#fff; font-size:18px;}
.login_from .login_btn:hover{ opacity:0.8; text-decoration:none;}
.login_from .to_register_btn{ float:right; color:#fc873a; font-size:16px;}
.login_panel .scan_box { border-radius:6px; background: #fff; height: 100%; width: 100%;color: #aaaaaa; left: 0; position: absolute; text-align: center; top: 0; z-index: 9;}
.login_panel .scan_box img { height: 240px; width: 240px; margin-top: 110px;}
.login_panel .close{ background:url(../images/close.png) center center no-repeat; width:40px; height:40px; position:absolute; right:10px; top:10px; cursor:pointer;}
#remberpwd{ -webkit-appearance:checkbox; -moz-appearance:checkbox;appearance:checkbox; height:auto; line-height:normal;}

/*注册*/
.register_from{ padding:24px 34px 50px 34px;}
.register_from dl{ padding-bottom:13px; zoom:1;}
.register_from dl:after{clear: both;content: " "; display: block; height: 0; visibility: hidden;}
.register_from dl dt{ float:left; width:72px; height:40px; line-height:40px; color:#aaaaaa; font-size:16px;}
.register_from dl dd{ float:left; width:320px;}
.register_from dl .register_box{ border:1px solid #ddd; height:38px; line-height:38px; border-radius:3px; padding-left:20px;}
.register_from dl .register_box input{ height:30px; line-height:30px; margin:4px 0; border:none; background:none; outline:none;}
.register_from dl .register_box .yzm_img{ float:right; margin:4px 4px 0 0;}
.register_from dl .register_box .yzm_img img{ height:30px;}
.register_from .identify_code_btn,.register_from .identify_code_btn_waiting{ float:right; color:#fff; font-size:16px; background:#ef8b43; border-radius:3px; text-align:center; height:40px; line-height:40px; width:130px; margin-left:10px;}
.register_from .identify_code_btn_waiting{ background:#ddd; display:none;}
.w153{ width:153px;}
.register_from .register_btn{ display:block; height:50px; line-height:50px; border-radius:4px; text-align:center; background:#ef8b43; color:#fff; font-size:18px;}
.register_from .register_btn.disabled{ background:#ddd; cursor:no-drop;}
.register_from .line{ height:1px; background:#ddd; margin:12px 0 20px 0;}
.register_from h5{ color:#333333; font-size:15px; padding-bottom:20px; font-weight:normal;}
.register_from h6{ text-align:center; font-size:15px; font-weight:normal; color:#333; padding:10px 0 20px 0;}
.register_from h6 a{ color:#3299dc;}
.register_from select{ height:40px; line-height:40px; color:#333; border:1px solid #ddd;}
.register_from #txm{ width:120px;}

/*设置分组*/
.setting_grade{ padding-bottom:40px; padding-top:20px;}
.setting_grade p{ padding:15px 0; color:#aaaaaa; font-size:15px; line-height:160%;}
.add_first_grade{ color:#3b40ff; font-size:15px; margin-top:15px;  margin-bottom:10px; display:inline-block;}
.grade_list,.grade_header{ margin-bottom:15px;}
.grade_list .grade_list{ padding-left:30px;}
.grade_list a,.grade_list input,.grade_list span{ display:inline-block; height:40px; line-height:40px; color:#333; font-size:15px; margin-right:12px;}
.grade_list input{ height:38px; line-height:38px; border:1px solid #ddd; padding-left:6px;}
.grade_list a.silde,.grade_list a.confirm{ color:#3299dc;}
.grade_list a.add{ padding-left:24px; background:url(../images/grade_add.png) 0 center no-repeat; color:#aaaaaa;}
.grade_list a.del{ padding-left:24px; background:url(../images/grade_del.png) 0 center no-repeat; color:#fd634f;}





/**************** 领队端******************/
.group_warp .grade_permissions_btn{ width:auto; padding:0 26px 0 52px; background:url(../images/grade_permissions.png) 26px center no-repeat #fd732e; background-size:14px;height:32px; line-height:32px; font-size:14px;}
.job_pay_type{ line-height:32px; color:#333333; font-size:15px; padding-top:30px;}
.job_pay_type span{ color:#3299dc;}
.job_pay_type .pay_type_btn{ float:right; background:#fd732e;height:32px; line-height:32px; font-size:14px; width:auto; padding:0 30px;}
.job_list .link_btn{ display:inline-block; height:24px; line-height:24px; margin: 2px 0; padding:0 10px; color:#fff !important; border-radius:12px; font-size:12px;}
.job_list .link_btn:hover{ opacity:0.8;}
.job_list .link_btn1{ background:#88b61f;}
.job_list .link_btn2{ background:#ef8b43;}
.job_list .link_btn3{ background:#fe4318;}
.assigned_box{ display:none; padding:15px 15px 0 15px;}
.assigned_txt{ border:1px solid #ddd; height:36px; line-height:36px; text-indent:10px; margin-bottom:10px;}
.assigned_txt input{ border:none; width:90%; outline:none; height: 34px; display: block; margin: 0 auto;}
.assigned_list{ overflow: auto; border:1px solid #ddd; height:360px; padding:10px;}
.assigned_list li{ height:36px; line-height:36px; padding-left:30px; position:relative; cursor:pointer; background:url(../images/icon.png) 4px center no-repeat; background-size:16px;}
.assigned_list li.select{ background:url(../images/icon_hove.png) 0 center no-repeat; background-size:22px;}
.approval_path{ display:none; padding:15px; height:480px; overflow-y:auto;}
.approval_path th{ background:#78b9ed; border:1px solid #dadada; color:#fff; padding:12px 5px; text-align:center;}
.approval_path td{ text-indent:0; border:1px solid #dadada; padding:12px 5px; text-align:center;}

.approval_path ul li{ border-bottom: 1px solid #dadada; padding-bottom: 4px; margin-bottom: 10px;}
.approval_path ul li:last-child{ border-bottom: none;}
.approval_path li p{ margin: 0; color: #333; font-size: 14px; padding: 6px 0;}
.approval_path li p span.fl{ float: left;}
.approval_path li p span.fr{ float: right;}
.approval_path li div span.bold{ float: left; font-weight: bold; line-height: 160%;}
.approval_path li div pre{ white-space: pre-wrap; line-height: 160%; font-family: "微软雅黑"; border: none; background: none; padding: 0; margin: 0; overflow: initial; font-size: 14px;}
.approval_path li h6{ padding: 6px 0; margin: 0; font-weight: normal; color: #999; font-size: 14px;}
.approval_path .accessory div{ width: 96px; height: 80px; margin: 0 2px 8px 2px; float: left; position: relative;}
.approval_path .accessory div a{display: block; margin: 0 18px; height: 59px; width: 59px; border:1px solid #ddd; text-align: center;}
.approval_path .accessory div.word a{background: url("../images/icon_word.png") center no-repeat;}
.approval_path .accessory div.excel a{background: url("../images/icon_excel.png") center no-repeat;}
.approval_path .accessory div.pdf a{background: url("../images/icon_pdf.png") center no-repeat;}
.approval_path .accessory div a img{ width: 100%; height: 100%; display: block;}
.approval_path .accessory div span{ display: block; text-align: center; height: 20px; font-size: 12px; line-height: 20px; overflow: hidden;    white-space: nowrap;}
.member_rights_top .tips{ clear:both; padding-top:30px; color:#aaaaaa; font-size:14px;}
.member_rights_top .tips span{ color:#fe4318;}
.job_type_about{ padding:20px 0;}
.job_type_about h6{ font-size: 18px; color:#333333; font-weight: normal; line-height: 160%;}
.job_type_about h6 span{ font-weight: bold;}
.job_type_about p{ color:#333333; font-size:16px; line-height:180%;}
.job_type_about p span{ color:#ef8b43;}
.job_type_about p span.red{ color:#ef8b43;}
.job_type_about img{ display:block; max-width:100%; margin:15px auto 0 auto;}
.job_type_about2 p{ padding: 5px 0;}
.h20{ height:20px;}
.grade_perm_box { padding:6px 0;}
.grade_perm_box input{ line-height:normal; height:auto;-webkit-appearance:checkbox; margin-right:6px;}
.salary_audit_list th{ background:#78b9ed; border:1px solid #dadada; color:#fff; padding:16px 5px; text-align:center;}
.salary_audit_list td{ text-indent:0; border:1px solid #dadada; padding:16px 5px; text-align:center;}
.salary_audit_list td a{color: #3299dc;}
.salary_audit_list .link_btn{ display:inline-block; height:24px; line-height:24px; padding:0 10px; color:#fff !important; border-radius:12px; font-size:12px; margin: 2px 0;}
.salary_audit_list .link_btn:hover{ opacity:0.8;}
.salary_audit_list .link_btn1{ background:#88b61f;}
.salary_audit_list .link_btn2{ background:#ef8b43;}
.salary_audit_list .link_btn3{ background:#fe4318;}
.pages .pagination{ margin:0;}
.pagination>li>a, .pagination>li>span { position:static !important; float:none !important;padding: 0 !important;line-height: auto !important;text-decoration: none;color: #5D5F63 !important; background:none !important; border:none !important; margin-left: 0 !important;}
.w_logo img{ vertical-align:text-bottom !important}
.advanced{ display: inline-block; height: 20px; line-height: 20px; padding: 0 15px; border: 1px solid #f00; color: #f00; font-size: 12px; border-radius: 24px;}
.hireDetail{ padding: 20px; display: none;}
.hireDetail p{ font-size: 14px; line-height: 200%; color: #333;}
.hireDetail p .ptop{ position: relative; top: 4px; cursor: pointer;}

/*审批批注*/
.annotation{ padding:20px 20px 0 20px;}
.annotation textarea{ width: 100%; max-height: 205px;height: 205px; line-height: 160%; margin-bottom: 15px;}
.uploadfile{ height: 180px;}
.uploadfile{ display: inline-block; float: left;}
.uploadfile div{ width: 96px; height: 80px; margin: 0 2px 8px 2px; float: left; position: relative;}
.uploadfile div span{display: block; margin: 0 18px; height: 59px; width: 59px; border:1px solid #ddd;}
.uploadfile div.word span{background: url("../images/icon_word.png") center no-repeat;}
.uploadfile div.excel span{background: url("../images/icon_excel.png") center no-repeat;}
.uploadfile div.pdf span{background: url("../images/icon_pdf.png") center no-repeat;}
.uploadfile div span img{ width: 100%; height: 100%; display: block;}
.uploadfile div p{ text-align: center; height: 20px; font-size: 12px; line-height: 20px; overflow: hidden; white-space: nowrap;}
.uploadfile div a.uploadClose{ display: block; position: absolute; top: -8px; right: 10px; height: 16px; width:16px; background: url("../images/icon_close.png") center no-repeat;}
.uploadfile .uploadbtn{ float: left; display: inline-block; background: url("../images/upload.png") center no-repeat; width: 60px; height: 60px; margin: 0 18px;}
#file{ display: block; height: 100%; width: 100%; opacity: 0;}

/*项目表*/
.project{ display: none; height: 520px; overflow-y:scroll}
.project table{ margin: 10px auto;}
.project td{ font-size: 15px; padding: 8px 5px; color: #333; text-align: left;}
.project td input{ text-indent: 4px; border-radius: 3px; width:60%; height: 30px; line-height: 30px; display: inline-block; border:1px solid #dadada;}
.project td textarea{ text-indent: 4px; border-radius: 3px; width:60%; height: 100px; border:1px solid #dadada;}
.project h3{border-top:1px dashed #dadada;border-bottom:1px dashed #dadada; font-weight: normal; font-size: 15px; padding: 10px 30px; color: #333; }
.project h3 a{ padding-right: 26px; color: #2a98df; text-decoration: none; float: right;}
.project h3 a.down{ background: url("../images/arr_down.png") right center no-repeat;}
.project h3 a.up{ background: url("../images/arr_up.png") right center no-repeat;}
.project td input:disabled,.project td textarea:disabled{ background: #f1f1f1;}

/*批注设置*/
.setting_annotation_btn{ margin-right: 15px}
.annotation_panel{ padding: 30px;}
.annotation_column{ padding-bottom: 10px; font-size: 14px;}
.annotation_column span.title{ float: left; width: 100px; line-height: 30px; padding: 0;}
.annotation_column input{ float: left; line-height: 28px;}
.annotation_column input[type="text"]{ border: 1px solid #ddd; width: 240px; text-indent: 6px; margin-right: 5px;}
.annotation_column select{ float: left; margin-right: 5px; border: 1px solid #ddd; line-height: 30px; height: 30px;}
.annotation_column .del{ color: #f00; line-height: 30px;}
.annotation_column div{ float: left; line-height: 30px; margin-right: 25px;}
.annotation_column div input{ margin: 8px 3px 0 25px;}
.annotation_panel .line{ background: #ddd; height: 1px; overflow: hidden; margin: 20px 0;}
.annotation_panel .add{ margin:30px 0; text-decoration: underline; display: block;}
.annotation_panel .save{ display: block; width: 280px; height: 40px; line-height: 40px; text-align: center; color: #fff; font-size: 16px; border-radius: 4px; background: #169BD5;}

.empty_table{width: 100%;text-align: center;padding:12px;}

/*集团号首页重构 20180709 for zc*/
.jt_baseinfo{ margin-bottom: 10px;}
.jt_baseinfo .box{ float: left; width: 244px; height: 222px; background: #fff; padding: 40px 0; text-align: center; margin-right: 8px;}
.jt_baseinfo .box:last-child{ margin: 0;}
.jt_baseinfo .avatar{ display: inline-block;width:90px; height:90px; overflow:hidden; background:url(../images/nophoto.jpg) center center no-repeat; border-radius: 50%;}
.jt_baseinfo .avatar img{ width: 100%;}
.jt_baseinfo .name{ color: #FF913B; font-size: 18px; padding: 15px 0;}
.jt_baseinfo .btn{ float: none; margin: 4px 0 10px 0;}
.jt_baseinfo .hollow,.right_btn .hollow{box-sizing: border-box; border: 1px solid #FF913B; background: #fff; color: #FF913B;}
.jt_baseinfo h4{ display: block; color: #3F3F3F; font-size: 18px; font-weight: normal;}
.jt_baseinfo .num{ color: #FF913B; font-size: 72px; display: block; padding:10px 0 0 0;}
.jt_baseinfo .remaining_number{ color: #FF913B; padding-bottom: 8px;}
.right_btn{ float: right;}
.right_btn .btn{ floatn:none; display:block;height:32px; line-height:32px; width:160px; font-size:14px; margin-bottom: 16px;}
.question{ position: relative; top: 2px; cursor: pointer;}
.question img{ width: 16px;}
.assign_package{ display:none; padding: 20px; height: 330px;}
.assign_package_box{ border: 1px solid #dedede; padding: 10px; margin-bottom: 10px; cursor:pointer;}
.assign_package_box h3{ color: #333; font-size: 16px; font-weight: normal;}
.assign_package_box h3 span{ color: #FF913B; font-size: 12px;}
.assign_package_box .surplus_txt{ font-size: 12px; color: #ccc; margin: 12px 0;}
.assign_package_box .radio_span{ float: right; height:36px; line-height:36px; padding-left:30px; position:relative; background:url(../images/icon.png) 4px 0 no-repeat; background-size:16px;}
.assign_package_box p span{color: #333; font-size: 12px; padding-right: 30px;}
.assign_package_box .radio_span.select{ background:url(../images/icon_hove.png) 0 0 no-repeat; background-size:22px;}
.set_package{ display: none; padding: 20px;}
.set_package_column{ margin-bottom: 10px;}
.set_package_column dt{ float: left; width: 100px; line-height: 26px; color: #333; font-size: 14px;}
.set_package_column dd{ float: left; line-height: 26px;}
.set_package_column dd input{ width: 120px; height: 26px; line-height: 26px; border: 1px solid #dedede; padding-left: 10px; margin-right: 6px;}
.assigned_package_box{ display:none; padding:15px 15px 15px 15px;}
.assign_package_page{ padding-top: 10px;}
.assign_package_page a{ color: #333; padding-right:16px; }
.job_list .orange{ color: #FF913B; padding-top: 10px;}
.assigned_package_tips{ padding-top: 10px; font-size: 12px;}
.query_used_logs{ display:none; padding:15px; height:360px; overflow-y:auto;}
.query_used_logs th{ background:#78b9ed; border:1px solid #dadada; color:#fff; padding:14px 5px; text-align:center;}
.query_used_logs td{ text-indent:0; border:1px solid #dadada; padding:14px 5px; text-align:center;}
.query_used_logs .select{ padding-bottom: 10px;}
.query_used_logs select{ float: right; border:1px solid #ccc; height: 22px;}
.query_page{ text-align: right; padding-top: 20px;}
.query_page a{ display: inline-block; margin: 0 10px; color: #333;}

/*集团人才库*/
.inline_blo { display: inline-block;}
.filter_condition select,.filter_condition input{height:32px;line-height:32px;border:1px solid #d9d9d9;padding:0 10px;margin:0 12px 0 0;cursor: pointer; box-sizing: border-box;}
.filter_condition select{ -webkit-appearance: none; -moz-appearance: none; appearance: none; background:url("../images/select_bg.png") no-repeat center right; padding-right:38px;}
.filter_line{padding:10px 0;}
.filter_condition .ora_round_btn,.filter_condition .yel_long_btn,.filter_condition .select_btn,.filter_condition .add_btn{ font-size: 14px; padding:0 12px; width:auto;height: 32px; background: #FE7418; line-height: 32px; cursor: pointer; text-decoration: none;}
.filter_condition .select_btn{ background: #4D90E8;}
.filter_condition .add_btn{ background: #7BB201;}
.fixed_wrap{display:none;width:100%;height:100%;position:fixed;top:0;left:0;z-index:999;}
.fixed_wrap .fixed_wrap_contain{position: absolute;width:500px;height:100%;left:50%;top:0;margin-left:-250px;}
.fixed_wrap .pop_container{position:relative;width:470px;height:auto;margin:100px auto;min-height:200px;border-radius:4px;z-index:99;padding:12px;background:#fff;box-shadow:0 0 10px rgba(0,0,0,.4)}
.fixed_wrap .btn_list_box{position:absolute;width:410px;height:auto;min-height:200px;border-radius:4px;left:50%;top:200px;margin-left:-210px;z-index:99;padding:12px;background:#fff;box-shadow:0 0 10px rgba(0,0,0,.4)}
.btn_list_box h3{line-height:24px;}
.btn_list_box .blist{overflow:hidden;margin:10px 0;}
.btn_list_box .blist>li{float:left;margin-bottom:10px; cursor: pointer;}
.btn_list_box .item_btn{height:40px;border-radius:4px;line-height: 40px;text-align:center;margin-right:10px;min-width:82px;border:1px solid #ccc;}
.btn_list_box .item_btn.active{border:1px solid #f39800;color:#f39800;}
.filter_condition .yel_border_btn{display:inline-block;font-size:14px;border-radius:2px;border:1px solid #f39800;height:24px;color:#f39800;line-height:24px;padding:0 14px;cursor: pointer;}
.filter_condition .ora_round_btn{cursor: pointer;}
.filter_condition .delete { padding-right: 4px; margin-right: 12px;}
.filter_condition .delete img { margin-left: 12px;}
.talent_list{ padding-top: 20px;}
.talent_list table td,.talent_list table th{ text-align: center; color: #666; border: 1px solid #ddd; padding: 8px;}
.talent_list table th{color: #333;}
.talent_list table .hire,.talent_list table .del,
.job_list_table .blue_round_btn,.job_list_table .ora_round_btn{ text-align: center; font-size: 14px; text-decoration: none; width: 80px; height: 30px; line-height: 30px; display: inline-block; margin: 0 2px; border-radius: 4px; cursor: pointer;}
.talent_list table .hire,.job_list_table .blue_round_btn{ color: #7BB201; border: 1px solid #7BB201;}
.talent_list table .del,.job_list_table .ora_round_btn{ color: #E05109; border: 1px solid #E05109;}
.talent_list table tr:hover td{ background: #f5f5f5;}
.talent_list table tr:hover th{ background: #fff;}
.hire_box{ display:none; padding: 20px; height: 330px;}
.job_list_table td{border:1px solid #ccc;padding:8px; text-align: center;}
.page_navigator{position:relative;margin:12px auto;text-align: center;}
.page_navigator .nav_item{display:inline-block;height:28px;line-height:28px;font-size:16px;color:#272729;padding:0 20px;border:1px solid #cccccc;margin-right:20px;}
.page_navigator .nav_item.disable{color:#cccccc;}
.empty_tip{text-align: center;font-size:20px;color:#fe7418;line-height:2;padding:30px 0 50px;}
.nojob{padding: 90px 0 20px 0 !important; min-height: 140px !important; text-align: center;}
.nojob h3{ font-size: 22px; padding-bottom: 40px;}
.nojob a.btn{ background:#ff6600; color:#fff;display: inline-block;  width: 160px; height: 40px; line-height: 40px; font-size: 20px; text-align: center; border-radius: 4px; text-decoration: none;  cursor: pointer;}







