.warp{ width:1000px; margin:10px auto;}
.warp_l{ width:190px; float:left; padding-bottom:40px;}
.warp_r{ width:800px; float:right;}
.download-code_box{ display:none;}
body{ background:#f3f5f6;}
[v-cloak]{display:none;}
ul,.clearfix{zoom:1;}
ul:after,.clearfix:after{ content:""; clear:both; height:0; visibility:hidden;}

/*报名管理*/
.banner_box_imgs a{ overflow:hidden; display:block; width:800px;}
.banner_box_imgs img{ margin-left:-100px;}
.notice{ height:40px; line-height:40px; padding:0 20px; background:#fef9e5; position:relative; margin-top:10px;}
.notice .close{ position:absolute; right:10px; background:url(../images/close.png) center center no-repeat; width:40px; height:40px; display:block; top:0;}
.notice p{ color:#646464; font-size:14px;}
.notice p a{ color:#ff5202;}
.bread-crumb_box{ margin-top:10px;}
.list_panel{ margin:10px 0;}
.list_panel .tabs{ background:#fff; margin-bottom:1px; height:44px; line-height:44px; overflow:hidden;}
.list_panel .tabs a{ float:left; width:140px; text-align:center; height:42px; border-top:2px solid #fff; color:#aaaaaa; font-size:16px;}
.list_panel .tabs a.hot{ color:#ff923a; background:#f8f8fa; border-top:2px solid #ff923a;}
.list_panel .box{ margin-bottom:1px; background:#fff; padding:30px 20px;}

.list_panel .pages{ padding:30px 0; text-align:right;}
.list_panel .pages div{ text-align:right;}
.list_panel .pages a{ height:30px; width:30px; line-height:30px; display:inline-block; overflow:hidden; margin:0 1px; border:1px solid #ddd; text-align:center; font-size:14px; color:#333; background:#fff;}
.list_panel .pages a.hot{ color:#fff; background:#ff923a; border:1px solid #ff923a;}

.orange{ color: #FD711C;}

.content_box{ border-bottom: 2px solid #fd8100; padding-bottom: 50px;}

.inform_box{ border: 1px solid #ddd;}
.inform_header{ background-color: #f7f7f7; padding: 10px 10px; border: none; border-bottom: 1px solid #ddd;}
.inform_list{ min-height: 500px; background:#fff;}
.inform_list li{ border-bottom: 1px dashed #ddd; padding: 15px 15px;}
.inform_list li:hover .close{ display: block;}
.inform_list .title{ cursor: pointer; display:inline-block;}
.inform_list .title.unread{ font-weight: bold; padding-right:40px; background:url(../images/noread.png) right center no-repeat;}
.inform_list .title small{ color: #666; margin-right: 10px; font-weight: normal;}
.inform_list .title .close{ float: right; display: none;}
.inform_list .detail{ padding-left: 6px; overflow: hidden; display: none;}
.inform_list .cnt{ border-left: 1px solid #ddd; padding: 8px; font-size: 13px; line-height: 20px; margin-top: 15px;}

.inform_page_wrap{ float: right; padding: 25px 0;}
.inform_page_wrap li{ float: left; margin: auto 7px; border: 1px solid #dddddd; border-right: 0 solid;}
.inform_page_wrap a{ padding: 5px 10px; display: block; float: left; border-right: 1px solid #dddddd; color: #898989;}
.inform_page_wrap a.selected{ color: #fff; background-color: #fd8100;}