.warp{ width:1000px; margin:10px auto;}
.warp_l{ width:190px; float:left; padding-bottom:40px;}
.warp_r{ width:800px; float:right;}
.download-code_box{ display:none;}
body{ background:#f3f5f6;}
[v-cloak]{display:none;}
ul,.clearfix{zoom:1;}
ul:after,.clearfix:after{ content:""; clear:both; height:0; visibility:hidden;}
.font_theme{color:#fe7418;}
.fr{float:right;}
.fl{float:left;}
/*=========================================
 *=======     按钮区域     ============
 *=======================================*/
.btn{display:inline-block;cursor:pointer;width:100px;line-height:34px;height:34px;border-radius:4px;background: #f69330;color:#fff;text-align:center; margin:0 10px;text-decoration:none;}
a.btn{text-decoration:none;}
.btn_area{margin:10px -10px; text-align: center;}
.btn.btn_default{border:1px solid #f69330;color:#f69330; background: none;box-sizing: border-box;}
.btn.btn_normal{background: none;border: 1px solid #444;color:#444;}
.btn.btn_blue{background: #1E9FFF;}
.btn.btn_green{background: #7fb000;}
.btn.btn_yellow{background: #f69330;}
.btn.disable{background: #eeeeee; color:#999999;border:1px solid #eeeeee;cursor: no-drop;}


/*我的发布*/
.banner_box_imgs a{ overflow:hidden; display:block; width:800px;}
.banner_box_imgs img{ margin-left:-100px;}
.notice{ height:40px; line-height:40px; padding:0 20px; background:#fef9e5; position:relative; margin-top:10px;}
.notice .close{ position:absolute; right:10px; background:url(../images/close.png) center center no-repeat; width:40px; height:40px; display:block; top:0;}
.notice p{ color:#646464; font-size:14px;}
.notice p a{ color:#ff5202;}
.list_panel{ margin:10px 0;}
.list_panel .tabs{ background:#fff; margin-bottom:1px; height:44px; line-height:44px; overflow:hidden;}
.list_panel .tabs a{ float:left; width:140px; text-align:center; height:42px; border-top:2px solid #fff; color:#aaaaaa; font-size:16px;}
.list_panel .tabs a.hot{ color:#ff923a; background:#f8f8fa; border-top:2px solid #ff923a;}
.list_panel .notice{margin-top:0;}
.list_panel em{color:#f2944b;margin:0 4px;}

.list_panel .box{ margin-bottom:1px; background:#fff; padding:30px 20px;}
.list_panel .box_info{ float:left; text-align:left;}
.list_panel .box_info .title{ display:block; margin-bottom:6px; line-height:24px; overflow:hidden; color:#333333; font-size:18px;}
.list_panel .box_info .title a{color:#333333;}
.list_panel .box_info .title span{ color:#ff923a;}
.list_panel .box_info .title .kj_img,.list_panel .box_info .title .sp_img{ display:inline-block; position:relative; top:4px;}
.list_panel .box_info .title span.payType{ display:inline-block; background:#2a98df; position:relative; top:-2px; color:#fff; font-size:14px; border-radius:12px; padding:0 8px;}
.list_panel .box_info li{ color:#aaaaaa; font-size:14px; width:158px; margin:4px 0; float:left; height:16px; overflow:hidden; line-height:16px;}
.list_panel .box_info li.width_auto{ width:auto;margin-right:10px;}
.list_panel .box_info li span{ color:#ff923a;}
.list_panel .box_btn{ float:right; text-align:right; position:relative;top: 18px;}
.list_panel .box_btn.mid_btn{margin:-13px 0;}
.list_panel .box_btn.mid_btn .btn{display:block; }
.list_panel .box_btn.mid_btn .btn:first-child{margin-top:0;}
.mid_btn .btn{display:block;width:100px;line-height:28px;height:28px;border-radius:4px;text-align:center; margin-top:10px;}
.mid_btn .btn:hover{opacity: .9;}
.mid_btn .btn.btn_default{line-height:26px;}
.list_panel .inner_btn{ margin-bottom:10px; height:20px; line-height:20px;}
.list_panel .inner_btn a{ display:inline-block; height:20px; padding-left:24px; color:#ff923a; font-size:14px; margin-left:10px;}
.list_panel .ask{  cursor:pointer;padding-left:24px; background:url(../images/ask_icon.png) 0 center no-repeat;width: 50px !important;}
.list_panel .service-details {width: 100px !important;}
.list_panel .service-details a {color: #4D90E8;}
.list_panel .inner_btn a.refresh{ background:url(../images/refresh.png) 0 center no-repeat;}
.list_panel .inner_btn a.reason{ background:url(../images/reason.png) 0 center no-repeat;}
.list_panel .cutoff,.list_panel .pay{ cursor:pointer;width:100px; height:34px; line-height:34px; border:1px solid #ff923a; color:#ff923a; text-align:center; display:inline-block; margin-top:10px; border-radius:3px;}
.list_panel .solid_theme_btn,.list_panel .normal_btn{ text-decoration:none;width:122px; height:34px; line-height:34px;background: #ff923a; color:#fff; text-align:center; display:inline-block; margin-top:10px; border-radius:3px;}
.list_panel .normal_btn{border:1px solid #b5b5b5;background: #fff; color:#666;}
.list_panel .solid_theme_btn:hover{background:#ff923a;}
.list_panel .normal_btn:hover{background:#fefefe;color:#444;}
.list_panel .applyMg{ position:absolute; right: 230px;top: 0px; height:70px; width:98px; background:#f8f8fa; border:1px solid #dcdcdc; border-radius:3px; text-align:center; cursor:pointer;}
.list_panel .applyMg h4{ padding-top:8px; color:#646464; font-size:24px; padding-bottom:6px;}
.list_panel .applyMg p{ color:#aaaaaa; font-size:14px;}
.list_panel .applyMg p span{ display:inline-block; background:#ff923a; padding:0 3px; border-radius:2px; color:#fff; margin-left:3px;}
.list_panel .cutoff_status{ position:absolute; right:210px; top:30px; font-size:14px; width:100px;}
.list_panel .cutoff_status2 { position:absolute; right:340px; top:30px; font-size:14px; width:100px;}
.list_panel .job_type{ position:absolute; right:260px; top:30px; font-size:14px; width:100px; color:#fe4318;}
.list_panel .cutoff_status.s1,.list_panel .cutoff_status2.s1{ color:#2674d1;}
.list_panel .cutoff_status.s2,.list_panel .cutoff_status2.s2{ color:#ff923a;}
.list_panel .cutoff_status.s3,.list_panel .cutoff_status2.s3{ color:#fe4318;}
.list_panel .pages{ padding:30px 0; text-align:right;}
.list_panel .pages div{ text-align:right;}
.list_panel .pages a{ height:30px; width:30px; line-height:30px; display:inline-block; overflow:hidden; margin:0 1px; border:1px solid #ddd; text-align:center; font-size:14px; color:#333; background:#fff;}
.list_panel .pages a.hot{ color:#fff; background:#ff923a; border:1px solid #ff923a;}
.list_panel .nodata{ background:#fff; text-align:center; padding:150px 0;}
.list_panel .nodata p{ color:#3f3f3f; font-size:20px; line-height:60px;}
.list_panel .nodata .txt{ color:#3f3f3f; font-size:20px; line-height:1.2;margin-bottom:30px;}
.list_panel .nodata .small{ font-size:14px; line-height:2;}
.list_panel .nodata em{color:#ff0000;}
.list_panel .nodata a{ color:#fe7418; font-size:20px;}

/*
**新商业 20180704
*/
.box_btn .options-btn .btn-cell {float: left;width: 110px;}
.box_btn .options-btn .opt {margin-bottom: 16px;}
.options-btn .effect-service { position:relative;background:#5492E3;border-radius:4px;color: #ffffff;border:1px solid #5492E3;}
.options-btn .effect-service:after{ content: ""; display: block; position: absolute; width: 30px; height: 16px; top: -8px; right: -10px; background: url("../images/icon_hot.png") center no-repeat;}
#effec_info_box .top-title {height: 46px;line-height: 46px;padding: 0 20px;}
#effec_info_box header ul li {float:left;font-size: 14px;margin-right: 40px;color: #333333;cursor: pointer;}
#effec_info_box header ul li.active {border-bottom: 2px solid #FE7418;color: #FE7418;}
#effec_info_box .tab-content { clear: both; border-top: 1px solid #DDDDDD;}
#effec_info_box .consume-box{padding: 0 20px;}
.consume-box .consume-intro ul {width: 100%;}
.consume-box .consume-intro ul li {float: left;color: #666666;font-size: 14px;width: 33.3%;height: 40px;line-height: 40px;}
.consume-box .consume-intro ul li span {color: #FE7418;}
.consume-box .consume-detail {clear: both;}
.consume-box .consume-detail p {color: #666666;padding: 10px 0;font-size: 14px;}
.consume-detail table {border-color: #dddddd;border: 1px solid #dddddd;width: 100%;color: #666666;font-size: 12px;}
.consume-detail table td {text-align: center;height: 30px;}
.consume-detail table tbody tr:nth-child(odd) {background: #F5F5F5;}
/*分页*/
#pagings {overflow: auto;width: 226px;margin: 0 auto;padding: 19px 0;}
#pagings li {float: left;width: 22px;height: 22px;text-align: center;margin-right: 10px;}
#pagings li.prev a i {color: #000000;}
#pagings li.page {border-radius:4px;}
#pagings li.next a i{color: #000000;}
#pagings li.page a{color:#666666;}
#pagings li a{text-decoration: none;vertical-align: middle;}
#pagings li.active {background: #FF913B;}
#pagings li.active a {color: #ffffff;}
#pagings li.disabled i{opacity: .5;}

/*报名效果服务弹窗*/
#enter_set_modal .head {overflow: hidden;padding: 16px 10px 16px 40px;}
#enter_set_modal .head .tit {float: left;}
#enter_set_modal .head .tit p {font-size: 12px;color: #666666;}
#enter_set_modal .head .closeSetModal {float: right;}
#enter_set_modal .enter-form {clear: both;padding: 0 40px;margin-top: 8px;}
.enter-form .form-item {overflow: hidden;clear: both;width: 326px;}
.enter-form .form-item .label-title {float: left;margin-right: 8px;text-align: right;width: 100px;}
.enter-form .form-item input {width: 202px;height: 28px;border: 1px solid #DDDDDD; padding-left: 12px;border-radius:2px;}
.enter-form .form-item .label-title p {color: #333333;font-size: 14px;line-height: 32px;font-weight: 600;}
.enter-form input::-webkit-input-placeholder { color: #B3B3B3;font-size: 14px;}
.enter-form input:-moz-placeholder { color: #B3B3B3;font-size: 14px;}
.enter-form input::-moz-placeholder { color: #B3B3B3;font-size: 14px;}
.enter-form input:-ms-input-placeholder { color: #B3B3B3;font-size: 14px;}
.toEnterIntro a { float: right;color: #4D90E8;font-size: 12px;}
.enter-form .toEnterIntro {overflow: hidden;clear: both;padding-bottom: 12px;padding-top: 6px;}
.enter-form .add-price {width: 220px;float: right;}
.enter-form .add-price p { float: left;font-size: 12px;color: #666666;}
.enter-form .add-price span {color: #FE7418;}
.form-item .select-time .long-time { overflow: hidden;padding: 8px 0;width: 90px;float: left;cursor: pointer;}
.form-item .select-time .long-time img {float: left;width: 16px;height: 16px;padding-right: 4px;}
.enter-form .deduction-money { float: right;clear: both;text-align: right;padding: 22px 0;}
.enter-form .deduction-money p:first-of-type {color: #333333;font-size: 16px;padding-bottom: 10px;}
.enter-form .deduction-money p:last-of-type {color: #666666;font-size: 12px;}
.enter-form .deduction-money p span {color: #FE7418;}
.enter-form .deduction-money p a {color: #4D90E8;}
.enter-form .sure-btn {float: right;clear: both;padding-top: 10px;}
.enter-form .sure-btn button {width:100px;height:32px;background:#FF913B;outline: none;border-radius:4px;cursor: pointer;border:1px solid #FF913B;color: #ffffff;font-size: 14px;}
.enter-form .sure-btn button:focus {border:1px solid #FF913B;outline: none;}
.enter-form input::-webkit-outer-spin-button,
.enter-form input::-webkit-inner-spin-button {-webkit-appearance: none;}
.enter-form input[type="number"]{-moz-appearance: textfield;}
#current_rankings .rankings-data {padding: 0 10px;margin-top: 24px;}
#current_rankings .rankings-data  table  td {text-align: center;color: #333333;font-size: 14px;}
#current_rankings .rankings-data  table thead td {vertical-align: top;}
#current_rankings .rankings-data  table thead tr {height: 38px;border-bottom: 1px solid #DDDDDD;}
#current_rankings .rankings-data  table tbody td { height: 36px;}
#current_rankings .rankings-data .close-rankings {text-align: center;margin-top: 18px;}
#current_rankings .rankings-data .close-rankings button {width:60px;height:32px;background:#FF913B;border-radius:4px;cursor: pointer;border:1px solid #FF913B;color: #ffffff;font-size: 15px;}
.business-modal-set .layui-layer-content { margin: 12px;}
.business-modal-set {width: 426px !important;}
.consume_null_page {color: #999999;text-align: center;padding-top: 60px;}


/*
**我的增值服务
*/
.server-intro .search-box .select {display: inline-block;background: #f3f5f6;height: 32px;float: left;margin-right: 20px;border: 1px solid #DDDDDD;border-radius: 4px;-webkit-box-sizing: border-box; box-sizing: border-box;line-height: 32px;position: relative;vertical-align: middle;padding: 0px 12px;cursor: pointer;}
.server-intro .search-box .select .icon {display: inline-block;}
.server-intro .search-box .select .value {color: #000000;font-size: 14px;}
.server-intro .search-box .select .icon span {color: #DDDDDD;}
.server-intro .select .selecte-list {background-color: #ffffff;position: absolute;max-height: 260px;overflow-y: auto;right: 0;top: 32px;width: 100%;border: 1px solid #DDDDDD;border-top: none;-webkit-box-sizing: border-box;box-sizing: border-box;z-index: 800;}

.server-intro .select .selecte-list li {padding-left: 12px;height: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.server-intro .select .selecte-list li:hover {background-color: #f3f5f6;}
.server-intro {padding: 20px;background: #ffffff;}
.server-intro .search-box {padding-bottom: 14px;}
.server-intro .search-box .all-jobs-select .icon {float: right;}
.server-intro .search-box .all-server-select .icon {float: right;}
.all_job_box {overflow: auto;}
.all_job_box .all_job_val {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: left;max-width: 140px;}



.server-intro .search-box .all-jobs-select {width: 180px;}
.server-intro .search-box .all-server-select {width: 120px;}
.search-box .search-btn {width:64px;height:32px;background:#5492E3;box-sizing: border-box;border-radius:4px;border: none;color: #ffffff;outline: none;cursor: pointer;}
.server-intro .server-data table {border: 1px solid #DDDDDD;font-size: 12px;color: #666666;}
.server-intro .server-data table td {text-align: center;height: 32px;}
.server-intro .server-data table tbody tr:nth-child(odd) {background: #F5F5F5;}
.server-intro .server-data {clear: both;}
.hidden {display: none !important;}
.list_empty_page {text-align: center;padding: 200px 0;color: #999999;font-size: 16px;}
.selecte-list .more {text-align: center;background-color: #f3f5f6;}
.selecte-list .more span {font-size: 16px;}
/*分页*/
#server_pagings {overflow: auto;float: right;padding: 19px 0;}
#server_pagings li {float: left;width: 32px;height: 32px;line-height: 32px;text-align: center;margin-right: 10px;border: 1px solid #D9D9D9;cursor: pointer;border-radius:6px;}
#server_pagings li.prev a i {color: #000000;}
#server_pagings li.next a i{color: #000000;}
#server_pagings li.page a{color:#666666;}
#server_pagings li a{text-decoration: none;vertical-align: middle;}
#server_pagings li.active {background: #FF913B;}
#server_pagings li.active a {color: #ffffff;}
#server_pagings li.disabled i{opacity: .5;}
.server-intro .server-pages {overflow: hidden;}
/*每日任务*/
.daily_tasks_box {background-color: #ffffff;}
.daily_tasks_box .banner img {width:800px;height:120px;display: block;}
.daily_tasks_box table .maobi img {width: 32px;height: 32px;}
.daily_tasks_box table .publish {color: #333333;font-size: 14px;font-weight: bold;}
.daily_tasks_box table .publish_one,
.daily_tasks_box table .add_maobi,
.daily_tasks_box table .num  {color: #333333;font-size: 14px;}
.daily_tasks_box table .option_btn button {width:100px;height:32px;border-radius:4px;color: #ffffff;font-size: 14px;outline: none;border:none;cursor: pointer;}
.daily_tasks_box table .option_btn .to_complete {background:#FF913B;}
.daily_tasks_box table .option_btn .over_complete {background:#CCCCCC;}
.daily_tasks_box table {width: 100%;}
.daily_tasks_box table td {text-align: center;height: 65px;}
.daily_tasks_box .tasks_list {padding: 34px 0 44px 0;}
.tasks_list .task_new {border-radius: 2px;border: 1px solid #FE7418;font-size: 12px;color: #FE7418;width: 60px;padding: 2px 0;}


.msg_box{ display:none;}
.msg_title{ color:#f39900; font-size:18px; border-bottom:2px solid #bdbdbd; padding-bottom:6px; margin-bottom:12px;}
.msg_content{ line-height:160%; font-size:14px; height:390px; overflow-y:auto;}

/*咨询*/
.consult_overfly{ display:none; background:#000; opacity:0.5; top:0; left:0; bottom:0; right:0; z-index:1; position:fixed;}
.g-consult_box{ position: fixed; left: 50%; top:50%; margin:-307px 0 0 -300px; width: 600px; height:614px; z-index: 2; font-family:"微软雅黑";}
.m-consult_box.z-anti .arr_up{ top: auto; bottom: -11px; background: url(../images/arr_down.png) no-repeat center top;}
.m-consult_box{ display: none; border: 1px solid #a4a4a4; background-color: #fff; line-height: normal; color: #333; font-size: 13px;}
.m-consult_box .arr_up{ position: absolute; top: -11px; left: 50%; margin-left: -10px; width: 20px; height: 11px; background: url(../images/arr_up.png) no-repeat center bottom;}
.m-consult_box .g-hd{ border-bottom: 2px solid #ffa91e; position: relative;}
.m-consult_box .g-pr{ position: absolute; right: 10px;}
.m-consult_box .g-bd{}
.m-consult_box .g-pv10{ padding-top: 10px; padding-bottom: 10px;}
.m-consult_box .g-ph10{ padding-left: 10px; padding-right: 10px;}
.m-consult_box .g-pl60{ padding-left: 60px;}
.m-consult_box .g-bb1{ border-bottom: 1px solid #ddd;}

.m-consult_box_list .item{ border-bottom: 1px solid #ddd;}
.m-consult_box_list .item .loading{ padding: 80px 0;}
.m-consult_box_list .item .no_consult{ padding: 40px 0;}
.m-consult_box_list .wrap_cmn{ padding: 10px 10px 10px 55px; position:relative;}
.m-consult_box_list .uname{ width: 200px; display:block; color:#49c0fe;}
.m-consult_box_list .male{ color: #2674d1;}
.m-consult_box_list .female{ color: #e946bd;}
.m-consult_box_list .cmn{ word-break: break-all; display: block;}
.m-consult_box_list .i_reply{ background-color: #f5f5f5;}
.g-consult_box_page{ height: 45px; line-height: 45px;}
.m-consult_box_page a{ color: #666;}
.m-consult_box_page a.z-crt{ color: #f60;}
.m-consult_box .title{ height:35px; line-height:35px; background:#f19725; text-indent:10px; color:#fff; font-size:18px;}
.m-consult_box .title a{ color:#fff; float:right; margin:10px 10px 0 0;}
.m-consult_box .cnt{ height:540px; overflow-y:auto;}
.m-consult_box .problem{ padding:28px 20px 15px 20px; color:#333333; font-size:15px;}
.m-consult_box .problem span{ color:#f19725;}
.m-consult_box .problem .reply_all_btn{ float:right; color:#aaaaaa; font-size:15px;}
.m-consult_box .problem .reply_all_btn.orange{ color: #e95700;}
.m-consult_box .c_avatar{ width:40px; height:40px; border-radius:6px; position:absolute; top:6px; left:0;}
.m-consult_box .single_replay{ position:absolute; top:12px; right:10px;}

.u-reply{ display: none; background-color: #f5f5f5; border-top: 1px solid #ddd; zoom: 1;}
.u-reply .ipt{ min-height: 1em; border: 1px solid #ddd; background-color: #fff; padding: 5px 5px; word-break: break-all; color: #999; outline: none;}
.u-reply .ipt.focus{ border-color: #f90; color: #333;}
.u-reply .act{ margin-top: 10px;}
.u-reply .count{ margin-right: 20px; color: #999;}
.u-reply .count i{ font-style: normal;}
.u-reply .sbm{ background-color: #ffbf9f; color: #fff; border: 0; padding: 4px 10px; border-radius: 3px; cursor: pointer;}
.u-reply .sbm.enable{ background-color: #ff8140;}
.orange{ color: #e95700;}
.blue{ color: #2674d1;}
.green{ color: #51b886;}
.grey{ color: #8E8E8E;}
.t_c{ text-align: center;}
.t_l{ text-align: left;}
.t_r{ text-align: right;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-fl{ float: left;}
.f-fr{ float: right;}
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}


/*好友激励开关*/
.switchShareList,.shareList{display:none; background:#fff;}
.switchShare{ text-align:center;}
.switchShare h1{ color:#ee4a1e; font-size:25px; font-weight:normal; padding-bottom:10px;}
.switchShare .share_form{ padding:10px 0; text-align:left;}
.switchShare .share_form label span{ color:#ff3700; padding-right:10px;}
.switchShare .share_form input,.switchShare .share_form select{ width:160px; height:26px; line-height:26px; border:1px solid #ddd;}
.switchShare .share_link{ color:#5b93f7; font-size:14px;}
.switchShare .share_link a{ margin:0 20px;}
.switchShare .h28{ height:48px; overflow:hidden;}
.switchShare table{ margin:0 auto;}
.switchShare table th{ background:#d6f5ff; height:40px; line-height:40px; text-align:center; border:1px solid #e3e3e3;}
.switchShare table td{ height:40px; line-height:40px; text-align:center; border:1px solid #e3e3e3;}
.sharePages{ width:92%; margin:0 auto; padding-top:20px; color:#5D5F63; font-size:15px;}
.sharePages .pages_l{ float:left;}
.sharePages .pages_r{ float:right;}
.sharePages .pagination { float:left; padding-left: 0;border-radius: 4px;border: 1px solid #ddd;}
.sharePages .pagination>li { float:left;border-right: 1px solid #ddd;height: 32px; line-height: 32px; padding: 0 8px;}
.sharePages .pagination>li:last-child{ border:0;}
.sharePages .pagination>li a{color:#5D5F63; font-size:15px;}
.sharePages .pagination>li a:hover{ text-decoration:none;}
.sharePages .pagination>li.disabled{ background:#eee;}
.sharePages .pagination>li.disabled a{ cursor:no-drop;}
.goto { float: right; height: 34px; line-height: 34px; padding-left: 15px;}
.goto_btn { height: 32px; line-height: 32px; padding: 0 8px; border: 1px solid #ddd; border-radius: 2px; margin-left: 4px; display: inline-block; float: right;
cursor: pointer;}
.goto div { display: inline-block;}
.goto input { height: 32px; line-height: 32px; width: 34px; border: 1px solid #ddd; text-align: center; margin-left: 4px; float: right;}
.share_form .column{ padding-bottom:12px;}
.settingList{ min-height:350px;}

/*领队端*/
.list_panel .box_info li.is_share_money,.list_panel .box_info li.setting_img{ width: 80px; color:#2674d1; text-decoration:underline; cursor:pointer;}
.switchShareList{ padding:20px; height:426px;}
.upload_warp{ text-align: center; padding: 20px 0 0 0;}
.upload_div{ display: inline-block; width: 212px; height: 212px; position: relative; line-height: 212px;}
.upload_div img{ max-height: 100%; max-width: 100%; vertical-align: middle;}
.upload_file{ position: absolute; top:0; left: 0; width: 100%; height: 100%; z-index: 1; opacity: 0; cursor: pointer;}
.upload_btn{ position: relative; text-align: center; padding-top: 15px;}
.upload_btn a{ display: inline-block; width: 120px; height: 40px; line-height: 40px; text-align: center; font-size: 16px; color: #fff; background: #2a98df; border-radius: 3px;}
.c_loading{ background: #fff; text-align: center; padding: 100px;}

/***蓝领岗位兼职详情****/
.blue_detail_wrap{width:444px;box-sizing:border-box;height:auto;padding:30px;background:#e8e8e8;}
.blue_detail_wrap .card_box{box-sizing:border-box;padding:12px 22px;background:#fff;color:#666;font-size:14px;margin-bottom:10px;}
.blue_detail_wrap .card_box h2{line-height:1.8;}
.blue_detail_wrap .card_box .img_list{margin:0 -8px;padding:0;}
.blue_detail_wrap .card_box .font_theme{color:#fe7418;}

.blue_detail_wrap .card_box .img_list>li{position:relative;width:70px;height:70px;margin:8px;display:inline-block;background-size:cover;background-position:center;background-repeat:no-repeat;}

.blue_detail_wrap .card_box p,.blue_detail_wrap .card_box pre{line-height:1.4;margin:6px 0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;}

/*************智能刷新模块***********/

.smart_box_content{padding:20px;font-size:16px;}
.smart_box_content .mar_bot{margin-bottom:10px;}
.smart_box_content select{margin-right:6px;}
.tip_box{
    margin-top:20px;
    text-align: left;
    padding:12px;
    position:relative;
    border-radius:4px;
    background: #efefef;
    line-height:1.5;
    font-size:12px;
}

.tip_box:before{
    content:'';
    position:absolute;
    left:10px;
    top:-6px;
    width:0;
    height:0;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom:8px solid #efefef;
}
.smart_box_content .tip_box{
    margin:10px 40px 20px 40px;
}
.smart_box_content .btn_area{
    margin-top:50px;
}

.tag_green{display:inline-block;cursor:pointer;font-size:12px;background: green;color:#fff !important;line-height: 20px;padding:0 8px;}
.job_refresh_box {padding:40px 38px;}
.job_refresh_box .btn_area{margin-top:20px;margin-left:0;height: 44px;text-align: left;}
.job_refresh_box .tip_box{margin-right:-12px;margin-top:0;}
.new_tag{position:relative;}
.new_tag:after{content:'NEW';display:inline-block;line-height:16px;font-size:12px;border-radius:4px;padding:0 4px;
    background: red;color:#fff;position:absolute;right:-6px;top:-10px;}

.job_refresh_box .btn_area>.btn:first-child{margin-left:0;}

.job_refresh_box .top_con{margin:0;}
.job_refresh_box .top_con a{color:blue;}
.job_refresh_box .smart_refreshing{
    border-top:1px solid #efefef;
    margin-top:20px;
    padding-top:12px;
}

.job_refresh_box .btn_area img{vertical-align: text-bottom;margin-top: 10px;}
.job_refresh_box p{margin:10px 0;}

.job_refresh_box .tip_box:before{
    right: 10px;
    left: auto;
}
.refresh_list{
    width:300px;
    padding:12px 12px 60px;
}
.refresh_list table{
    margin:0 0 12px;
    width: 100%;
}
.refresh_list table tr{
    height:40px;
    text-align: center;
    vertical-align: center;
    border-bottom: 1px solid #ccc;
    line-height: 1.5;
}
.refresh_list table tr td:first-child{
    text-align: left;
}

.refresh_list table thead{
   font-weight:bold;
}

.refresh_list p{
   color:#999;
}

.refresh_list table thead td:first-child{
    padding-left:18px;
}

.refresh_list .nav_group{
    text-align: right;
    margin:10px 0 0;
    position:absolute;
    bottom:10px;
    right:10px;
}
.refresh_list .nav_group>a{
    text-align: center;
    display:block;
    float:left;
    color:#555;
    border:1px solid #ccc;
    border-right:none;
    line-height:28px;
    padding:0 18px;
}
.refresh_list .nav_group>a.disable{
    text-align: center;
    text-decoration: none;
    display:inline-block;
    color:#ccc;
    background: #efefef;
    cursor: no-drop;
}

.refresh_list .nav_group>a:last-child{
    border-right:1px solid #ccc;
}
.empty_record{text-align: center;padding:80px 0;color:#888;}

/**引导绑定微信**/
.wx_bind{ background:url("../images/bing_wx_arrow.png") 98% center no-repeat #FFFBE6; height: 40px; line-height: 40px; padding: 0 16px; font-size: 14px; color: #000; cursor: pointer; display: none;}
.wx_bind span{ color: #4D90E8;}
.access_wx{ background: #fff; padding: 0 80px; margin-top: 10px;}
.access_wx_box{ padding:40px 0; border-bottom: 1px solid #D8D8D8;}
.access_wx_box:last-child{ border: none;}
.access_wx_l{ float: left; width: 170px; margin-right: 10px;}
.access_wx_l img{ margin-left: 10px;}
.access_wx_btn{ display: inline-block; cursor: pointer; width:120px; height:36px; text-align: center; font-size: 18px; color: #fff; margin-top: 20px; line-height: 36px; background:rgba(254,116,24,1); border-radius: 24px ; }
.binded{ margin-top: 20px; line-height: 22px;}
.binded span{ display: inline-block; margin-right: 6px; background: #008100; border-radius: 4px; color: #fff; font-size: 12px; padding: 0 6px;}
.binded a{ display: inline-block; text-align: left; padding-top: 4px; color: #93b0c9;}
.access_wx_txt{ float: left;}
.access_wx_txt h2{ color: #333333; font-size: 28px; padding-bottom: 20px;}
.access_wx_txt p{ font-size: 14px; color: #666666; line-height: 300%;}
.bind_box{ padding: 48px 0 0 0; text-align: center; display: none;}
.bind_box .bind_code{ border: 1px solid #ddd; padding: 10px; width: 200px; height: 200px; margin:0 auto 20px auto;}
.bind_box h6{ font-size: 18px; color: #000; padding-bottom: 10px;}
.bind_box h5{ font-size: 16px; color: #000; padding-bottom: 100px; font-weight: normal;}
.bind_box p{ font-size: 14px; color: #999;}
.bind_success{ padding: 40px 0 40px 60px; line-height: 50px; font-size: 18px; color: #000; text-align: left;}
.bind_success img{ height: 50px; margin-right: 20px; float: left;}
.hasbind{ display: none;}

.search_bar{ float: right; padding:6px 10px;}
.search_bar input{ display:inline-block; height:30px; line-height:30px; border-radius:13px; font-size:14px; outline:none;}
.search_bar .search_btn{ padding:0 24px; color:#fff; background:#3299dc; border:1px solid #3299dc; cursor:pointer; float:right;}
.search_bar .search_box{ border-radius:5px; float:right; border:1px solid #cccccc; padding:0 0 0 42px; height:30px; line-height:30px; background:url(../images/search.png) 13px center no-repeat #fff; margin-right:18px;}
.search_bar .search_txt{ border:none; width:128px; float:left; height:100%;}


/*企业认证*/
.apply_authenticate{ background: #fff; padding-bottom: 40px;}
.apply_authenticate .ad img{ display: block;}
.authenticate_cnt{ padding: 20px;}
.authenticate_cnt th{ height: 80px; width: 25%; border: 1px solid #D9D9D9;}
.authenticate_cnt th:nth-child(1){ border-top: 8px solid #D9D9D9;}
.authenticate_cnt th:nth-child(2){ border-top: 8px solid #A6B9D3;}
.authenticate_cnt th:nth-child(3){ border-top: 8px solid #59C7F9;}
.authenticate_cnt th:nth-child(4){ border-top: 8px solid #FFC36D;}
.authenticate_cnt td{ padding: 18px 5px; text-align: center; border: 1px solid #D9D9D9;}
.authenticate_cnt tr:nth-child(2n) td{ background: #f6f9fa;}
.authenticate_cnt tr:nth-child(2n) td:first-child{ background: #fff;}
.authenticate_cnt tr:last-child td:first-child{ background: #f6f9fa;}
.authenticate_cnt .orange{ color: #FF913B;}
.authenticate_cnt .apply_btn{ height: 40px; line-height: 40px; border-radius: 4px; background: #3299dc; width: 80%; display: inline-block; color: #fff;}
.authenticate_cnt .apply_btn.disabled{ background: #D9D9D9;}
.privilege_list{ text-align:center; padding: 20px;}
.privilege_list h3{ padding:0 0 18px 0; color:#333333; text-align:left;font-size:14px; font-weight:normal; border-bottom:1px solid #efefef;}
.privilege_list ul{ padding-top:30px; display:inline-block;}
.privilege_list ul li{ float:left; width:80px; text-align:center; font-size:14px; color:#666; margin:0 25px;}
.privilege_list ul.more li{ margin:0 30px;}
.privilege_list ul li i{ display:block; width:80px; height:80px; padding-bottom:12px; background-image:url(../images/rz_tq.png); background-repeat:no-repeat; background-size:auto 80px; }
.privilege_list ul li i.fbmsh{ background-position:0 0;}
.privilege_list ul li i.rzbq{ background-position:-80px 0;}
.privilege_list ul li i.tsjz{ background-position:-160px 0;}
.privilege_list ul li i.tfad{ background-position:-240px 0;}
.privilege_list ul li i.zdjz{ background-position:-320px 0;}
.privilege_list ul li i.sxjz{ background-position:-400px 0;}
.privilege_list ul li i.rwts{ background-position:-480px 0;}
.privilege_list ul li i.zrdz{ background-position:-560px 0;}
.authen_agreement{ background: #fff; padding:40px 20px;}
.authen_agreement h3{ color: #3F3F3F; font-size: 18px; text-align: center; padding-bottom: 20px;}
.authen_agreement p{ line-height: 175%; padding-bottom: 30px; font-size: 14px; color: #3F3F3F;}
.agreement_btn{ border-top: 1px solid #ddd; padding-top: 40px; text-align: center;}
.agreement_btn a{ display: inline-block; height: 38px; line-height: 38px; border: 1px solid #C8C8C8; border-radius: 4px; color: #9C9C9C; font-size: 14px; margin: 0 15px; width: 160px;}
.agreement_btn a.yes{ background: #FF913B; border: 1px solid #FF913B; color: #fff;}

/*机构认证-申请步骤*/
.online_validation{ background: #fff; padding: 20px;}
.public_box{ padding: 0; border: 0;}
.public_box .notic{padding:10px;}
.public_box .box .head{ background: #f3f3f3; color: #3F3F3F;}
.online_validation .pic_box{border: 1px dashed #808080; width: 250px; height: 200px; text-align: center; margin: 15px 0px; float: left;}
.online_validation .pic_img{max-width: 230px; height: 180px; margin-top: 10px; border: none;}
.exp_box{float: left; margin-left: 80px;}
.public_box .submit_btn{ display: inline-block; height: 32px; line-height: 32px; width: 152px; background: #FF913B; border-radius: 4px; color: #fff; font-size: 14px; margin: 50px 0 0 20px; padding: 0;}
.prevPage{ display: inline-block; height: 32px; line-height: 32px; color: #2B80F3; font-size: 14px; margin-left: 20px;}
.exp_box_img{border: 1px dashed #808080; width: 200px; height: 150px; text-align: center; margin: 15px 0px; float: left;}
.exp_box_img img{max-width: 180px; height: 130px; margin-top: 10px; border: none; cursor: pointer;}
.exp_box_tit{margin-top: 15px; float: left; width: 60px;}
.input_div{ padding:20px;}
.input_div dl{ zoom: 1; padding-bottom: 12px;}
.input_div dl:after{ content: ""; clear: both; display: block; height: 0;}
.input_div dt{ width:126px; float: left; color: #9C9C9C; font-size: 14px; line-height: 28px;}
.input_div dt span{ color: #FE4318; padding-right: 10px;}
.input_div dd{ float: left;}
.input_div dd .txt{ border: 1px solid #D9D9D9; height: 28px; line-height: 28px; padding-left: 8px; width: 212px; font-size: 12px;}
.online_validation .cont{ padding: 0 20px;}
.online_validation .tips{ background: #FFFBE6; border: 1px solid #FFE58F; height: 32px; line-height: 32px; font-size: 14px; color: #FF913B; padding: 0 8px;}

/*机构认证--等待审核*/
.validation_auditing{ background: #fff; padding: 20px;}
.m-status{ padding: 40px 0; border-top: 1px solid #D9D9D9; text-align: center;}
.m-status img{ margin-bottom: 30px;}
.m-status h6{ color: #3F3F3F; font-size: 18px; font-weight: normal;}
.m-status p{ color: #9C9C9C; font-size: 12px; padding-top: 15px;}
.m-status p a{ color: #FF913B;}

.copy_toast{ position:fixed; z-index:9999999999; text-align:center; top:18%; left:0; width:100%; height:48px; line-height:48px;}
.copy_toast span{ display:inline-block; background:#000; opacity:0.7; padding:0 20px; height:48px; line-height:48px; border-radius:24px; color:#fff; font-size:15px;}














