[v-cloak] {
	display: none;
}
.orange{ color: #e95700;}
.blue{ color: #2674D1;}
.red{ color: #f00;}
.g-b10{ margin-bottom: 10px;}
.logo_box .authenticate{ height: 40px; background-color: #fd711c; color: #fff; line-height: 40px; width: 170px; text-align: center; border-radius: 5px; font-size: 16px; margin-top: 8px;}
.logo_box .authenticate{
	transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;	/* Firefox 4 */
	-webkit-transition: background-color 0.2s;	/* Safari 和 Chrome */
	-o-transition: background-color 0.2s;	/* Opera */
}
.logo_box .authenticate:hover{ text-decoration: none; background-color: #f39800;}

.step_box{ overflow: hidden; width: 1080px; height: 35px; position: relative; left: -40px; background-color: #a4a4a4;}
.step_box li{ float: left; width: 360px; height: 35px; background-color: #a4a4a4; text-align: center; line-height: 35px; text-align: center; color: #fff;}
.step_box li.selected{ background: url(../images/step.png) no-repeat center -11px;}

.content_box{ margin-top: 6px; padding: 0 0 80px; border: 1px solid #cccccc;}
.main_wrap{padding-bottom: 30px;}

.public_box .notic{ color:#e85651; border:1px solid #ffcc67; padding: 5px 10px; background-color: #fff6e4; margin-bottom: 10px;}
.public_box .notic .notic_close_btn{ float: right; cursor: pointer;}
.public_box .box{ margin-top: 15px;}
.public_box .box .head{ background-color: #ededed; padding: 8px 10px; color: #666;}
.public_box .box .cont{ margin-top: 10px;padding-left: 20px;}

.public_box{ padding: 5px 0; position: relative;}
.public_box .box{ -display: none;}
.public_box .row{ margin-left: 100px; padding: 12px 0;}
.public_box .row .txt_left{ float: left; margin-left: -100px; color: #666}
.public_box  .question{ background:url(../images/question.png) no-repeat center; padding:0 10px; cursor:pointer; position:relative; opacity: 0.6;}
.public_box  .hint{ background:url(../images/hint.png) no-repeat center; padding:0 10px; cursor:pointer; position:relative; opacity: 0.6;}

.public_box .row .question{
	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;	/* Firefox 4 */
	-webkit-transition: opacity 0.5s;	/* Safari 和 Chrome */
	-o-transition: opacity 0.5s;	/* Opera */
}
.public_box .row .question:hover{ opacity: 1;}

.public_box .ipt_outer{ border: 1px solid #ccc; padding: 5px 5px; font-size: 13px;}
.public_box .ipt_outer input{ border: 0 none;  line-height: 18px;  outline: medium none;  width: 200px;}
.public_box .ipt_outer .year{ width: 50px;}
.public_box .ipt_outer .month{ width: 30px;}
.public_box .ipt_outer .day{ width: 30px;}

.public_box .date_list{ margin-top: -4px;}
.public_box .date_list i{ color: #e85651; cursor:pointer;}
.public_box .date_list input{ padding:0px 10px; width: 180px; height: 25px; border: 1px solid #ddd; margin-bottom: 10px; font-size: 13px;}
.public_box .date_list #timeRange_btn{  padding:0;width:auto;height:auto;margin-bottom: 0;}
.public_box .deadline{ width:120px; opacity:0; position:absolute; left:0; top: 0; height: 25px; border: none; cursor: pointer;}
.public_box .deadline_fake{ background-color:#f90; color:#fff; border: 0; height: 25px; line-height: 25px; font-size: 13px; cursor: pointer; width: 120px; text-align: center;}
.public_box .add_date{ position: relative; margin-bottom: 10px;}

.map_box{ width:500px; height:300px; border:5px solid #ccc; background:#FFF;}
.anchorBL{ display:none;}

.public_box .submit_btn{ background-color: #fc9603; opacity: 0.8; width: 200px; padding: 6px; color: #fff; text-align: center; cursor: pointer;}
.public_box .submit_btn.mid_submit_btn{ width:120px;line-height:40px;border-radius:4px;padding:0 6px;font-size:18px;}
.public_box .submit_btn{
	transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;	/* Firefox 4 */
	-webkit-transition: opacity 0.2s;	/* Safari 和 Chrome */
	-o-transition: opacity 0.2s;	/* Opera */
}
.public_box .submit_btn:hover{ opacity: 1;}
.public_box .submit_btn.disabled{ display: none; background-color: #ddd; color: #aaa; cursor: not-allowed; cursor: no-drop;}

.public_box .select{ font-size: 13px; margin-right: 5px; border: 1px solid #ccc;}
.public_box .textarea{ resize: none; width: 400px; padding: 5px 5px; font-size: 13px; margin-top: -5px; border: 1px solid #ccc;}
.public_box .checkbox input{ position: relative; top: 2px;}
.public_box .checkbox{ position: relative}
.public_box .checkbox .tis{ display: none; position: absolute; top: 30px; left: 0; width: 300px; height:30px; line-height: 30px; border:1px solid #b7b7b7; text-align: center;  background: #fff6e4;}
.public_box .checkbox .tis:before{ content: ""; position: absolute; height: 11px; width: 19px; top: -11px; left: 5px; background: url(../images/arrow_up.gif);}


.history_box{ width:210px; border-radius:6px; position:absolute; top:210px; right:20px; border:1px solid #F60; background:#f7f4ef; display: none;z-index:9;}
.history_box .h_hd_wrap{ background:#F60; height:30px; line-height:30px; color:#FFFFFF; font-size:18px; border-radius:5px; position:relative;}
.history_box .h_hd{ border-right:1px solid #FFFFFF; padding:0 30px;}
.history_box .arr_d{ border:8px solid #F60; display:block; width:0; height:0; position:absolute; top:12px; right:12px; border-top-color:#FFFFFF; cursor:pointer;}
.history_box .arr_u{ border:8px solid #F60; display:block; width:0; height:0; position:absolute; top:3px; right:12px; border-bottom-color:#FFFFFF; cursor:pointer;}
.history_box ul{ display:none; overflow:hidden;}
.history_box li{ color:#666666; height:40px; line-height:40px; border-bottom:1px solid #f9b286; padding:0 10px; text-overflow:ellipsis; white-space:nowrap; cursor:pointer;}
.history_box li:hover{ text-decoration:underline; color:#2562DD;}
.history_box li a{ text-decoration:underline; cursor:pointer;}
.history_box li a:hover{ color:#1E3ABD;}
.history_box li span{ float:right; font-size:12px;}

/* 20150818 新增 进度条 */
.m-progressbar{ text-align:center; margin-bottom:50px;margin-top: 50px; height: 30px;}
.m-progressbar ul{ display:inline-block; position:relative;}
.m-progressbar ul li{ float:left; background-color: #cccccc; width:245px; font-size:14px; color:#545454; cursor:pointer;border-top:4px solid #ccc; position: relative; }
.m-progressbar ul li i{ border-radius: 50px; line-height: 30px; font-size: 20px; color: #fff; text-align: center; font-style: normal; margin-bottom:10px; display:inline-block; width:30px; height:30px; background:#ccc;}
.m-progressbar ul li.last i{ background:#ccc url(../images/yes.png) no-repeat center center;}
.m-progressbar ul li p{text-align:center;}
.m-progressbar ul li.ok{ border-color: #f39800; color: #333;}
.m-progressbar ul li.ok i{ background-color: #f39800}
.m-progressbar ul li div{ position: absolute; width: 100%; left: 0;top:-15px; text-align: center;}

/* 20150827 */
.m-fabuzhuangtai{ }
.m-fabuzhuangtai .img{ width: 110px;}
.m-fabuzhuangtai .con{ text-align: center;}
.m-fabuzhuangtai .con .tit{ font-size: 28px; color: #333; font-family: "微软雅黑"; font-weight: 400; margin-bottom: 10px; }
.m-fabuzhuangtai .con .ms{ margin-bottom: 35px; font-size: 18px; color: #666; line-height: 25px;}
.m-fabuzhuangtai .btn a{ display: inline-block; border-radius: 10px; text-align: center; width: 100px; height: 34px; line-height: 34px; font-size: 16px; margin-right: 10px; border:1px solid #f39800; color: #f39800; background: #fff;;}
.m-fabuzhuangtai .btn a.back{ color: #f39800;}
.m-fabuzhuangtai .btn a.back:hover{ background-color: #fff; text-decoration: none; }
.m-fabuzhuangtai .btn a.rz{ background: #f39800; color: #fff;}
.m-fabuzhuangtai .btn a.rz:hover{ text-decoration: none; background-color: #de8c02;}

/*20180710 新商业模式 J5.1.0*/
.effect-server .tip p {color: #333333;font-size: 14px;}
.effect-server .btn a {width:132px;height:32px;text-decoration: none;background:#FE7418;border-radius:4px;color: #ffffff;font-size: 14px;outline: none;border:none;}
.effect-server {width: 540px;margin: 0 auto;height: 32px;line-height: 32px;padding: 28px 0;}
.effect-server .tip {float: left;}
.effect-server .btn {float: right;}


/* 20150828 快结兼职 支付流程 */
.m-paycon{ padding:15px; font-family: "微软雅黑"; position: relative;}
.m-paycon .tit{ font-size: 18px; padding:0 14px;line-height:50px;height:50px;background:#f8f8fa;color: #333; margin-bottom: 20px; font-weight: 400;}
.m-paycon .con{ padding-left:15px;  font-size: 12px; color: #666; margin-bottom: 10px; font-family: "宋体";border-bottom:1px solid #dcdcdc;}
.m-paycon .con li{  margin-bottom: 10px;}
.g-payment .ms{padding-left:15px;  font-size: 12px; color: #999999; font-family: "宋体";}
.m-paycon .price{  line-height:50px;font-size: 20px; color: #ff3600; font-weight: 600; float: right;margin-right:40px;}
.g-payment .state{ width: 310px; margin-left:15px;margin-top:20px;font-size: 18px; line-height:20px; color: #333; padding: 10px 0;}
.g-payment .state em{color: #f00;}

.g-payment .state .btn{ cursor: pointer; margin-top:12px; width: 120px; height: 40px; line-height: 40px; text-align: center; background: #f39800; color: #fff; font-size: 18px; border-radius: 3px; }
.g-payment .psyfrom{  margin-bottom: 30px;}
.pay_list_page .m-paycon{ border:1px solid #e3e3e3;}
#endprice_box{ display: none;}
.m-paycon .tip_tle{margin:26px 0 16px;border-bottom:1px solid #dcdcdc;font-size:18px;color:#444;padding-bottom:12px;}
.m-paycon .tip_tle em{color:#ff3600;}

.g-payment .ts{  font-size: 12px; color: #666; margin-bottom: 10px;}
.g-payment .ts2{ font-size: 14px; color: #333333;border-bottom:1px dashed #ececec; margin-left: 25px; margin-bottom: 30px;}
.g-payment .ts span{color: #ff3600;}
.m-paycon .list{ border:1px solid #ccc; padding: 20px 10px; display: inline-block; margin-left: 25px; margin-bottom: 20px;}
.m-paycon .list input{ margin-right: 5px;}
.kf_tips{ display: none; margin-left: 20px; color:#fd8200;}
.kf_tips a{ color:#fd8200; text-decoration: underline;}

	/* 申请垫付按钮 */
.m-sqdf{ position: absolute; right: 20px; bottom: 20px; width: 185px; height: 45px; line-height: 45px; background: #f39800; font-size: 18px; text-align: center; color: #fff; border-radius: 5px;}
.m-sqdf:hover{ background: #db8900; text-decoration: none;}
	/* 使用红包 */
.m-hb{ padding: 20px; border-bottom: 1px solid #ccc; font-family: "微软雅黑";}
.m-hb .price{font-size: 16px; color: #ff3600; float: right; font-weight: 600;}
.m-hb label{ padding-left: 20px; background: url(../images/hb.png) no-repeat 5px center;}
.m-hb .je{ color: #ff0;}
	/* 支付方式列表 */
.m-payment_list{ padding: 20px;padding-bottom: 0;}
.m-payment_list .tit{ font-size: 14px; color: #333333; padding-top: 10px; margin-bottom: 20px;}
.m-payment_list .list{ padding-left:15px;}
.m-payment_list .list li{ height: 60px; line-height: 60px;margin-bottom:25px;cursor: pointer;}
.m-payment_list .list li .icon{height: 60px; width: 60px; background: url(../images/icon.png) no-repeat center center;  float: left;}
.m-payment_list .list li div{height: 58px; width: 758px;  padding:0 20px; font-size:18px; color:#333;border:1px solid #e3e3e3; float: left;}
.m-payment_list .list  .paying{ display: none; font-size:18px; color:#333; float: right;}
.m-payment_list .list  .paying .num{ color:#ff3600;}
.m-payment_list .list li.cur .icon{ background: url(../images/icon_hove.png) no-repeat center center;}
.m-payment_list .list li.cur div{ border:1px solid #f39800; box-shadow: 0 0 5px 2px  #f39800;}
	/* 支付按钮 */
.m-paypass{padding: 20px; padding-top: 0; margin-left: 70px;}
.m-paypass .tit{ font-size: 14px; color: #333333; padding-top: 10px; margin-bottom: 20px;}
.m-paypass input,.recommended{ font-size: 14px; color: #333333; line-height: 20px; padding: 7px; border:1px solid #ccc;}
.recommended{ margin:0 0 20px 90px;}
.m-paypass .forgetPass{ font-size: 12px; color: #1763bf;}
.m-paypass .btn{ margin-top: 45px;}
.m-paypass .btn a{ border-radius: 3px; float: left; margin-right: 30px; display: block; width: 120px; height: 40px; line-height: 40px; text-align: center; font-size: 18px; border:1px solid #ccc;}
.m-paypass .btn a:hover{ text-decoration: none;}
.m-paypass .btn a.ok{ background: #f39800; color: #fff; border-color: #f39800}
.m-paypass .btn a.ok:hover{ background: #cb7f01;}
.m-paypass .btn a.no,.m-paypass .btn a.do_paying{ background: #939393; border-color: #939393; color: #fff;}
.m-paypass .btn a.no:hover,.m-paypass .btn a.do_paying:hover{ background: #636161;  }
.m-paypass .btn a.back{ background: #fff; color: #f39800; border-color: #f39800;}

/* 弹窗样式*/
.m-hint{}
.m-hint h3{ padding: 25px; font-weight: 400;  font-size: 30px; font-family: '黑体'; line-height: 40px; color: #ee4a1e; text-align: center;}
.m-hint .fb_tit{ font-size: 16px; color: #666666;}
.m-hint .ts{  font-size: 16px; color: #7c7c7c; text-align: center; margin-bottom: 35px;}
.m-hint .btn{text-align: center; margin-bottom: 35px; padding:5px 15px;}
.m-hint .btn a{  font-size: 18px; color: #fff; text-align: center; margin-right: 15px;}
.u-bg_78b31a{ background-color:#78b31a }
.u-bg_f37200{ background-color:#f37200 }
.u-bg_78b31a:hover{ background-color:#669717; text-decoration: none; }
.u-bg_f37200:hover{ background-color:#d06202;text-decoration: none; }
.footer{ margin-top: 20px;}
.footer .channel{ border-top: 2px solid #fd8100;}

/* 猫任务 */
input[type=radio]{ margin-left:15px; }
.m-rwzs li{ position: relative; list-style: none; float: left; width: 90px; height: 90px; margin-right: 8px; border:1px solid #ccc; text-align: center; overflow: hidden; cursor: pointer;}
.m-rwzs li img{ width: 80%; }
.m_upimg_btn{position: relative;}
.m_upimg_btn input {opacity:0; filter:alpha(opacity=0);height: 95px; width: 100px;position: absolute; top: 0;  left: 0;z-index: 9; cursor: pointer;}
.m-fbbz li{ width: 230px; height: 40px; line-height: 40px; margin-bottom: 10px; background: #fe7418; border-radius: 5px; text-align: center; font-size: 18px; color: #fff;cursor: pointer;}
.m-fbbz li .close{ display: block; width: 40px; height: 40px;background: url(../images/bg.png) no-repeat center center; float: right; margin-right: 10px;}
.m_mrwfb_btn{ cursor: pointer; width: 160px; height: 40px; line-height:40px; color: #fff; font-size: 18px; text-align: center; background: #fe7418; border-radius: 5px; }

/* 喵任务  发布 */
#m-add_lc{ cursor: pointer;}
.m-buIindex{ display: none;}
#j-bianjibuzhou{   position: fixed; z-index: 999; left: 50%;  top: 20%; margin-left: -370px; background: #fff;  margin-top: 40px; }

#j_bzjj{ overflow: hidden;}
#j_bzjj .thumbnail{ float: left; margin-left: 5px;position: relative;}
#j_bzjj2{ overflow: hidden; margin-bottom: 10px;}
#j_bzjj2 .thumbnail{ float: left; margin-left: 5px;position: relative;}
.webuploader-pick{ width: 90px; height: 40px; line-height: 40px; padding: 0!important;;}

/* 2015 1024 新增图片上传控件，*/
.upImg_box{ margin-bottom: 10px;overflow: hidden;}
.cp_img_jian{display:none;color: #fff; background:rgba(0,0,0,0.5);position: absolute;width: 100%;left: 0;bottom: 0px; text-align: center; cursor: pointer;}
.webuploader-pick {  position: relative;  display: inline-block;  cursor: pointer;  background: #00b7ee;  padding: 0;  color: #fff;  text-align: center;  border-radius: 3px;  overflow: hidden;  width: 90px;  height: 40px;  line-height: 40px;  }
.webuploader-pick:hover{ opacity: 0.7; filter:alpha(opacity=70);}
.webuploader-container {position: relative;  cursor: pointer; width: 90px; }
.webuploader-element-invisible{ position: absolute; top: 0px; left: 0px; width: 90px; height: 60px; z-index: 9;opacity: 0; filter:alpha(opacity=0); cursor: pointer;}

/* 2015 1102 新增提示语css */
.public_box  i.checkbox{height:20px; margin-left:5px; opacity:0.9;}
.public_box  i.checkbox .tis{ text-align: left; height: auto; color: rgb(0, 0, 0); font-style: normal; padding: 5px; display: none;}
div.tis{ position: relative; margin-top:15px; padding: 5px; height:30px; line-height: 30px; border:1px solid #b7b7b7; text-align: center;  background: #fef7e5; color: #333333;}
div.tis:before{ content: ""; position: absolute; height: 11px; width: 19px; top: -11px; left: 5px; background: url(../images/arrow_up.gif);}


/*2015 1126 新增城市选择 */
.m-city_box .item{ margin-bottom: 5px;}
/* 20151130 喵任务发布页面优化 */
.g-buzhou_ts .tis{ display: none;}
.f-pr{ position: relative;}
.m-buIindex .err{ position: absolute; top: -20px; font-size: 12px; color: #ff3600; z-index: 99; display: none; }

/* 20151201  喵任务预览 */
.m-mrwyl{ width: 307px; font-size: 14px; color: #3f3f3f; font-family: '微软雅黑', '宋体'; border: 1px solid #d9d9d9; border-radius: 15px; min-height: 480px; margin: 10px auto; background: url("../images/mrwyl.png") repeat-x;}
.m-mrwyl header{ line-height: 37px; text-align: center; font-size: 14px; color: #333333; }
.m-mrwyl .tit{ margin-bottom: 15px;}
.m-mrwyl .con{ padding: 20px 15px;}
.m-mrwyl .con p{ margin-bottom: 10px;line-height: 24px; color: #9c9c9c;}

/* 20151201  喵任务预览 tuwen */
.m-yltuwen{ padding: 15px;}
.m-yltw_ms{ margin-bottom: 25px;}
.m-yltw_ms .con{ padding-left: 5px; min-height: 100px;}
.m-rwzs{}
.m-rwzs .img_box{overflow: hidden;}
.m-rwzs ul{ width:400px;}
.m-rwzs li{ width: 60px; height: 85px; float: left; margin-right:10px}
.m-rwzs li img{ width:60px;}
/* 20151201  喵任务预览 link */
.m-yllink{ }
.m-yllink .ts{ font-size: 16px; color: #333333; text-align: center; padding: 30px 0 20px 0; }
.m-yllink .btn{ margin: 0 auto; margin-bottom: 30px; display: block; width: 260px; line-height: 40px; height: 40px; font-size: 14px; color: #999999; text-align: center; border: 1px solid #9c9c9c; border-radius:4px;   }
.m-yllink .btn:hover{ text-decoration: none;}

/* 喵任务预览 wenben */
.m-ylwenben .ts{ font-size: 16px; color: #333333; text-align: center; padding: 30px 0 20px 0; }
.m-ylwenben .input{ margin: 0 auto; margin-bottom: 30px; width: 250px; padding-left: 10px; line-height: 40px; height: 40px; font-size: 14px;
	color: #999999; text-align: left; border: 1px solid #9c9c9c;}

/* 喵任务预览 tupian */
.m-ylwenben .add_img{ padding-left: 30px; margin-bottom: 70px;}

.m-yl_index{ overflow: hidden; display: inline-block;}
.m-yl_index li{ width: 10px; height: 10px; float: left; margin-right: 3px; background: #f7b284; border-radius: 10px; cursor: pointer;}
.m-yl_index li.cur{ background: #fe7418; }
.m-mrwyl footer{ text-align: center; padding: 15px;position: absolute;bottom: 0; left: 45%; z-index: 99;}

.u-fs_12{ font-size: 12px!important;}
.u-fs_14{ font-size: 14px!important;}
/* 订单详情 */
.m-dingdanxq{ position: relative; float: right;margin-top: 10px;margin-right: 40px; display: block; width: 80px; padding: 0 20px; height: 28px; line-height: 28px; cursor: pointer; font-size: 14px; border:1px solid #ccc;}
.m-dingdanxq:before{ content:""; position: absolute; right: 18px; top:10px;  width: 0px;height: 0px;border-left: 8px solid transparent; border-right: 8px solid transparent;  border-bottom: 8px solid #000; font-size: 0px;line-height: 0px;}
.m-dingdanxq.down:before{transform: rotate(180deg)}

/* 20160126 新增 1.7.1 喵任务发布页面 */
.m-xzts{ color: #1864bf; cursor: pointer;}
.m-xzts .xhx{text-decoration: underline;}
.m-xzts_con { position: absolute; z-index: 2; display: none; width: 350px; color: #333333; background: #fff; height: 400px; padding: 15px;padding-top: 25px; font-size: 14px; font-family:"宋体";background: url("../images/mrw_ts.png") no-repeat;}
.m-xzts_con .tit{ color: #666; margin-bottom: 10px; display: inline-block;}
.m-xzts_con ul li{ color: #333; font-size: 14px; line-height: 24px;}
.display-none{ display: none;}
/* 关联限制 */
.m-glxz{ position: relative;}
.m-glxz .tit{ position: relative; font-size: 12px; font-family:"宋体"; width: 180px; padding-left: 10px; height: 30px; line-height: 30px; border:1px solid #dcdcdc; cursor: pointer; }
.m-glxz .tit:before{ content: ""; position: absolute;  right: 10px; top: 10px; width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 10px solid #666666; }
.m-glxz_con{ border:1px solid #8bade4; position:absolute; z-index: 2; display: none;}
.m-glxz_con .ts{ display: block; height: 30px; line-height: 30px; padding:0 10px; font-size: 12px; color: #e75651;  background: #fff6e5;  }
.m-glxz_list{ background: #ffffff;}
.m-glxz_list li{ padding: 5px 10px; font-size: 12px; color: #333333; height: 20px; line-height: 20px;}
.m-glxz_list li input{ position: relative; top: 3px;}

/* 20160517  开启群聊  */
.u-zhuangtai{ background:#fafafa;}
.m-fabuzhuangtai .left{ width: 749px; min-height: 320px; float: left;text-align: center; overflow: hidden; border-right: 1px solid #efefef; padding-top: 60px;}
.m-fabuzhuangtai .right{ width: 250px; float: right; padding-top: 60px;}
.m-qunliao{ text-align: center;}
.m-qunliao .btn{ display: block; width: 100px; height: 28px; line-height: 28px; border-radius: 14px; margin:15px auto; cursor: pointer; }
.m-qunliao .btn.open{ border: 1px solid #6cb022; background: #6cb022; color: #fff;}
.m-qunliao .btn.close{ border: 1px solid #666; background: #fafafa; color: #666;}
.m-qunliao .f-f18{ font-size: 18px; color: #333333; margin-bottom: 10px; }
.m-qunliao .f-f16{ font-size: 16px; color: #999999; }

/* abbr0160528 重构喵任务 多城市选择 */
#cityRange_div{ position: absolute; z-index: 999; padding: 10px; border: 1px solid #aaa; background-color: #FFF;}
#cityRange_div select{ width: 160px; height: 30px; line-height: 30px; box-shadow:0px 0px 3px rgba(0,0,0,.4);}
#cityRange_btn{ width: 40px; height: 30px; line-height: 30px; box-sizing: border-box; box-shadow:0px 0px 3px rgba(0,0,0,.4); text-align: center;  float: right; margin-left:5px ; border: 1px solid rgb(169,169,169); cursor: pointer;}

/*发布兼职状态重构 20160615*/
.m-fabuzhuangtai .top{overflow: hidden;padding: 60px 0 30px 0;text-align: center; border-bottom:1px solid #dcdcdc;}
.m-fabuzhuangtai .top .ms span{ color:#fe4318;}
.m-fabuzhuangtai .bottom{ padding:30px 50px 30px 82px;}
.m-qunliao { text-align:left; padding-top:24px; height:160px; border-right:1px solid #efefef; width:418px; float:left;}
.m-qunliao img{ float:left; margin-right:20px;}
.m-qunliao .btn{ margin:15px 0 0 118px; text-align:center;}
.u-zhuangtai{ padding-bottom:0;}
.m-huiyuantequan{ float:left; padding:12px 0 0 50px;}
.m-huiyuantequan h3{ text-align:center; color:#333333; font-size:18px; padding-bottom:20px; font-weight:normal;}
.m-huiyuantequan li{ float:left; width:90px; margin:0 3px; font-size:16px; text-align:center;}
.m-huiyuantequan li a{ color:#a5a5a5; text-decoration:none;}
.m-huiyuantequan li i{ display:block; margin:0 auto; width:70px; height:70px; margin-bottom:10px; background-image:url(../images/zt_tq.png); background-repeat:no-repeat;}
.m-huiyuantequan li i.tsjz{ background-position:0 0;}
.m-huiyuantequan li i.zdjz{ background-position:-70px 0;}
.m-huiyuantequan li i.tfad{ background-position:-140px 0;}
.m-huiyuantequan li i.gdtq{ background-position:-210px 0;}
.m-huiyuantequan li i.tsjz:hover{ background-position:0 bottom;}
.m-huiyuantequan li i.zdjz:hover{ background-position:-70px bottom;}
.m-huiyuantequan li i.tfad:hover{ background-position:-140px bottom;}
.introduction_saved{ word-wrap: break-word; white-space: pre-wrap;}

/*支付详情 20160618 */
.m-paycon .con li{ font-size:14px;color:#c0c0c0;}
.m-paycon .con li em{ font-size:18px;color:#333;}
.m-paycon .total{ border-top:1px dashed #dcdcdc; width:310px; margin:16px 0 0 15px; padding:20px 0 0 0; overflow:hidden;}
.m-paycon .total_p1{ color:#666666; font-size:14px; padding-bottom:10px;}
.m-paycon .total_p2{ color:#ff3600; font-size:14px; padding-bottom:10px;}
.order_btn{ float:right; height:26px; line-height:26px; padding:0 42px 0 20px; background:url(../images/order_down.png) 87px center no-repeat; border:1px solid #cccccc; color:#333333; font-size:14px; margin-right:40px; cursor:pointer;}
.order_btn.open{  background:url(../images/order_up.png) 87px center no-repeat;}


/*喵任务发布页面优化 2016-9-13*/
.public_box .lb{ display:inline-block;}
.public_box .lb input{ width:130px;}
.webuploader-container{ display:inline-block;}
#uploader-demo .hint{ top:-12px;}
.m-fbbz { position:relative; transition:all 0.3s ease;}
.m-fbbz li{ width:318px; transition:all 0.3s ease;}
.m-fbbz li a{ display: block; float: right; height: 40px; margin-right: 10px; width: 40px; text-indent:-10000px; text-align:left;}
.m-fbbz li a.s_up{ background:url(../images/s_up.png) center center no-repeat;}
.m-fbbz li a.s_down{ background:url(../images/s_down.png) center center no-repeat;}

/*发工资页面*/
.fgz_page_list>.fgz_list:first-child{display:block;}
.fgz_list {display:none;}
.fgz_list li{height:50px;color:#666;}
.fgz_list span{height:50px;color:#999;}
.fgz_list li .user_name{color:#333333;font-size:18px;margin-right:6px;}
.fgz_list li label{color:#666;font-size:14px;}


.fgz_list li input[type="number"]{height:30px;border:1px solid #e3e3e3;padding:0 12px;}
.fgz_list li input[name="award"]{width:200px;}

.fgz_list li input[type="checkbox"]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	vertical-align: middle;
	width:20px;height:20px;margin-right:6px;background:url("../images/pay_radio.png") no-repeat bottom;}
.fgz_list li input[type="checkbox"]:checked{
	background:url("../images/pay_radio.png") no-repeat top;}
.pay-bottom{width:100%;overflow: hidden}
.pay-bottom .pay_left,.pay-bottom .pay_right{width:50%;float:left;}
/**分页**/
.pay_nav_current{font-size:14px;color:#666;float:right;text-align: right;}
.pay_navigation{color:#5D5F63; font-size:15px;margin-top:30px;}
.pay_navigation .current{text-align: right;margin-bottom:20px;}
.pay_navigation .pgna { float:right; padding-left: 0;border-radius: 4px;border: 1px solid #ddd;}
.pay_navigation .pgna>li { float:left;border-right: 1px solid #ddd;height: 32px; line-height: 32px;}
.pay_navigation .pgna>li:last-child{ border:0;}
.pay_navigation .pgna>li a{color:#5D5F63; font-size:15px; padding: 0 8px; display:block; height:100%;}
.pay_navigation .pgna>li a:hover{ text-decoration:none;}
.pay_navigation .pgna>li.disabled{ background:#eee;}
.pay_navigation .pgna>li.disabled a{ cursor:no-drop;}
.pay_navigation .goto { float: right; height: 34px; line-height: 34px; padding-left: 15px;}
.pay_navigation .goto_btn { height: 32px; line-height: 32px; padding: 0 8px; border: 1px solid #ddd; border-radius: 2px; margin-left: 4px; display: inline-block; float: right;
	cursor: pointer;}
.pay_navigation .goto div { display: inline-block;}
.pay_navigation .goto input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; height: 32px; line-height: 32px; width: 34px; border: 1px solid #ddd; text-align: center; margin-left: 4px; float: right;}

/***弹窗统一样式优化**/
._alert{border:none;}
._alert .m-hint .ts2{color:#ee4a1e;font-size:26px;margin:20px 0 20px;text-align: center;line-height:40px;}
._alert .m-hint .btn{height:40px;line-height:40px;padding:0 24px;}


/*领队端*/
.jl_row{ padding:12px 0;}
.jl_cell{ float:left;}
.jl_cell span,.jl_cell div{ color:#666; float:left; line-height:28px;}
.jl_cell div{ margin:0 30px 0 26px;}
.jl_cnt,.share_row{ display:none;}
.public_box .upload_div{ width: 100px; position: relative;}
.public_box .upload_div img{ max-width: 100px;}
.public_box .upload_btn{ position: absolute; width: 100%; height:100%; opacity: 0; left: 0; top: 0; cursor: pointer;}
.upload_loading,.upload_loading2{position:absolute; display: none; top: 0; left: 0; right: 0; bottom:0;
	z-index:999; background: url("../images/loading.gif") center center no-repeat;}
.unit_sel{ font-size: 12px;}
.annotation_btn{ display: block; width: 140px; height: 40px; line-height: 40px; text-align: center; font-size: 14px; border: 1px solid #dadada; border-radius: 3px; color: #ff0000; margin: 30px 0 0 15px;}
.fgz_page_list th.cp{ cursor: pointer;}
.labor_agreement_name{word-break: keep-all;line-height: 160%;}

/*工资单明细页*/
[v-cloak]{ display:none;}
.h30{ height:30px;}
.fgz_list .link{ color:#f39800;}
.m-paycon h2 .btn{ float:right; margin:10px; font-size:14px; color:#fff; height:30px; line-height:30px; border-radius:4px; padding:0 12px; background:#fd732e;}
.m-paycon h2 .btn.import{ background:#2a98df;}
.m-paycon h2 .btn.import2{ background:#2abbdf;}
.m-paycon h2 .link{ color:#f39800;}
.pay_left .pay_nav_current { padding-top:38px; font-size:15px; float:left;}
.details_table th { background: #78b9ed; border: 1px solid #dadada; color: #fff; padding: 16px 5px; text-align: center;}
.details_table td { text-indent: 0; border: 1px solid #dadada; padding: 16px 5px; text-align: center;}
.g-payment .state .create_salary_list{ width:auto; display:inline-block; padding:0 20px;}
.assigned_overfly{ display:none; position:fixed; top:0; left:0; bottom:0; right:0; background:#000; opacity:0.6; z-index:9;}
.assigned_box{ display:none; padding:15px 15px 0 15px; width:400px; background:#fff;height: 430px;}
.assigned_txt{ border:1px solid #ddd; height:36px; line-height:36px; text-indent:10px; margin-bottom:10px;}
.assigned_txt input{ border:none; width:90%; outline:none;}
.assigned_list{ overflow: auto; border:1px solid #ddd; height:360px; padding:10px;}
.assigned_list li{ height:36px; line-height:36px; padding-left:30px; position:relative; cursor:pointer; background:url(../images/icon.png) 4px center no-repeat; background-size:16px;}
.assigned_list li.select{ background:url(../images/icon_hove.png) 0 center no-repeat; background-size:22px;}
.assigned_btn{ height:30px; text-align:right; padding-top:15px;}
.assigned_btn a{ display:inline-block; margin:0 5px; height:30px; line-height:30px; border-radius:4px; background:#f1f1f1; color:#333; font-size:14px; padding:0 30px;}
.assigned_btn a.confirm{ background:#2e8ded; color:#fff;}
.g-payment .state .btn.disabled{ background:#ccc;}
.fgz_list li span.bold{ color: #333; font-weight: bold;}
.fgz_list li span.red{ color: #f00;}

.upload_img_icon{width:50px;height:50px;border:1px solid #999999;display:inline-block;text-align: center;}
.upload_img_icon:before{content: "+";font-size:30px;font-weight:bolder;color:#aaaaaa;line-height: 50px;}

.fgz_page_list th,.fgz_page_list td{ font-size: 14px; color: #333; font-weight: normal; padding: 10px 4px; border: 1px solid #dadada;}
.fgz_page_list td span.bold{ color: #f00; font-weight: bold;}
.fgz_page_list th{ background: #D2E7FF;}
.fgz_page_list tr:nth-of-type(2n+1) td{ background: #F5F5F5;}
.fgz_page_list .txt{ width: 100%; height:22px; line-height: 22px; background: none; border: none;}
.fgz_page_list .txt:focus{ border: 1px solid #dadada;}
#salary_page_list tr{ display: none;}
#salary_page_list tr.active{ display: table-row;}
.fgz_page_list .date_txt{ cursor:pointer;}
.fgz_page_list .date_sel,.approve_date_sel{ position: relative; z-index:1;}
.fgz_page_list .date_sel.active,.approve_date_sel.active{ z-index: 100;}
.fgz_page_list .date_box ,.approve_date_box{ position: absolute;top: 32px;left: 0;}
.date_overfly{ position: absolute; z-index: 9; width: 100%; height: 100%; top: 34px; left: 0; opacity: 0.4; cursor:no-drop; background: #fff;}
.approve_date_txt{display: inline-block; height: 26px; line-height: 26px; padding: 0 15px; background: #1E9FFF; color: #fff; cursor: pointer; border-radius: 2px;}

/************** 全职岗位发布 样式重构 **************/

.publish_form{position:relative;}
.publish_form .form_head{ background-color: #ededed; padding: 8px 10px; color: #666;}
.publish_form .form_cont{ padding-left:25px;padding-top:16px;}
.publish_form .form_row{ position:relative;margin-bottom:12px;overflow: hidden;padding-left:18px;}
.publish_form .form_row .form_right{ float:left;}
.publish_form .form_row>label {width:72px;position:relative;display:block;color:#666666;float:left;line-height: 30px;}
.publish_form .form_row.required>label:before{display:inline-block;content:"*";font-size:16px;color:red;position:absolute;left:-12px;}
.publish_form .form_row select,.publish_form .form_row input{font-size:16px;line-height:30px;height:30px;color:#333333;background:#fff;box-sizing: border-box;border:1px solid #dcdcdc;text-align: left;padding:0 12px;}
.publish_form .form_row input[type="checkbox"]{vertical-align: middle;margin-right:4px;}
.publish_form .form_row small{color:#999;}

.publish_form .form_row textarea{border:1px solid #dcdcdc;width:426px;height:150px;padding:12px;}
.publish_form .form_row .short_input{width:80px;}
.publish_form .form_row .mid_input{width:110px;}
.publish_form .form_row select:-ms-input-placeholder{font-size:14px;}
.publish_form .form_row select:-moz-placeholder{font-size:14px;}
.publish_form .form_row select::-webkit-input-placeholder{font-size:14px;}
.publish_form .form_row input:-ms-input-placeholder{font-size:14px;}
.publish_form .form_row input:-moz-placeholder{font-size:14px;}
.publish_form .form_row input::-webkit-input-placeholder{font-size:14px;}
.form_row .small{font-size:12px;color:#999999;padding:9px 0;line-height: 30px;}
.publish_form .split_span{margin:0 12px;}
.publish_form .input_tip{color:#e95700;margin:0 12px;}
.publish_form .address_row{margin:8px 12px 0 0;}
.publish_form .address_detail{vertical-align:middle;display:inline-block;padding:0 12px;font-size:16px;line-height:30px;height:30px;margin-right:12px;overflow:hidden;min-width:340px;background:#fff;box-sizing: border-box;border:1px solid #dcdcdc;}
.publish_form .address_detail input{width:300px;border:none;  outline:none;padding:0;}

.upload_group{overflow: hidden;padding-top:16px;}
.upload_group .upload_item{position:relative;float:left;margin:0 12px 12px 0;width:71px;height:71px;border:1px solid #dcdcdc;}
.upload_group .upload_item .icon_delete{position:absolute;right:-8px;top:-8px;z-index:99;width:18px;height:18px;background:url("../images/icon_delete.png") center no-repeat;background-size: contain;}

.upload_group .upload_item img{max-width: 100%;max-height:100%;}
.upload_group .do_upload{background:url("../images/upload.png");border:none;cursor: pointer;}
.history_box ul.history_list{ display:block;}
.submit_box{margin-left:90px;}
.submit_box .xieyi{margin:12px 0;}
.submit_box .left_tip{margin:12px 0;}
.check_blue{border:1px solid #4c85cb;color:#4c85cb;}


/****全职岗位发布成功***/
.publish_success_box{padding-top:120px;padding-bottom:200px;background:#fafafa;text-align:center;}
.publish_success_box .success_img{height:90px;margin-bottom:30px;}
.publish_success_box .text_content{margin-bottom:40px;}
.publish_success_box .text_content p{font-size:30px;color:#333333;line-height: 1.4;margin-bottom:6px;}
.publish_success_box .text_content small{font-size:14px;color:#333333;margin:8px;}
.publish_success_box .text_content em{color:#ff7e2b;}
.publish_success_box .link_btn{font-size:20px;color:#ff7e2b;text-decoration: underline;}



/*审批批注*/
.annotation{ padding:20px 20px 0 20px; display: none; max-height: 560px; overflow-y: auto}
.annotation textarea{ width: 99%; max-height: 105px;height: 105px; line-height: 160%; margin-bottom: 15px;}
.uploadfile{ height: 180px;}
.uploadfile{ display: inline-block; float: left;}
.uploadfile div{ width: 96px; height: 80px; margin-bottom: 8px; float: left; position: relative;}
.uploadfile div span{display: block; margin: 0 18px; height: 59px; width: 59px; border:1px solid #ddd;}
.uploadfile div.word span{background: url("../images/icon_word.png") center no-repeat;}
.uploadfile div.excel span{background: url("../images/icon_excel.png") center no-repeat;}
.uploadfile div.pdf span{background: url("../images/icon_pdf.png") center no-repeat;}
.uploadfile div span img{ width: 100%; height: 100%; display: block;}
.uploadfile div p{ text-align: center; height: 20px; font-size: 12px; line-height: 20px; overflow: hidden; white-space: nowrap;}
.uploadfile div a.uploadClose{ display: block; position: absolute; top: -8px; right: 10px; height: 16px; width:16px; background: url("../images/icon_close.png") center no-repeat;}
.uploadfile .uploadbtn{ float: left; display: inline-block; background: url("../images/upload.png") center no-repeat; width: 60px; height: 60px; margin: 0 18px;}
#file{ display: block; height: 100%; width: 100%; opacity: 0;}
.annotation_column{ padding-bottom: 10px;}
.annotation_column dt{ width: 120px; line-height: 24px; font-size: 14px; float: left;}
.annotation_column dd{ width: 570px; float: left;}
.annotation_column dd .txt{ height: 24px; line-height: 24px; border: 1px solid #dadada; width: 70%; padding-left: 10px;}
.annotation_column dd .no_border{ border: none;}
.annotation_column dd .textarea{ height: 100px; line-height: 160%;}
.annotation_column dd .sel_txt{ width: auto;}

/*增值服务套餐 优惠码*/
.discount{margin: 30px 0 60px 16px;}
.discount_txt{ width: 300px; float: left; font-size: 14px; color: #333333;line-height: 20px;padding: 7px;	border: 1px solid #ccc;}
.discount_btn{ height: 34px; line-height:34px; background: #ccc; color: #fff; border-radius: 3px; text-align: center; width: 84px; float: left; margin-left: 20px; cursor: no-drop;}
.discount_price{ display: none;}
.discount .icon{height: 34px; width: 70px; background: url(../images/icon.png) no-repeat center center;  float: left;}
.discount.active .icon{background: url(../images/icon_hove.png) no-repeat center center;}
.discount.active .discount_btn{ background: #169bd5; cursor: pointer;}
.m-paycon_package .tit{ height: auto;}
.m-paycon_package pre.package_cnt{ line-height: 180%; font-family: "微软雅黑"; padding-bottom: 10px; display: block; padding-left: 20px;}

/***生成工资页面****/
.pay_percent_wrap{padding:20px;margin:0 auto;}
.pay_percent_wrap h2{margin-bottom:8px;}
.pay_percent_wrap h2,.pay_percent_wrap p{line-height:1.4}
.pay_percent_wrap .font_strong{color:red;}
.pay_percent_wrap .fgz_page_list{margin:12px 0;}
.pay_percent_wrap .fgz_page_list .empty_table{text-align: center;}
.pay_percent_wrap .btn_area{text-align: right;}
.pay_percent_wrap .confirm_btn,.pay_percent_wrap .cancel_btn{display:inline-block;
	text-decoration: none;
	background: #169bd5;border:1px solid #169bd5;color:#fff;margin-right:18px;line-height: 32px;padding:0 12px;border-radius: 4px;}
.pay_percent_wrap .cancel_btn{border:1px solid #666666;
	background: #fff;color:#666666;}
.pay_percent_wrap .confirm_btn:hover{
	background: #0b87bd;}
.pay_percent_wrap .cancel_btn:hover{color:#333;border-color:#999;}
.pay_percent_wrap .page_nav a{color:#333;}
.pay_percent_wrap .page_nav a.disabled{color:#999;    cursor: no-drop;text-decoration: none;}
.sign_in_rate{ display: inline-block; font-size: 14px; padding-left: 30px;}
.sign_in_rate img{ margin: 0 3px; cursor: pointer;}

/********发布全职岗位*********/
.inline_checkitem{display:inline-block;margin-right:10px;color:#666666;}
.inline_checkitem  input[type="checkbox"]{margin-right:0;}

/*发布兼职校验错误*/
.error_tips{ color: #ff3300; font-size: 12px; display: none;}
.right_tips{ display: inline-block; padding-left: 24px; background: url("../images/list-icon.png") 0 0 no-repeat; background-size: auto 100%; display: none; color: #55cc62;}
.error_row .error_tips{ display: inline-block;}
.right_row .right_tips{ display: inline-block;}
.public_box .select{ width:210px; padding: 5px 5px; font-size: 13px;}
.public_box .short{ width: auto;}

/**引导绑定微信**/
.wx_bind{ background:url("../images/bing_wx_arrow.png") 98% center no-repeat #FFFBE6; height: 40px; line-height: 40px; padding: 0 16px; font-size: 14px; color: #000; cursor: pointer; width: 660px; margin: 0 auto; display: block;}
.wx_bind:hover{ text-decoration: none;}
.wx_bind span{ color: #4D90E8;}


/*发布成功后分享图*/
.content_box{ position: relative;}
.main_wrap{ position: relative;	z-index:1; background: #fff;}
.download_share_pic{ box-sizing: border-box; z-index: 0; padding: 22px 38px 10px 38px;width:620px;	background:#ffa041; position: absolute; top: 0%; left: 50%; margin:0 0 0 -310px;}
.dsp_inner{ position: relative;border-radius:8px; background: #fff; padding: 38px 0; overflow: hidden;}
.dsp_logo{ padding-top: 12px; line-height: 51px; font-size: 16px; color: #fff;}
.dsp_logo img{ float: left; margin-right: 18px;}
.dsp_inner h3{ color: #FF590D; font-size: 28px; line-height: 160%; text-align: center; font-weight: normal;}
.dsp_inner h4{ color: #FF590D; font-size: 24px; line-height: 160%; text-align: center; font-weight: normal;}
.dsp_inner .line{ border-top: 1px dashed #ddd; height: 19px; position: relative; margin: 15px 18px 0 18px;}
.dsp_inner .line:after,.dsp_inner .line:before{ content: ""; display: block; position: absolute; top: -9px; height: 19px; width: 19px; border-radius: 9px; background: #ffa041;}
.dsp_inner .line:before{ left: -27px;}
.dsp_inner .line:after{ right: -27px;}
.work_info{ padding: 26px 44px 0 72px; position: relative;}
.work_info p{ position: relative; padding-bottom: 24px; line-height: 160%;}
#m_url{ display: none;}
.work_info p img{ position: absolute; left: -35px; top: 0px;}
.work_info .dsp_code{ width: 100px; height: 100px; position: absolute; bottom: 0; right: 44px;}
#download_img{ display: none;}
.m-fabuzhuangtai .btn a.download_share_btn{ background: #ff9900; color:#fff;}
.m-fabuzhuangtai .btn a.download_share_btn:hover{ opacity: 0.8;}


