

/*
KISSY CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
维护：玉伯(lifesinger@gmail.com), 正淳(ragecarrier@gmail.com)
*/

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 14px/1.2 兼容ie Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 14px/1.2 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
body{font-family:PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,'sans-serif';}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }

/* 让ie支持html5表情 */
article, aside, footer, header, nav, section, main{ display:block;}

/* clearfix */
.clearfix:after { content: '\0020'; display:block; height:0; clear:both; visibility:hidden;}
* html .clearfix{zoom:1;} /* IE6 */
*+html .clearfix{zoom:1;} /* IE7 */

.w_main{ width:1000px; margin:auto;}


/*
header1.css
is no found! */

/*  container  */
.help_box{
	width:1000px;height:auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin:20px auto;
	padding:30px;
	border-radius: 8px;
	background:#fff;
}

.list_box .hd {
	margin-bottom: 18px;
	width:924px;
	height:70px;
	line-height:70px;
	font-size: 30px;
	background:#f8f8fa;
	color:#aaaaaa;
	font-family: 'Microsoft Yahei';
	font-weight: normal;
	padding-left: 15px;
}

.list_box .hd small {
	color: #909090;
	margin-left: 10px;
}

.help_list {
	padding-left: 15px;
	padding-bottom: 30px;
}

.help_list>li {
	padding: 16px 0;
}

.help_list .ttl {
	color: #646464;
	font-size: 20px;
	font-family: 'Microsoft Yahei';
	font-weight: bold;
	line-height: 30px;
}
.help_list .ttl .num {
	font-style:italic;
	font-size:32px;
	margin-right:16px;
	color:#ff9844;
	font-weight: 800;
	line-height: 30px;
}

.help_list .cnt {
	width: 800px;
	color: #aaaaaa;
	margin-top:12px;
	font-size: 16px;
	line-height: 1.5;

}

.sbm_box {
	padding:30px 50px;
	overflow:hidden;
	font-family: 'Microsoft Yahei';

}

.sbm_box .sbm_title{
	height: 54px;
	line-height: 54px;
	font-size: 40px;
	color: #ff923a;
	font-weight: 400;
	margin-bottom:26px;
}
.sbm_box .sbm_title small{
	font-size:18px;
	color:#d2d2d2;
	margin-left:18px;
}
.sbm_box .sbm_flex_box{
	width:920px;
}
.sbm_box .sbm_flex_box .sbm_item{
	width:290px;
	height:36px;
	box-sizing:border-box;
	position:relative;
	float:left;
	line-height:36px;
	margin-right:15px;
	border:1px solid #e6e6e6;
	color:#e6e6e6;
	border-radius:2px;
}
.sbm_box .sbm_flex_box .sbm_item label{
	margin:0 10px;
}
.sbm_box .sbm_flex_box .sbm_item input{
	background:transparent;
	border: 0px solid;
	width:242px;
	height:100%;
	position:absolute;
	right:0;top:0;
	color:#aaaaaa;
	outline: none;
}

.sbm_box .sbm_textarea {
	width: 900px;
	height: 162px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	margin-top:15px;
	color:#aaaaaa;
	border:1px solid #e6e6e6;
	resize: none;
	font-size: 14px;
	padding:10px;
	font-family: 'Microsoft Yahei';
}
.sbm_box .btn_theme{
	display:inline-block;
	float:right;
	padding:0 32px;
	margin-top:20px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	line-height:40px;
	color:#fff;
	background:#ff923a;
	font-size:16px;

}

/*  footer  */
/*

.channel a {
	color: #727272;
	padding: 0 30px;
	line-height: 40px;
}

.channel a {
	transition: color 0.4s;
	-moz-transition: color 0.4s; !* Firefox 4 *!
	-webkit-transition: color 0.4s; !* Safari 和 Chrome *!
	-o-transition: color 0.4s; !* Opera *!
}

.channel a:hover {
	color: #f60;
}
*/

/*------add by Joyan on 2016/11/22  ---------*/
.footer1{
	width:100%;
	height:240px;
	display:block;
	box-sizing:border-box;
	padding:30px 0;
	background:#ff923a;
}
.footer1 .ft_box{width:1000px;margin:0 auto;}
.footer1 .ft_box .ft_left{
	float:left;
	position:relative;
	overflow: hidden;
	width:672px;
	height:100px;
	color:#fff;
	font-size:18px;
	border-right:1px solid #fff;
	vertical-align:bottom;
}
.footer1 .ft_box .ft_left .ft_left_bot{
	width:100%;
	position:absolute;
	left:0;
	bottom: 0;
}
.footer1 .ft_box .ft_left .ft_item>a{
	color:#fff;
	text-decoration: none;
	margin-right:28px;
}
.footer1 .ft_box .ft_left .cp_right{
	margin-top:16px;
	font-size:12px;
	color:#ffc9a9;
}
.footer1 .ft_box .ft_right{
	box-sizing:border-box;
	float:left;
	width:320px;
	height:100px;
	padding-left:64px;
	color:#fff;
}
.footer1 .ft_box .ft_right .scan_img{
	float:left;
	margin-right:24px;
}
.footer1 .ft_box .ft_right .tip{
	margin:38px 0;
}
